@import '01-settings-tools/allsettings';

$exemple-colors: (
  xxs: blue,
  xs: green,
  s: yellow,
  m: orange,
  l: red,
  xl: purple,
  xxl: brown,
);

.exemple {
  width: 100%;
  height: $mu1000;

  &:after {
    font-family: sans-serif;
    text-transform: uppercase;
    display: block;
    text-align: center;
    font-size: $mu200;
    line-height: 1;
    padding-top: $mu400;
  }

  @each $key, $value in $screens {
    @include from-screen($key) {
      background-color: map-get($exemple-colors, $key);
      &:after {
        content: '#{$key} > #{$value}px';
      }
    }
  }
}
