@import "tokens";
@import "settings-tools/all-settings";
@include import-font-families();
@import "components/c.checkbox";
@import "components/c.select";
@import "components/c.tag";
@import "components/c.listbox";
@import "components/c.dropdown";

html {
  @include set-font-face();
}

.example {
  @include set-font-family();

  height: 250px;
  margin: $mu200 0;
  padding: 0 $mu200;
}
