@import 'settings-tools/_all-settings';

@include import-font-families();

@import 'components/_c.option-button';

.example {
  @include set-font-family();

  padding: 1rem;
}

.mc-option-group {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}
