@import "tokens";
@import "settings-tools/all-settings";
@include import-font-families();
html {
  @include set-font-face();
}
@import "components/c.option-button";

.example {
  @include set-font-family();

  padding: 1rem;
}

.mc-option-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
}
