@import "settings-tools/_all-settings";

@include import-font-families();

@import "generic/_g.reset";
@import "typography/_t.bodys";
@import "components/_c.modal";
@import "components/_c.button";

.example {
  @include set-font-face("regular");

  background-color: #f6f7f7;
  min-height: 500px;
  height: 100vh;
}
