@import "settings-tools/all-settings";
@include import-font-families();
@import "typography/t.bodys";
@import "components/c.modal";
@import "components/c.button";
@import "components/c.overlay";

.example {
  @include set-font-face("regular");

  background-color: #f6f7f7;
  min-height: 500px;
  height: 100vh;
}

.mc-modal__content {
  p {
    margin-top: 0;
    margin-bottom: 0;

    &:not(:last-child) {
      margin-bottom: $mu100;
    }
  }
}
