@import 'settings-tools/_all-settings';
@import 'settings-tools/_s.fonts-family.scss';
@import 'components/_c.button';

* {
  box-sizing: border-box;
}

.example {
  text-align: center;
  margin: $mu100 auto;
}
