<div class="example">
  <div class="example__col">
    <h2>Hover</h2>
    <a href="#" class="is-hover mc-button--full mc-button">Label</a>
    <a href="#" class="is-hover mc-button--full mc-button mc-button--bordered"
      >Label</a
    >
    <a
      href="#"
      class="is-hover mc-button--full mc-button mc-button--solid-primary-campus"
      >Label</a
    >
    <a
      href="#"
      class="is-hover mc-button--full mc-button mc-button--bordered-primary-campus"
      >Label</a
    >
    <a
      href="#"
      class="is-hover mc-button--full mc-button mc-button--solid-secondary"
      >Label</a
    >
    <a
      href="#"
      class="is-hover mc-button--full mc-button mc-button--bordered-secondary"
      >Label</a
    >
    <a
      href="#"
      class="is-hover mc-button--full mc-button mc-button--solid-danger"
      >Label</a
    >
    <a
      href="#"
      class="is-hover mc-button--full mc-button mc-button--bordered-danger"
      >Label</a
    >
  </div>
  <div class="example__col">
    <h2>Active</h2>
    <a href="#" class="is-active mc-button--full mc-button">Label</a>
    <a href="#" class="is-active mc-button--full mc-button mc-button--bordered"
      >Label</a
    >
    <a
      href="#"
      class="is-active mc-button--full mc-button mc-button--solid-primary-campus"
      >Label</a
    >
    <a
      href="#"
      class="is-active mc-button--full mc-button mc-button--bordered-primary-campus"
      >Label</a
    >
    <a
      href="#"
      class="is-active mc-button--full mc-button mc-button--solid-secondary"
      >Label</a
    >
    <a
      href="#"
      class="is-active mc-button--full mc-button mc-button--bordered-secondary"
      >Label</a
    >
    <a
      href="#"
      class="is-active mc-button--full mc-button mc-button--solid-danger"
      >Label</a
    >
    <a
      href="#"
      class="is-active mc-button--full mc-button mc-button--bordered-danger"
      >Label</a
    >
  </div>
  <div class="example__col">
    <h2>Focus</h2>
    <a href="#" class="is-focus mc-button--full mc-button">Label</a>
    <a href="#" class="is-focus mc-button--full mc-button mc-button--bordered"
      >Label</a
    >
    <a
      href="#"
      class="is-focus mc-button--full mc-button mc-button--solid-primary-campus"
      >Label</a
    >
    <a
      href="#"
      class="is-focus mc-button--full mc-button mc-button--bordered-primary-campus"
      >Label</a
    >
    <a
      href="#"
      class="is-focus mc-button--full mc-button mc-button--solid-secondary"
      >Label</a
    >
    <a
      href="#"
      class="is-focus mc-button--full mc-button mc-button--bordered-secondary"
      >Label</a
    >
    <a
      href="#"
      class="is-focus mc-button--full mc-button mc-button--solid-danger"
      >Label</a
    >
    <a
      href="#"
      class="is-focus mc-button--full mc-button mc-button--bordered-danger"
      >Label</a
    >
  </div>
  <div class="example__col">
    <h2>Disabled</h2>
    <a href="#" class="is-disabled mc-button--full mc-button">Label</a>
    <a
      href="#"
      class="is-disabled mc-button--full mc-button mc-button--bordered"
      >Label</a
    >
    <a
      href="#"
      class="is-disabled mc-button--full mc-button mc-button--solid-primary-campus"
      >Label</a
    >
    <a
      href="#"
      class="is-disabled mc-button--full mc-button mc-button--bordered-primary-campus"
      >Label</a
    >
    <a
      href="#"
      class="is-disabled mc-button--full mc-button mc-button--solid-secondary"
      >Label</a
    >
    <a
      href="#"
      class="is-disabled mc-button--full mc-button mc-button--bordered-secondary"
      >Label</a
    >
    <a
      href="#"
      class="is-disabled mc-button--full mc-button mc-button--solid-danger"
      >Label</a
    >
    <a
      href="#"
      class="is-disabled mc-button--full mc-button mc-button--bordered-danger"
      >Label</a
    >
  </div>
</div>
