<div class="example">
  <a href="#" class="mc-button">
    <svg class="mc-button__icon  mc-button__icon--m">
      <use xlink:href="#icon" />
    </svg>
    <span class="mc-button__label">
      Icon on the left
    </span>
  </a>
  <a href="#" class="mc-button">
    <span class="mc-button__label">
      Icon on the right
    </span>
    <svg class="mc-button__icon  mc-button__icon--m">
      <use xlink:href="#icon" />
    </svg>
  </a>
</div>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none">
  <symbol id="icon" viewBox="0 0 24 24">
    <path
      d="M17.13 16.57H8a1 1 0 0 1-1-.74L4.39 6H3a1 1 0 0 1 0-2h2.15a1 1 0 0 1 1 .74l.53 2H20A1 1 0 0 1 20.94 8l-2.87 7.87a1 1 0 0 1-.94.7zm-8.34-2h7.64l2.14-5.87H7.2z"
    />
    <circle cx="9.46" cy="19.85" r="2.15" />
    <circle cx="15.69" cy="19.85" r="2.15" />
  </symbol>
</svg>
