@import 'settings-tools/_all-settings';
@import 'layouts/_l.container';
@import 'layouts/_l.flexy';

* {
  box-sizing: border-box;
}

.example {
  @include font-scale('04', 's');
  @include font-face('regular');

  box-shadow: 0 0 0 1px $color-primary-01-500;
  margin: $mu100;
  min-height: magic-unit-rem(18);

  &__item {
    box-shadow: 1px 1px 1px 0 $color-grey-500;
    background: #fff;
    padding-top: $mu200;
    min-height: $mu600;
    min-width: $mu800;
    text-align: center;
    letter-spacing: 0.05em;
  }
}
