@use "sass:math";

// @use settings
@use "../../settings-tools" as *;

// @use component files
@use "s.datatable" as *;
@use "t.datatable" as *;

.mc-datatable {
  $parent: get-parent-selector(&);

  &__subtable {
    @include set-datatable-base();

    background-color: $color-datatable-subtable-background;

    th,
    td {
      border-bottom-color: $color-datatable-subtable-border;
    }

    thead {
      th,
      td {
        @include set-font-scale("02", "m"); // 12px / 16px

        color: $color-datatable-subtable-font;
      }
    }

    tbody {
      th,
      td {
        color: $color-datatable-subtable-font;
      }
    }
  }
}
