@use "sass:map";
@use "sass:math";
@use "@mozaic-ds/tokens" as *;
@use "../../settings-tools/s.magic-unit" as *;

$presetAdeo: false;
@if $preset == "adeo" {
  $presetAdeo: true;
}

$border-size: 0.0625rem;
$height-datatable-cell-size-s: $mu250 - $border-size;
$height-datatable-cell-size-m: $mu300 - $border-size;
$height-datatable-cell-size-l: $mu350 - $border-size;
$width-cell-checkbox: $mu125 + $mu200;
$width-cell-button: $mu150 + $mu200;
$width-cell-field: $mu1000 - math.div($mu125, 2);
$datatable-sizes: (
  "s": (
    "height": $height-datatable-cell-size-s,
  ),
  "m": (
    "height": $height-datatable-cell-size-m,
  ),
  "l": (
    "height": $height-datatable-cell-size-l,
  ),
);
$datatabke-default-celle-size: map.get($datatable-sizes, "m");
