@import 'settings-tools/_all-settings';
@import 'settings-tools/_s.fonts-family.scss';
@import 'components/_c.radio';
@import 'typography/_t.all-base-typography';
@import 'typography/_t.bodys';

.example {
  margin: $mu200 auto;
  padding: 0 $mu200;
  width: 40vw;

  &__list-item {
    list-style-type: none;
    margin: $mu100 0;
    text-align: center;
  }
}
