@import "settings-tools/all-settings";
@include import-font-families();
@import "components/c.left-icon-input";
@import "components/c.text-input";
@import "components/c.tag";
@import "components/c.listbox";
@import "components/c.loader";
@import "components/c.autocomplete";

html {
  @include set-font-face();
}

.example {
  height: 250px;
  margin: $mu200 0;
  padding: 0 $mu200;
  display: flex;
  justify-content: center;
}
