@import "tokens";
@import "settings-tools/all-settings";
@import "components/c.left-icon-input";
@import "components/c.text-input";
@import "components/c.tag";
@import "components/c.listbox";
@import "components/c.autocomplete";
@include import-font-families();

.example {
  @include set-font-face();

  height: 250px;
  margin: $mu200 0;
  padding: 0 $mu200;
  display: flex;
  justify-content: center;
}
