@import "tokens";
@import "settings-tools/all-settings";
@include import-font-families();

html {
  @include set-font-face();
}

@import "components/c.left-icon-input";
@import "components/c.text-input";
@import "components/c.tag";
@import "components/c.listbox";
@import "components/c.autocomplete";

.example {
  height: 250px;
  margin: $mu200 0;
  padding: 0 $mu200;
}
