@use "sass:math";

$accordion-sizes: (
  "s": (
    "background-open": "control-more-16",
    "background-close": "control-less-16",
    "background-size": $mu100,
    "font-size": "05",
    "icon-size": $mu150,
    "padding-right": $mu250,
    "padding-v": $mu100,
  ),
  "m": (
    "background-open": "control-more-24",
    "background-close": "control-less-24",
    "background-size": $mu150,
    "font-size": "06",
    "icon-size": $mu200,
    "padding-right": $mu300,
    "padding-v": $mu125,
  ),
);
$accordion-default-size: map-get($accordion-sizes, "m");

@mixin set-accordion-size($sizeProps, $parent) {
  $background-open: map-get($sizeProps, "background-open");
  $background-close: map-get($sizeProps, "background-close");
  $background-size: map-get($sizeProps, "background-size");
  $font-size: map-get($sizeProps, "font-size");
  $icon-size: map-get($sizeProps, "icon-size");
  $padding-right: map-get($sizeProps, "padding-right");
  $padding-v: map-get($sizeProps, "padding-v");

  #{$parent}__icon {
    height: $icon-size;
    width: $icon-size;
  }

  // TODO:
  // this code with "label" is a backup code in order not to cause a breaking change
  // it should be removed once the teams have migrated to the new version of the component
  #{$parent}__label {
    @include set-font-scale($font-size, "m");

    background-image: url("#{inline-icons($background-open, $color-font-darker)}");
    background-size: $background-size;
    padding: {
      top: $padding-v;
      right: $padding-right;
      bottom: $padding-v;
    }
  }

  // new HTML structure
  #{$parent}__title {
    @include set-font-scale($font-size, "m");
  }

  // TODO: @next - review the specificity of this selector
  button#{$parent}__trigger {
    padding: {
      top: $padding-v;
      right: $padding-right;
      bottom: $padding-v;
    }

    &::before {
      content: "";
      position: absolute;
      top: calc(50% - math.div($background-size, 2));
      right: $mu050;
      background-image: url("#{inline-icons($background-open, $color-font-darker)}");
      background-size: $background-size;
      width: $background-size;
      height: $background-size;
    }

    &:disabled {
      &::before {
        background-image: url("#{inline-icons($background-open, $color-font-light)}");
      }
    }
  }

  // TODO: @next - review the specificity of this selector
  &.is-open {
    > #{$parent}__header {
      button#{$parent}__trigger {
        &::before {
          background-image: url(inline-icons(
            $background-close,
            $color-font-darker
          ));
        }

        &:disabled {
          &::before {
            background-image: url("#{inline-icons($background-close, $color-font-darker)}");
          }

          &:disabled {
            &::before {
              background-image: url("#{inline-icons($background-close, $color-font-light)}");
            }
          }
        }
      }
    }
  }
}
