// Preset
$preset-zodio: false;
@if $preset == "zodio" {
  $preset-zodio: true;
}

// Variables
$checkbox-min-width: 20px;
$checkbox-min-height: 20px;
$checkbox-width: $mu125;
$checkbox-height: $mu125;
$checkbox-label-space: $mu100;
// Zodio properties
$checkbox-position: if($preset-zodio, relative, null);
$checkbox-container-padding-x: if($preset-zodio, $mu125, null);
$checkbox-container-padding-y: if($preset-zodio, px-to-rem(5), null);
$checkbox-label-margin: if(
  $preset-zodio,
  $checkbox-container-padding-x,
  magic-unit-rem(0.5, true)
);
$checkbox-border-radius: if($preset-zodio, null, get-border-radius("m"));
$checkbox-border-width: if($preset-zodio, get-border("s"), get-border("m"));

@mixin set-checkbox-input() {
  min-width: $checkbox-min-width;
  min-height: $checkbox-min-height;
  width: $checkbox-width;
  height: $checkbox-width;
  border-radius: $checkbox-border-radius;
  border: $checkbox-border-width solid $color-input-border;
  background: $color-input-background;
  position: relative;
  transition: all 200ms ease;
  cursor: pointer;

  &::-ms-check {
    border: $checkbox-border-width solid $color-input-border;
    background: $color-input-background;
    border-radius: $checkbox-border-radius;
    color: $color-input-checked-icon;
  }
}

@mixin set-checkbox-checked() {
  &:checked {
    background-color: $color-input-checked-background;
    border-color: $color-input-checked-border;
    background-image: url("#{inline-icons('checkmark-16', $color-input-checked-icon)}");
    background-position: center center;
    background-size: $mu100;

    &::-ms-check {
      background-color: $color-input-checked-background;
      border-color: $color-input-checked-border;
    }

    &:disabled {
      border-color: $color-input-disabled-border;
      background: $color-input-disabled-background;
      background-image: url("#{inline-icons('checkmark-16', $color-input-disabled-icon)}");
    }
  }
}

@mixin set-checkbox-container-background-base() {
  @if $preset-zodio {
    &::after {
      background-color: transparent;
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      transition: 0.3s;
    }
  }
}

@mixin set-checkbox-container-background() {
  @if $preset-zodio {
    &::after {
      background-color: #f8f3ec;
    }
  }
}
