@use "sass:math";

$border-size: 0.0625rem;
$height-datatable-cell-size-s: $mu250 - $border-size;
$height-datatable-cell-size-m: $mu300 - $border-size;
$height-datatable-cell-size-l: $mu350 - $border-size;
$width-cell-checkbox: $mu125 + $mu200;
$width-cell-button: $mu150 + $mu200;
$width-cell-field: $mu1000 - math.div($mu125, 2);
$datatable-sizes: (
  "s": (
    "height": $height-datatable-cell-size-s,
  ),
  "m": (
    "height": $height-datatable-cell-size-m,
  ),
  "l": (
    "height": $height-datatable-cell-size-l,
  ),
);

$datatabke-default-celle-size: map-get($datatable-sizes, "m");

@mixin set-datatable-base() {
  border-collapse: collapse;
  border-spacing: 0;
  caption-side: bottom;
  width: 100%;
}

@mixin set-datatable-size($sizesArgs) {
  &__table {
    tr {
      height: map-get($sizesArgs, "height");
    }
  }

  thead {
    th,
    td {
      height: map-get($sizesArgs, "height");
    }
  }
}

@mixin set-datatable-head-label() {
  @include set-font-weight("semi-bold");
  @include set-font-scale("02", "m"); // 12px / 16px

  color: $color-datatable-thead-font;
  text-transform: uppercase;
}

@mixin set-datatable-scrollbar() {
  scrollbar-color: $color-grey-600 $color-grey-100;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    background-color: $color-grey-100;
    height: $mu050;
    width: $mu050;

    &-track {
      background: $color-grey-100;
    }

    &-thumb {
      background: $color-grey-600;
    }
  }
}

@mixin set-datatable-cell-sub-text() {
  @include set-font-scale("01", "m"); // 11px / 14px

  color: $color-grey-700;
  display: block;
  font-weight: normal;
  text-transform: none;
}
