@use "sass:math";

@mixin set-line-height($size, $line-height) {
  $line-height-value: get-token(size, line, $size, $line-height);
  $size-value: get-token(size, font, $size);

  line-height: math.div($line-height-value, $size-value);
}

@mixin set-font-scale($size, $line-height: "l") {
  font-size: get-token(size, font, $size) * $magic-unit;

  @include set-line-height($size, $line-height);
}
