// Default path
$font-path: '/fonts';

@if variable-exists(local-config) {
  @if type-of($local-config) == map and map-has-key($local-config, font-path) {
    $font-path: map-get($local-config, 'font-path');
  }
}

@font-face {
  font-family: 'LeroyMerlin';
  src:
    url('#{$font-path}/LeroyMerlinSans-Web-Light.woff2') format('woff2'),
    url('#{$font-path}/LeroyMerlinSans-Web-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'LeroyMerlin';
  src:
    url('#{$font-path}/LeroyMerlinSans-Web-Regular.woff2') format('woff2'),
    url('#{$font-path}/LeroyMerlinSans-Web-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'LeroyMerlin';
  src:
    url('#{$font-path}/LeroyMerlinSans-Web-SemiBold.woff2') format('woff2'),
    url('#{$font-path}/LeroyMerlinSans-Web-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'LeroyMerlin';
  src:
    url('#{$font-path}/LeroyMerlinSans-Web-LightItalic.woff2')
    format('woff2'),
    url('#{$font-path}/LeroyMerlinSans-Web-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'LeroyMerlin';
  src:
    url('#{$font-path}/LeroyMerlinSans-Web-Italic.woff2') format('woff2'),
    url('#{$font-path}/LeroyMerlinSans-Web-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'LeroyMerlin';
  src:
    url('#{$font-path}/LeroyMerlinSans-Web-SemiBoldItalic.woff2')
    format('woff2'),
    url('#{$font-path}/LeroyMerlinSans-Web-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

$font-weights: (
  'light': 300,
  'regular': 400,
  'semi-bold': 600,
);

@mixin font-face($weight, $italic: '') {
  font-family: 'LeroyMerlin', sans-serif;

  @if map-has-key($font-weights, $weight) {
    font-weight: map-get($font-weights, $weight);
  }

  @else {
    @warn 'you are trying to use a font-weight that is not supported : "#{$weight}"';
  }

  @if $italic != '' {
    font-style: italic;
  }
}
