// Default path
$font-path: "/fonts";
$preset-adeo: false;

@if $preset == "adeo" {
  $preset-adeo: true;
}

$font-family: if($preset-adeo, "Roboto", "LeroyMerlin");

@if variable-exists(local-config) {
  @if type-of($local-config) == map and map-has-key($local-config, font-path) {
    $font-path: map-get($local-config, "font-path");
  }
}

$font-weights: (
  "light": 300,
  "regular": 400,
  "semi-bold": if($preset-adeo, 700, 600),
);

@mixin import-font-families($italic: true) {
  @font-face {
    font-family: LeroyMerlin;
    src:
      url("#{$font-path}/LeroyMerlinSans-Web-Light.woff2") format("woff2"),
      url("#{$font-path}/LeroyMerlinSans-Web-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: LeroyMerlin;
    src:
      url("#{$font-path}/LeroyMerlinSans-Web-Regular.woff2") format("woff2"),
      url("#{$font-path}/LeroyMerlinSans-Web-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: LeroyMerlin;
    src:
      url("#{$font-path}/LeroyMerlinSans-Web-SemiBold.woff2") format("woff2"),
      url("#{$font-path}/LeroyMerlinSans-Web-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @if $italic {
    @font-face {
      font-family: LeroyMerlin;
      src:
        url("#{$font-path}/LeroyMerlinSans-Web-LightItalic.woff2")
        format("woff2"),
        url("#{$font-path}/LeroyMerlinSans-Web-LightItalic.woff") format("woff");
      font-weight: 300;
      font-style: italic;
      font-display: swap;
    }

    @font-face {
      font-family: LeroyMerlin;
      src:
        url("#{$font-path}/LeroyMerlinSans-Web-Italic.woff2") format("woff2"),
        url("#{$font-path}/LeroyMerlinSans-Web-Italic.woff") format("woff");
      font-weight: 400;
      font-style: italic;
      font-display: swap;
    }

    @font-face {
      font-family: LeroyMerlin;
      src:
        url("#{$font-path}/LeroyMerlinSans-Web-SemiBoldItalic.woff2")
        format("woff2"),
        url("#{$font-path}/LeroyMerlinSans-Web-SemiBoldItalic.woff")
        format("woff");
      font-weight: if($preset-adeo, 700, 600);
      font-style: italic;
      font-display: swap;
    }
  }
}

@mixin set-font-family() {
  font-family: $font-family, sans-serif;
}

@mixin set-font-weight($weight: "regular") {
  @if map-has-key($font-weights, $weight) {
    font-weight: map-get($font-weights, $weight);
  } @else {
    @warn 'you are trying to use a font-weight that is not supported : "#{$weight}"';
  }
}

@mixin set-font-face($weight: "regular", $italic: "") {
  @include set-font-family();
  @include set-font-weight($weight);

  @if $italic != "" {
    font-style: italic;
  }
}
