$font-weights: (
  'light': 300,
  'regular': 400,
  'semi-bold': 600,
);

@mixin set-font-face($weight: 'regular', $italic: '') {
  font-family: 'LeroyMerlin', sans-serif;

  @if map-has-key($font-weights, $weight) {
    font-weight: map-get($font-weights, $weight);
  }

  @else {
    @warn 'you are trying to use a font-weight that is not supported : "#{$weight}"';
  }

  @if $italic != '' {
    font-style: italic;
  }
}
