@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(
        str-slice($string, $index + str-length($search)),
        $search,
        $replace
      );
  }

  @return $string;
}

$encoding-reference: (
  ("%", "%25"),
  // Encode "%" first, otherwise the "%" from encoded code would be encoded again (which would be bad)
  ("<", "%3C"),
  (">", "%3E"),
  ("'", "%22"),
  // Replace " with ' because that's shorter than %22 and normally working
  ('"', "'"),
  ("#", "%23"),
  ("&", "%26")
);

@function svg-encode($svg) {
  @each $char, $encoded in $encoding-reference {
    $svg: str-replace($svg, $char, $encoded);
  }

  @return "data:image/svg+xml," + $svg;
}

/* stylelint-disable max-line-length */
@function inline-icons($icon, $fill) {
  $svg: "";

  @if $icon == "cross-16" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" height="1rem" width="1rem" fill="#{$fill}" viewBox="0 0 16 16"><path d="M9.41 8l3.3-3.29a1 1 0 10-1.42-1.42L8 6.59l-3.29-3.3a1 1 0 00-1.42 1.42L6.59 8l-3.3 3.29a1 1 0 000 1.42 1 1 0 001.42 0L8 9.41l3.29 3.3a1 1 0 001.42 0 1 1 0 000-1.42z"/></svg>';
  }

  @if $icon == "tag-delete-24" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" height="1.5rem" width="1.5rem" fill="#{$fill}" viewBox="0 0 24 24"><path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm4.14 12.7a1 1 0 0 1-1.41 1.42l-2.68-2.68-2.78 2.77a1 1 0 1 1-1.41-1.42L10.63 12 7.79 9.21a1 1 0 1 1 1.42-1.42l2.84 2.83 2.74-2.74a1 1 0 1 1 1.42 1.42L13.46 12z"/></svg>';
  }

  @if $icon == "tag-delete-16" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" height="1rem" width="1rem" fill="#{$fill}" viewBox="0 0 16 16"><path d="M8 2a6 6 0 1 0 6 6 6 6 0 0 0-6-6zm2.35 7.65a.48.48 0 0 1 0 .7.48.48 0 0 1-.7 0L8 8.71l-1.65 1.64a.48.48 0 0 1-.7 0 .48.48 0 0 1 0-.7L7.29 8 5.65 6.35a.49.49 0 0 1 .7-.7L8 7.29l1.65-1.64a.49.49 0 0 1 .7.7L8.71 8z"/></svg>';
  }

  @if $icon == "checkmark-16" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" height="1rem" width="1rem" fill="#{$fill}" viewBox="0 0 16 16"><path d="M7.63 11.21a1 1 0 0 1-1.38 0l-2.92-2.6a1 1 0 1 1 1.34-1.48l2.22 2 4.41-4.34a1 1 0 1 1 1.4 1.42z"/></svg>';
  }

  @if $icon == "arrow-top-16" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" height="1rem" width="1rem" fill="#{$fill}" viewBox="0 0 16 16"><path d="M2 10.5a1 1 0 01.29-.71l5-5a1 1 0 011.42 0l5 5a1 1 0 01-1.42 1.42L8 6.91l-4.29 4.3a1 1 0 01-1.42 0A1 1 0 012 10.5z"/></svg>';
  }

  @if $icon == "arrow-left-16" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" height="1rem" width="1rem" viewBox="0 0 16 16" fill="#{$fill}"><path d="M10.5 14a1 1 0 01-.71-.29l-5-5a1 1 0 010-1.42l5-5a1 1 0 111.42 1.42L6.91 8l4.3 4.29a1 1 0 010 1.42 1 1 0 01-.71.29z"/></svg>';
  }

  @if $icon == "arrow-right-16" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" height="1rem" width="1rem" viewBox="0 0 16 16" fill="#{$fill}"><path d="M5.5 14a1 1 0 01-.71-.29 1 1 0 010-1.42L9.09 8l-4.3-4.29a1 1 0 011.42-1.42l5 5a1 1 0 010 1.42l-5 5a1 1 0 01-.71.29z"/></svg>';
  }

  @if $icon == "arrow-down-16" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" height="1rem" width="1rem" fill="#{$fill}" viewBox="0 0 16 16"><path d="M8 11.5a1 1 0 01-.71-.29l-5-5a1 1 0 011.42-1.42L8 9.09l4.29-4.3a1 1 0 111.42 1.42l-5 5a1 1 0 01-.71.29z"/></svg>';
  }

  @if $icon == "arrow-down-24" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" height="1.5rem" width="1.5rem" fill="#{$fill}" viewBox="0 0 24 24"><path d="M12.71 17.21a1 1 0 0 1-1.42 0l-9-9a1 1 0 1 1 1.42-1.42l8.29 8.3 8.29-8.3a1 1 0 1 1 1.42 1.42z"/></svg>';
  }

  @if $icon == "upload-24" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" height="1.5rem" width="1.5rem" fill="#{$fill}" viewBox="0 0 24 24"><title>Media_Upload_24px</title><path d="M8.71,7.71,11,5.41V16a1,1,0,0,0,2,0V5.41l2.29,2.3a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42l-4-4a1,1,0,0,0-1.42,0l-4,4A1,1,0,1,0,8.71,7.71Z"/><path d="M16.22,12.44a1,1,0,0,0-1.2.77,1,1,0,0,0,.76,1.19C18.55,15,20,16.17,20,17c0,1.22-3.12,3-8,3s-8-1.78-8-3c0-.83,1.45-2,4.22-2.6A1,1,0,0,0,9,13.21a1,1,0,0,0-1.2-.77C4.16,13.25,2,15,2,17c0,2.85,4.3,5,10,5s10-2.15,10-5C22,15,19.84,13.25,16.22,12.44Z"/></svg>';
  }

  @if $icon == "valid-24" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" height="1.5rem" width="1.5rem" fill="#{$fill}" viewBox="0 0 24 24"><path d="M12 4a8 8 0 1 1-8 8 8 8 0 0 1 8-8m0-2a10 10 0 1 0 10 10A10 10 0 0 0 12 2z"/><path d="M10.59 16.12a1 1 0 0 1-.68-.26l-3.84-3.55a1 1 0 0 1 1.36-1.47l3.13 2.89L16 8.17a1 1 0 0 1 1.43 1.41l-6.13 6.25a1 1 0 0 1-.71.29z"/></svg>';
  }

  @if $icon == "alert-24" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" height="1.5rem" width="1.5rem" fill="#{$fill}" viewBox="0 0 24 24"><path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm0 18a8 8 0 1 1 8-8 8 8 0 0 1-8 8z"/><path d="M12 7a1 1 0 0 0-1 1v4.38a1 1 0 0 0 2 0V8a1 1 0 0 0-1-1z"/><circle cx="12" cy="16" r="1"/></svg>';
  }

  @if $icon == "delete-24" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" height="1.5rem" width="1.5rem" fill="#{$fill}" viewBox="0 0 24 24"><path d="M18.08 8a1 1 0 0 0-1.08.92L16.08 20H7.92L7 8.92a1 1 0 1 0-2 .16l1 12A1 1 0 0 0 7 22h10a1 1 0 0 0 1-.92l1-12A1 1 0 0 0 18.08 8z"/><path d="M19 5h-3.77l-.65-2.27a1 1 0 0 0-1-.73h-3.2a1 1 0 0 0-1 .73L8.77 5H5a1 1 0 0 0 0 2h14a1 1 0 0 0 0-2zm-8.62-2h3.24l.57 2H9.81zM12.5 18v-8a.5.5 0 0 0-1 0v8a.5.5 0 0 0 1 0zM14.25 18.5a.5.5 0 0 0 .5-.47l.5-8a.5.5 0 0 0-.47-.53.49.49 0 0 0-.53.47l-.5 8a.5.5 0 0 0 .47.53zM9.75 18.5a.5.5 0 0 0 .47-.53l-.5-8a.49.49 0 0 0-.53-.47.5.5 0 0 0-.47.53l.5 8a.5.5 0 0 0 .53.47z"/></svg>';
  }

  @if $icon == "display-close-32" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" height="2rem" width="2rem" viewBox="0 0 32 32" fill="#{$fill}"><path d="M17.41,16l8.8-8.79a1,1,0,1,0-1.42-1.42L16,14.59,7.21,5.79A1,1,0,0,0,5.79,7.21L14.59,16l-8.8,8.79a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0L16,17.41l8.79,8.8a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42Z"/></svg>';
  }

  @if $icon == "notification-available-16" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" height="1rem" width="1rem" fill="#{$fill}" viewBox="0 0 16 16"><path d="M7.63 11.21a1 1 0 01-1.38 0l-2.92-2.6a1 1 0 111.34-1.48l2.22 2 4.41-4.34a1 1 0 111.4 1.42z"/></svg>';
  }

  @if $icon == "notification-available-24" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10 18.68a1 1 0 01-.7-.29l-5-5A1 1 0 015.73 12L10 16.27 18.31 8a1 1 0 011.42 1.42l-9 9a1 1 0 01-.73.26z"/></svg>';
  }

  @if $icon == "notification-information-24" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" height="1.5rem" width="1.5rem" viewBox="0 0 24 24" fill="#{$fill}"><path d="M12 22a10 10 0 1110-10 10 10 0 01-10 10zm0-18a8 8 0 108 8 8 8 0 00-8-8z"/><path d="M12 17a1 1 0 01-1-1v-4.39a1 1 0 012 0V16a1 1 0 01-1 1z"/><circle cx="12" cy="8" r="1"/></svg>';
  }

  @if $icon == "notification-information-32" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" height="2rem" width="2rem" viewBox="0 0 32 32" fill="#{$fill}"><path d="M16,29A13,13,0,1,1,29,16,13,13,0,0,1,16,29ZM16,5A11,11,0,1,0,27,16,11,11,0,0,0,16,5Z"/><path d="M16,21.7a1,1,0,0,1-1-1V14.87a1,1,0,1,1,2,0V20.7A1,1,0,0,1,16,21.7Z"/><circle cx="16" cy="11.3" r="1"/></svg>';
  }

  @if $icon == "notification-success-24" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" height="1.5rem" width="1.5rem" viewBox="0 0 24 24" fill="#{$fill}"><path d="M12 4a8 8 0 11-8 8 8 8 0 018-8m0-2a10 10 0 1010 10A10 10 0 0012 2z"/><path d="M10.73 15.75a1 1 0 01-.68-.26l-3-2.74a1 1 0 011.36-1.47l2.25 2.08 4.36-4.42a1 1 0 111.42 1.41l-5 5.1a1 1 0 01-.71.3z"/></svg>';
  }

  @if $icon == "notification-success-32" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" height="2rem" width="2rem" fill="#{$fill}" viewBox="0 0 32 32"><path d="M16,5A11,11,0,1,1,5,16,11,11,0,0,1,16,5m0-2A13,13,0,1,0,29,16,13,13,0,0,0,16,3Z"/><path d="M14.2,21.45,8.5,16.18a1,1,0,1,1,1.35-1.47l4.28,4,8-8.09a1,1,0,0,1,1.42,0,1,1,0,0,1,0,1.41Z"/></svg>';
  }

  @if $icon == "notification-warning-24" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" height="1.5rem" width="1.5rem" viewBox="0 0 24 24" fill="#{$fill}"><path d="M12 2a10 10 0 1010 10A10 10 0 0012 2zm0 18a8 8 0 118-8 8 8 0 01-8 8z"/><path d="M12 7a1 1 0 00-1 1v4.38a1 1 0 002 0V8a1 1 0 00-1-1z"/><circle cx="12" cy="16" r="1"/></svg>';
  }

  @if $icon == "notification-warning-32" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" height="2rem" width="2rem" viewBox="0 0 32 32" fill="#{$fill}"><path d="M16,29A13,13,0,1,1,29,16,13,13,0,0,1,16,29ZM16,5A11,11,0,1,0,27,16,11,11,0,0,0,16,5Z"/><path d="M16,18.13a1,1,0,0,1-1-1V11.3a1,1,0,0,1,2,0v5.83A1,1,0,0,1,16,18.13Z"/><circle cx="16" cy="20.7" r="1"/></svg>';
  }

  @if $icon == "notification-danger-24" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" height="1.5rem" width="1.5rem" viewBox="0 0 24 24" fill="#{$fill}"><path d="M12 2a10 10 0 1010 10A10 10 0 0012 2zm0 18a8 8 0 118-8 8 8 0 01-8 8z"/><path d="M16.21 7.88a1 1 0 00-1.42 0l-2.74 2.74-2.84-2.83a1 1 0 10-1.42 1.42L10.63 12l-2.77 2.79a1 1 0 001.41 1.42l2.78-2.77 2.68 2.68a1 1 0 001.41-1.42L13.46 12l2.75-2.7a1 1 0 000-1.42z"/></svg>';
  }

  @if $icon == "notification-danger-32" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" height="2rem" width="2rem" viewBox="0 0 32 32" fill="#{$fill}"><path d="M16,3A13,13,0,1,0,29,16,13,13,0,0,0,16,3Zm0,24A11,11,0,1,1,27,16,11,11,0,0,1,16,27Z"/><path d="M20.71,11.29a1,1,0,0,0-1.42,0L16,14.59l-3.29-3.3a1,1,0,0,0-1.42,1.42L14.59,16l-3.3,3.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0L16,17.41l3.29,3.3a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42L17.41,16l3.3-3.29A1,1,0,0,0,20.71,11.29Z"/></svg>';
  }

  @if $icon == "star-empty-16" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" height="1rem" width="1rem" viewBox="0 0 16 16" fill="#{$fill}"><path fill-rule="evenodd" d="M8 1.5a1 1 0 01.906.577l1.536 3.292 3.254.65a1 1 0 01.437 1.755l-2.296 1.879.648 3.673a1 1 0 01-1.566.988L8 12.229l-2.919 2.085a1 1 0 01-1.566-.988l.648-3.673-2.296-1.879a1 1 0 01.437-1.755l3.254-.65 1.536-3.292A1 1 0 018 1.5zm0 3.365l-.844 1.808-.214.458-.496.1-1.675.335 1.112.91.454.371-.102.577-.325 1.84 1.509-1.078L8 9.771l.581.415 1.509 1.078-.325-1.84-.102-.577.454-.371 1.112-.91-1.675-.335-.496-.1-.214-.458L8 4.865z"/></svg>';
  }

  @if $icon == "star-empty-24" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" height="1.5rem" width="1.5rem" viewBox="0 0 24 24" fill="#{$fill}"><path fill-rule="evenodd" d="M12 1.5a1 1 0 01.908.58l2.772 6.007 6.462.923a1 1 0 01.491 1.764l-4.99 4.084 1.819 6.367a1 1 0 01-1.486 1.127L12 18.674l-5.976 3.678a1 1 0 01-1.485-1.127l1.819-6.367-4.991-4.084a1 1 0 01.492-1.764l6.461-.923 2.772-6.006A1 1 0 0112 1.5zm0 3.386L9.908 9.42l-.228.494-.539.077-4.745.678 3.737 3.058.51.416-.181.633L7.169 19.3l4.307-2.65.524-.323.524.322 4.307 2.65-1.292-4.523-.181-.633.509-.416 3.738-3.058-4.746-.678-.539-.077-.228-.494L12 4.886z"/></svg>';
  }

  @if $icon == "star-empty-32" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" height="2rem" width="2rem" viewBox="0 0 32 32" fill="#{$fill}"><path fill-rule="evenodd" d="M16 2.333a1 1 0 01.908.581l3.772 8.173 8.795 1.256a1 1 0 01.492 1.764l-6.825 5.584 2.487 8.7a1 1 0 01-1.486 1.127L16 24.508l-8.142 5.01a1 1 0 01-1.486-1.126l2.486-8.701-6.824-5.584a1 1 0 01.492-1.764l8.794-1.256 3.772-8.173a1 1 0 01.908-.58zm0 3.387l-3.092 6.699-.228.494-.538.077L5.062 14l5.572 4.558.508.417-.18.632-1.96 6.857 6.474-3.983.524-.323.524.323 6.474 3.983-1.96-6.857-.18-.632.51-.417L26.938 14l-7.08-1.011-.538-.077-.228-.494L16 5.719z"/></svg>';
  }

  @if $icon == "star-empty-48" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" height="3rem" width="3rem" viewBox="0 0 48 48" fill="#{$fill}"><path fill-rule="evenodd" d="M24 3.5a1.5 1.5 0 011.362.871l5.658 12.26 13.192 1.884a1.5 1.5 0 01.738 2.646l-10.237 8.375 3.73 13.052a1.5 1.5 0 01-2.23 1.69L24 36.76l-12.214 7.517a1.5 1.5 0 01-2.228-1.69l3.729-13.052L3.05 21.161a1.5 1.5 0 01.738-2.646l13.192-1.884 5.658-12.26A1.5 1.5 0 0124 3.5zm0 5.08l-4.638 10.049-.342.74-.808.116-10.619 1.517 8.357 6.837.763.625-.27.948-2.94 10.286 9.71-5.976.787-.483.786.483 9.71 5.976-2.938-10.286-.271-.948.763-.625 8.357-6.837-10.62-1.517-.807-.116-.342-.74L24 8.579z"/></svg>';
  }

  @if $icon == "star-full-16" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" height="1rem" width="1rem" viewBox="0 0 16 16" fill="#{$fill}"><path fill-rule="evenodd" d="M8.906 2.077a1 1 0 00-1.812 0L5.558 5.37l-3.254.65a1 1 0 00-.437 1.755l2.296 1.879-.648 3.673a1 1 0 001.566.988L8 12.229l2.919 2.085a1 1 0 001.566-.988l-.648-3.673 2.296-1.879a1 1 0 00-.437-1.755l-3.254-.65-1.536-3.292z"/></svg>';
  }

  @if $icon == "star-full-24" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" height="1.5rem" width="1.5rem" viewBox="0 0 24 24" fill="#{$fill}"><path fill-rule="evenodd" d="M12.908 2.08a1 1 0 00-1.816 0L8.32 8.088l-6.46.922a1 1 0 00-.492 1.764l4.99 4.084-1.818 6.367a1 1 0 001.485 1.127L12 18.674l5.976 3.678a1 1 0 001.486-1.127l-1.82-6.367 4.991-4.084a1 1 0 00-.491-1.764l-6.462-.923-2.772-6.006z"/></svg>';
  }

  @if $icon == "star-full-32" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" height="2rem" width="2rem" viewBox="0 0 32 32" fill="#{$fill}"><path fill-rule="evenodd" d="M16.908 2.914a1 1 0 00-1.816 0l-3.772 8.173-8.794 1.256a1 1 0 00-.492 1.764l6.824 5.584-2.486 8.7a1 1 0 001.486 1.127L16 24.508l8.143 5.01a1 1 0 001.486-1.126l-2.487-8.701 6.825-5.584a1 1 0 00-.492-1.764l-8.795-1.256-3.772-8.173z"/></svg>';
  }

  @if $icon == "star-full-48" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" height="3rem" width="3rem" viewBox="0 0 48 48" fill="#{$fill}"><path fill-rule="evenodd" d="M24.908 4.58a1 1 0 00-1.816 0L17.32 17.088 3.86 19.01a1 1 0 00-.492 1.764l10.49 8.584-3.818 13.367a1 1 0 001.485 1.127L24 36.174l12.476 7.678a1 1 0 001.486-1.127l-3.82-13.367 10.491-8.584a1 1 0 00-.492-1.764L30.68 17.087 24.908 4.581z"/></svg>';
  }

  @if $icon == "control-more-16" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" height="1rem" width="1rem" fill="#{$fill}" viewBox="0 0 16 16"><path d="M13 7H9V3a1 1 0 00-2 0v4H3a1 1 0 000 2h4v4a1 1 0 002 0V9h4a1 1 0 000-2z"/></svg>';
  }

  @if $icon == "control-more-24" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" height="2rem" width="2rem" fill="#{$fill}"  viewBox="0 0 24 24"><path d="M19.09,11h-6V5a1,1,0,0,0-2,0v6h-6a1,1,0,0,0,0,2h6v6a1,1,0,0,0,2,0V13h6a1,1,0,0,0,0-2Z"/></svg>';
  }

  @if $icon == "control-less-16" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" height="1rem" width="1rem" fill="#{$fill}" viewBox="0 0 16 16"><path d="M12 9H4a1 1 0 010-2h8a1 1 0 010 2z"/></svg>';
  }

  @if $icon == "control-less-24" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" height="2rem" width="2rem" fill="#{$fill}" viewBox="0 0 24 24"><path d="M17.09,13h-10a1,1,0,0,1,0-2h10a1,1,0,0,1,0,2Z"/></svg>';
  }

  @if $icon == "control-cross-16" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" height="1rem" width="1rem" fill="#{$fill}" viewBox="0 0 16 16"><path d="M9.41 8l3.3-3.29a1 1 0 10-1.42-1.42L8 6.59l-3.29-3.3a1 1 0 00-1.42 1.42L6.59 8l-3.3 3.29a1 1 0 000 1.42 1 1 0 001.42 0L8 9.41l3.29 3.3a1 1 0 001.42 0 1 1 0 000-1.42z"/></svg>';
  }

  @if $icon == "control-cross-32" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" height="2rem" width="2rem" viewBox="0 0 32 32" fill="#{$fill}"><path d="M17.41 16l8.8-8.79a1 1 0 10-1.42-1.42L16 14.59l-8.79-8.8a1 1 0 00-1.42 1.42l8.8 8.79-8.8 8.79a1 1 0 000 1.42 1 1 0 001.42 0l8.79-8.8 8.79 8.8a1 1 0 001.42 0 1 1 0 000-1.42z"/></svg>';
  }

  @if $icon == "tooltip-arrow" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" height="0.5rem" width="0.5rem" viewBox="0 0 8 8"><path fill="#{$fill}" d="M1.79 3.11l6.21-3.11v8l-6.21-3.11a1 1 0 0 1-.45-1.34 1 1 0 0 1 .45-.44z"/></svg>';
  }

  @if $icon == "notification-circle-available-24" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" height="1.5rem" width="1.5rem" fill="#{$fill}" viewBox="0 0 24 24"><path d="M12 4a8 8 0 11-8 8 8 8 0 018-8m0-2a10 10 0 1010 10A10 10 0 0012 2z"/><path d="M10.73 15.75a1 1 0 01-.68-.26l-3-2.74a1 1 0 011.36-1.47l2.25 2.08 4.36-4.42a1 1 0 111.42 1.41l-5 5.1a1 1 0 01-.71.3z"/></svg>';
  }

  @return svg-encode($svg);
}
