$listbox-max-width: none;
$listbox-width: auto;

@mixin listbox-selected-visibility($parent) {
  #{$parent}__label::before {
    visibility: visible;
  }
}

@mixin listbox-selected-disabled($parent) {
  #{$parent}__label::before {
    background-image: url("#{inline-icons('notification-available-24', $color-grey-600)}");
  }
}
