@mixin set-dialog-base() {
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  outline: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: var(--modal-z-index, 1999999999);// Position the dialog above the MOpinion element
}
