$z-index-page-overlay: 1999999998;

/// The mixin set-page-overlay() defines the styles
/// of an overlay element that apply to all the space on a page
@mixin set-page-overlay(
  $background-color: $color-overlay-background,
  $blur: true
) {
  background-color: mt-rgba($background-color, 0.7);
  @if $blur {
    filter: blur(1px);
  }

  inset: 0;
  opacity: 0;
  position: fixed;
  pointer-events: none;
  transition: opacity 0.4s ease, visibility 0ms 0.4s;
  z-index: $z-index-page-overlay;

  &.is-visible {
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.4s ease, visibility 0ms;
    visibility: visible;
  }

  &.is-not-visible {
    pointer-events: all;
  }
}
