@use "sass:math";

$aspect-ratios: (
  "1x1": percentage(math.div(1, 1)),
  "2x3": percentage(math.div(3, 2)),
  "3x2": percentage(math.div(2, 3)),
  "3x4": percentage(math.div(4, 3)),
  "4x3": percentage(math.div(3, 4)),
  "16x9": percentage(math.div(9, 16)),
);

@mixin ratio-before() {
  content: "";
  display: block;
  width: 100%;
}

@mixin ratio-item() {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@mixin set-ratio($ratio) {
  @if map-has-key($aspect-ratios, $ratio) {
    position: relative;

    &::before {
      @include ratio-before();

      padding-top: map-get($aspect-ratios, $ratio);
    }

    > * {
      @include ratio-item();
    }
  } @else {
    @warn 'You are trying to use a ratio size that is not supported: "#{$ratio}"';
  }
}
