$select-border-width: get-border("s");
$select-sizes: (
  "s": (
    "background-position": $mu050,
    "font-size": "04",
    "line-height": "s",
    "padding-left": calc(#{$mu050} - #{$select-border-width}),
    "padding-right": magic-unit-rem(1.875, true),
    "padding-v": calc(#{$mu050} - #{$select-border-width}),
  ),
  "m": (
    "background-position": $mu100,
    "font-size": "05",
    "line-height": "s",
    "padding-left": calc(#{$mu075} - #{$select-border-width}),
    "padding-right": magic-unit-rem(2.875, true),
    "padding-v": calc(0.9375rem - #{$select-border-width}),
  ),
);
$select-default-size: map-get($select-sizes, "m");
$select-border-radius: get-border-radius("m");

@mixin select-background-arrow(
  $color: $color-input-text,
  $background: $color-input-background
) {
  background-color: $background;
  background-image: url("#{inline-icons('arrow-down-16', $color)}");
  background-repeat: no-repeat;
  background-size: $mu100;
}

@mixin set-select-size($sizeProps) {
  $border-width: $select-border-width;
  $padding-left: map-get($sizeProps, "padding-left");
  $padding-right: map-get($sizeProps, "padding-right");
  $padding-v: map-get($sizeProps, "padding-v");
  $background-position: map-get($sizeProps, "background-position");

  @include set-font-scale(
    map-get($sizeProps, "font-size"),
    map-get($sizeProps, "line-height")
  );
  @include select-background-arrow ();

  background-position: right $background-position center;

  // remove border height and center baseline optically
  padding: $padding-v $padding-right $padding-v $padding-left;
}
