$border-width: get-border('s');

$input-sizes: (
  's': (
    'font-size': '04',
    'line-height': 's',
    'padding': calc(#{$mu050} - #{$border-width}),
  ),
  'm': (
    'font-size': '05',
    'line-height': 's',
    'padding': calc(0.9375rem - #{$border-width})
    calc(#{$mu075} - #{$border-width}),
  ),
);

$input-icon-sizes: (
  's': (
    'left': $mu050,
    'height': $mu150,
    'width': $mu150,
    'padding-l': calc(#{$mu250} - #{$border-width}),
  ),
  'm': (
    'left': $mu075,
    'height': $mu150,
    'width': $mu150,
    'padding-l': calc(#{$mu300} - #{$border-width}),
  ),
);

$input-default-size: map-get($input-sizes, 'm');
$input-icon-default-size: map-get($input-icon-sizes, 'm');

@mixin set-input-size($sizeProps) {
  $border-width: get-border('s');

  @include set-font-scale(
    map-get($sizeProps, 'font-size'),
    map-get($sizeProps, 'line-height')
  );

  // remove border height and center baseline optically
  padding: map-get($sizeProps, 'padding');

  &::placeholder {
    @include set-font-scale(
      map-get($sizeProps, 'font-size'),
      map-get($sizeProps, 'line-height')
    );
  }
}

@mixin set-input-icon-size($sizeProps, $parent) {
  $left: map-get($sizeProps, 'left');
  $height: map-get($sizeProps, 'height');
  $width: map-get($sizeProps, 'width');
  $padding-l: map-get($sizeProps, 'padding-l');

  #{$parent}__icon {
    left: $left;
    top: 50%;
    width: $width;
    height: $height;
  }

  #{$parent}__input {
    padding-left: $padding-l;
  }
}
