$tag-themes: get-token(color, tag);
$tag-border: get-border('s');
$tag-border-focus: get-border('m');
$padding-s-y: calc(#{$mu025} - #{$tag-border});
$padding-m-y: calc(#{$mu075} - #{$tag-border});

$tag-sizes: (
  's': (
    'padding': $padding-s-y $mu100,
    'font-size': '04',
    'line-height': 's',
    'border-radius': $mu075,
  ),
  'm': (
    'padding': $mu075 $mu150,
    'font-size': '04',
    'line-height': 's',
    'border-radius': $mu125,
  ),
);

@mixin set-tag-size($size) {
  $props: map-get($tag-sizes, $size);

  @include set-font-scale(
    map-get($props, 'font-size'),
    map-get($props, 'line-height')
  );

  border-radius: map-get($props, 'border-radius');
  padding: map-get($props, 'padding');
}

@mixin set-tag-base-style($size) {
  @include set-font-face('regular');
  @include set-tag-size($size);

  display: inline-flex;
}

@mixin set-tag-removable-icon($size) {
  @if $size == 's' {
    width: $mu150;
    height: $mu150;
    background-size: $mu100;
  }

  @if $size == 'm' {
    width: $mu250;
    height: $mu250;
    background-size: $mu150;
  }
}

@mixin set-tag-icon-B64($theme: 'light') {
  @if $theme == 'light' {
    background-image: url(inline-icons('tag-delete-24', $color-grey-800));
  }

  @if $theme == 'dark' {
    background-image: url(inline-icons('tag-delete-24', $color-grey-200));
  }
}
