@mixin add-demo-state-class() {
  @if variable-exists("mozaic-env") {
    $selector: &;
    $states: (":active", ":disabled", ":focus", ":hover", ":visited");

    @each $state in $states {
      $has-state: str-index("#{$selector}", "#{$state}");

      @if $has-state {
        $state-class: ".is-" + str-slice("#{$state}", 2, -1);
        $new-selector: selector-replace(
          "#{$selector}",
          "#{$state}",
          "#{$state-class}"
        );

        @at-root #{if($mozaic-env == development, "#{$new-selector},", "")}
        #{$selector} {
          @content;
        }
      }
    }
  } @else {
    @content;
  }
}
