@use "sass:math";

@mixin set-flexy() {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

@mixin set-flexy-width($portion, $of) {
  $percent: math.div($portion, $of) * 100;

  flex: 0 0 $percent * 1%;
  max-width: $percent * 1%;
}

@mixin set-flexy-col-push($portion, $of) {
  $percent: math.div($portion, $of) * 100;

  margin-left: $percent * 1%;
}

@mixin set-flexy-gutter($gutter-width) {
  margin-right: -(math.div($gutter-width, 2));
  margin-left: -(math.div($gutter-width, 2));
}

@mixin set-flexy-col-gutter($gutter-width) {
  padding-right: math.div($gutter-width, 2);
  padding-left: math.div($gutter-width, 2);
}

/* create columns */
/* stylelint-disable scss/at-rule-conditional-no-parentheses */
@mixin make-flexy-col($portion, $of, $at-sizes: "s") {
  @if type-of($portion) != number {
    @warn "make-flexy-col first param need to be a number";
  }

  @if type-of($of) != number {
    @warn "make-flexy-col second param need to be a number";
  }

  @if $portion >= $of {
    @warn "make-flexy-col first param should be less that the second param";
  }

  @if (type-of($at-sizes) != list) and (type-of($at-sizes) != string) {
    @warn "make-flexy-col third param should a map of existing screens, the name of a screen, or 'all'";
  }

  @if (type-of($portion) == number) and
    (type-of($of) == number) and
    ($portion < $of) and
    (type-of($at-sizes) == list or type-of($at-sizes) == string) {
    .ml-flexy__col--#{$portion}of#{$of} {
      @include modify-from-screens($at-sizes) {
        @include set-flexy-width($portion, $of);
      }
    }
  }
}

/* create columns */
@mixin make-flexy-col-push($portion, $of, $at-sizes: "s") {
  @if type-of($portion) != number {
    @warn "make-flexy-col-push first param need to be a number";
  }

  @if type-of($of) != number {
    @warn "make-flexy-col-push second param need to be a number";
  }

  @if $portion >= $of {
    @warn "make-flexy-col-push first param should be less that the second param";
  }

  @if (type-of($at-sizes) != list) and (type-of($at-sizes) != string) {
    @warn "make-flexy-col-push third param should a map of existing screens, the name of a screen, or 'all'";
  }

  @if (type-of($portion) == number) and
    (type-of($of) == number) and
    ($portion < $of) and
    (type-of($at-sizes) == list or type-of($at-sizes) == string) {
    .ml-flexy__col--push-#{$portion}of#{$of} {
      @include modify-from-screens($at-sizes) {
        @include set-flexy-col-push($portion, $of);
      }
    }
  }
}

@mixin make-flexy-col-push-reset($at-sizes: "s") {
  @if (type-of($at-sizes) != list) and (type-of($at-sizes) != string) {
    @warn "make-flexy-col-push--reset third param should a map of existing screens, the name of a screen, or 'all'";
  }

  @if (type-of($at-sizes) == list or type-of($at-sizes) == string) {
    .ml-flexy__col--push--reset {
      @include modify-from-screens($at-sizes) {
        margin-left: auto;
      }
    }
  }
}

/* create custom named columns with custom content */
@mixin make-flexy-custom-col($name, $at-sizes: "s") {
  @if (type-of($at-sizes) != list) and (type-of($at-sizes) != string) {
    @warn "make-flexy-custom-col second param should a map of existing screens, the name of a screen, or 'all'";
  }

  @if type-of($name) != string {
    @warn "make-flexy-custom-col second param should be a string ex: 'foo' => '.ml-flexy--gutter-foo'";
  }

  @if (type-of($name) == string) and
    (type-of($at-sizes) == list) or
    (type-of($at-sizes) == string) {
    .ml-flexy__col--#{$name} {
      @include modify-from-screens($at-sizes) {
        @content;
      }
    }
  }
}
/* stylelint-enable scss/at-rule-conditional-no-parentheses */
