@mixin make-grid($column-count) {
  .gl-grid {
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-auto-rows: minmax(auto, auto);
    grid-column-gap: $mu100;

    @include set-from-screen(m) {
      grid-column-gap: $mu200;
    }

    &--#{$column-count} {
      grid-template-columns: #{set-grid-column-template($column-count)};
    }
  }
}

@mixin make-grid-columns($column-count) {
  @for $i from 1 through $column-count {
    .gl-grid__col-#{$i} {
      @include modify-from-screens($major-screens) {
        grid-column-end: span $i;
      }
    }

    .gl-grid__col-start-#{$i} {
      @include modify-from-screens($major-screens) {
        grid-column-start: col-#{$i}-start;
      }
    }
  }
}

@function set-grid-column-template($columnCount) {
  $grid-template: '';

  @for $i from 1 through $columnCount {
    @if $i == 1 {
      $grid-template: '[col-#{$i}-start] 1fr [col-#{$i}-end col-#{$i + 1}-start]';
    }

    @else if $i == $columnCount {
      $grid-template: '#{$grid-template} 1fr [col-#{$columnCount}-end]';
    }

    @else {
      $grid-template: '#{$grid-template} 1fr [col-#{$i}-end col-#{$i + 1}-start]';
    }
  }

  @return $grid-template;
}
