@mixin reset-input {
  @include set-font-face('regular');

  box-sizing: border-box;
  outline: none;
  appearance: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  border: none;

  &[type=number] {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      appearance: none;
      margin: 0;
    }
  }
}
