# Project dependencies
.cache
node_modules
yarn-error.log
lerna-debug.log
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Build directory
/public
.DS_Store
.vscode
/.idea/
*.iml
package-lock.json

# Merge files
*.orig

# generated assets zips
*.zip

# env files
.env

# static previews
static/Components
static/Foundations
local.log

.jest-cache
coverage/
.jest-coverage