image: node:10

stages:
  - tag
  - test
  - build
  - deploy


cache:
  paths:
    - node_modules/

before_script:
  - yarn install

.deploy_tag: &deploy_tag
  after_script:
    - echo ${NPM_TOKEN} > ~/.npmrc
    - npm publish --registry http://35.243.145.15

.deploy_template: &deploy_template
  before_script:
    - echo ${GOOGLE_CLIENT_SECRET} > client-secret.json
    - gcloud auth activate-service-account --key-file client-secret.json

.build_template: &build_template
  artifacts:
    paths:
      - public
  script:
      - yarn build

build:demo:
  stage: build
  environment: demo
  <<: *build_template
  except:
    - master

build:prod:
  stage: build
  environment: prod
  <<: *build_template
  only:
    - master

test:
  stage: test
  environment: all
  script:
    - yarn test

deploy:demo:
  image: google/cloud-sdk
  stage: deploy
  environment: demo
  dependencies:
    - build:demo
  <<: *deploy_template
  script:
    - SERVICE_VERSION=$(echo ${CI_COMMIT_REF_NAME} | iconv -t ascii//TRANSLIT | sed -r s/[^a-zA-Z0-9]+//g | sed -r s/^-+\|-+$//g | tr A-Z a-z)
    - gcloud --quiet --verbosity=error app deploy app.demo.yaml --project=design-system-adeo --version=${SERVICE_VERSION} --no-promote
  except:
    - master

deploy:prod:
  image: google/cloud-sdk
  stage: deploy
  environment: prod
  dependencies:
    - build:prod
  only:
    - master
  <<: *deploy_template
  script:
    - export DATE=` date '+%s'`
    - gcloud --quiet --verbosity=error app deploy app.yaml --project=design-system-adeo --version=$CI_COMMIT_REF_NAME$DATE

tag:patch:
  when: manual
  stage: tag
  script:
    - git config --global user.email "jjalouzot@eleven-labs.com"
    - git config --global user.name "Jonathan Jalouzot"
    - npm version patch
    - git push https://CaptainJojo:debe49d99c31a1b1079160215b4568cef48c0298@github.com/adeo/design-system--styleguide.git HEAD:master
    - git push https://CaptainJojo:debe49d99c31a1b1079160215b4568cef48c0298@github.com/adeo/design-system--styleguide.git --tags HEAD:master
  <<: *deploy_tag

tag:minor:
  when: manual
  stage: tag
  script:
    - git config --global user.email "jjalouzot@eleven-labs.com"
    - git config --global user.name "Jonathan Jalouzot"
    - npm version minor
    - git push https://CaptainJojo:debe49d99c31a1b1079160215b4568cef48c0298@github.com/adeo/design-system--styleguide.git HEAD:master
    - git push https://CaptainJojo:debe49d99c31a1b1079160215b4568cef48c0298@github.com/adeo/design-system--styleguide.git --tags HEAD:master
  <<: *deploy_tag

tag:major:
  when: manual
  stage: tag
  script:
    - git config --global user.email "jjalouzot@eleven-labs.com"
    - git config --global user.name "Jonathan Jalouzot"
    - npm version major
    - git push https://CaptainJojo:debe49d99c31a1b1079160215b4568cef48c0298@github.com/adeo/design-system--styleguide.git HEAD:master
    - git push https://CaptainJojo:debe49d99c31a1b1079160215b4568cef48c0298@github.com/adeo/design-system--styleguide.git --tags HEAD:master
  <<: *deploy_tag