@use "../../settings-tools/s.border" as *;
@use "../../settings-tools/s.magic-unit" as *;
@use "../../settings-tools/s.radius" as *;

$checkbox-min-width: 20px;
$checkbox-min-height: 20px;
$checkbox-width: $mu125;
$checkbox-height: $mu125;
$checkbox-border-width: get-border("m");
$checkbox-border-radius: get-border-radius("m");
$checkbox-label-space: $mu100;
