@import "tokens";
@import "settings-tools/all-settings";

html {
  @include set-font-face();
}

@import "components/c.button";

* {
  box-sizing: border-box;
}

.example {
  text-align: center;
  margin: $mu100 auto;
}
