@import "tokens";
@import "settings-tools/all-settings";

html {
  @include set-font-face();
}

@import "components/c.button";

.example {
  text-align: center;
  margin: $mu100 auto;

  &__item {
    margin-bottom: $mu100;
  }
}
