@import "settings-tools/all-settings";
@include import-font-families();
@import "components/c.button";

.example {
  display: flex;
  width: 90%;
  margin: auto;
  text-align: center;
  justify-content: center;

  h2 {
    @include set-font-face("regular");
  }

  &__col {
    flex: 0 1 33%;
    box-sizing: border-box;
    padding: 0 $mu100;
  }

  .mc-button {
    margin-bottom: $mu100;
  }
}
