@import "tokens";
@import "settings-tools/all-settings";

html {
  @include set-font-face();
}

@import "components/c.checkbox";
@import "components/c.fields";

.example {
  margin: $mu200 0;
  padding: 0 $mu200;
}

.mc-field__container {
  padding-left: $mu175;
}

// only for this preview, to prevent interactions
input,
label {
  pointer-events: none;
}
