.subcontents {
  font-size: 1.4rem;
  min-width: 730px;

  * {
    box-sizing: border-box;
  }

  li + li {
    margin-top: 2rem;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &_link {
    border: 1px solid #979797;
    display: flex;
    flex-direction: row;
    padding: 0;
    height: 142px;
    width: 100%;
  }

  &_titlendescriptionwrapper {
    background: #3c3738;
    color: #fff;
    margin: 0;
    padding: 1.625rem 0.9rem 1.625rem 1.625rem;
    flex-basis: 100%;
  }

  &_image {
    width: 30%;
  }

  &_title,
  &_description {
    color: inherit;
    display: block;
  }

  &_description {
    font-size: 0.75rem;
    margin: 0;
  }

  &_title + &_description {
    margin-top: 4px;
  }

  // SubMenu
  &_submenu_wrapper {
    background: #fff;
    box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.22);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1.5rem;
  }

  &_submenu_item {
    background: #eeeef0;
    color: #000;
    padding: 1.125rem;
    margin-top: 10px;
    width: 49%;
  }
}
