<div class="example">
  <div class="mc-notification" role="alert">
    <h3 class="mc-notification__title">Information notification</h3>
    <p class="mc-notification__message">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
    </p>
    <a class="mc-notification__link" href="#">Link</a>
  </div>
  <div class="mc-notification mc-notification--success" role="alert">
    <h3 class="mc-notification__title">Success notification</h3>
    <p class="mc-notification__message">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
    </p>
    <a class="mc-notification__link" href="#">Link</a>
  </div>
  <div class="mc-notification mc-notification--warning" role="alert">
    <h3 class="mc-notification__title">Warning notification</h3>
    <p class="mc-notification__message">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
    </p>
    <a class="mc-notification__link" href="#">Link</a>
  </div>
  <div class="mc-notification mc-notification--danger" role="alert">
    <h3 class="mc-notification__title">Danger notification</h3>
    <p class="mc-notification__message">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
    </p>
    <a class="mc-notification__link" href="#">Link</a>
  </div>
</div>