@import 'settings-tools/_all-settings';
@import 'components/_c.links';
@import 'components/_c.notification';

.example {
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: $mu150;

  & .mc-notification {
    margin: $mu050 0;
  }
}
