@import 'settings-tools/_all-settings';
@import 'components/_c.notification';

body {
  padding-bottom: $mu600;
}

.example {
  margin: $mu150;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.example .mc-notification {
  margin-top: $mu150;
  width: 38%;
}
