<div class="example">
  <div class="mc-notification" role="alert">
    <h3 class="mc-notification__title">Information notification</h3>
    <p class="mc-notification__message">
      Notification with some small content.
    </p>
    <a class="mc-notification__link" href="#">Link</a>
  </div>
  <div class="mc-notification" role="alert">
    <h3 class="mc-notification__title">Information notification</h3>
    <p class="mc-notification__message">
      Notification with large content: lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
    </p>
    <a class="mc-notification__link" href="#">Link</a>
  </div>
</div>
