<div class="example">
  <div class="mc-notification" role="alert">
    <div class="mc-notification__content">
      <h3 class="mc-notification__title">Information notification</h3>
      <p class="mc-notification__message">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
        ligula eget dolor. Aenean massa.
      </p>
      <a class="mc-notification__link mc-link" href="#">Link</a>
    </div>
    <button type="button" class="mc-notification__close" title="Close">
      <svg class="mc-notification__close-icon">
        <use xlink:href="#close-icon"></use>
      </svg>
    </button>
  </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none">
  <symbol id="close-icon" viewBox="0 0 32 32">
    <path
      d="M17.41,16l8.8-8.79a1,1,0,1,0-1.42-1.42L16,14.59,7.21,5.79A1,1,0,0,0,5.79,7.21L14.59,16l-8.8,8.79a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0L16,17.41l8.79,8.8a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42Z"
    />
  </symbol>
</svg>
