$magicUnit : 16;


$s-x025 : $magicUnit*0.25; // 4
$s-x050  : $magicUnit*0.5; // 8
$s-x100    : $magicUnit; // 16
$s-x125 : $magicUnit*1.25;  // 20
$s-x150  : $magicUnit*1.5; // 24
$s-x200    : $magicUnit*2; // 32
$s-x250  : $magicUnit*2.5; // 
$s-x300    : $magicUnit*3;