/* ComponentsStatus */

/** StatusContainer */
.statusContainer {
  gap: 1rem;
}

.statusContainer,
.statusItem {
  display: inline-flex;
}

/** StatusItem */
.statusItem {
  align-items: baseline;
}

/** StatusText */
.statusText {
  color: black;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5;
  text-transform: capitalize;
}

/** StatusFlag */
.statusFlag {
  font-size: 0.875rem;
  line-height: 1.5;
  padding-left: 0.2rem;
  font-weight: bold;
}

.statusFlag::first-letter {
  text-transform: uppercase;
}

.statusFlag.stable,
.statusFlag.ready {
  color: #41a017;
}

.statusFlag.wip {
  color: #c86f21;
}

.statusFlag:not(.stable):not(.ready):not(.wip) {
  color: #b42a27;
}
