@import "tokens";
@import "settings-tools/all-settings";
@include import-font-families();

$font-colors: get-token("color", "font");

.example {
  @include set-font-face("semi-bold");
  @include set-font-scale("10", "s");

  padding: $mu100;

  &__container {
    padding-bottom: $mu100;

    &--reverted {
      background-color: $color-grey-900;
    }
  }

  &__font-color {
    @each $key, $value in $font-colors {
      &-#{$key} {
        @include set-color($key);

        &::after {
          content: "#{$key}";
        }
      }
    }
  }
}
