@import "tokens";
@import "settings-tools/all-settings";
@include import-font-families();
html {
  @include set-font-face();
}
@import "components/c.loader";

.example {
  @include set-font-face();

  padding: $mu200;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: $mu200;
}
