@import "settings-tools/all-settings";
@include import-font-families();
html {
  @include set-font-face();
}
@import "components/c.loader";

.example {
  padding: $mu200;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: $mu200;

  &__wrap {
    &--dark {
      background: $color-grey-900;
    }
  }
}
