@import "tokens";
@import "settings-tools/all-settings";
@include import-font-families();
html {
  @include set-font-face();
}
@import "typography/t.headings";

.example {
  padding: $mu200;
  max-width: magic-unit-rem(38);
  margin: 0 auto;

  &__heading {
    margin-top: $mu100;
  }
}
