@import "tokens";
@import "settings-tools/all-settings";
@include import-font-families();
html {
  @include set-font-face();
}
@import "typography/t.headings";

.example {
  padding: $mu200;
  max-width: magic-unit-rem(38);
  margin: 0 auto;

  &__heading {
    margin-top: $mu100;
  }

  &__reverted {
    background: $color-grey-900;
    padding: $mu100;
  }

  &__reverted-02 {
    background: $color-primary-01-500;
    padding: $mu100;
  }

  &__modifier {
    @include set-font-scale("03", "s");

    margin-top: $mu200;
    font-family: monospace;
    display: inline-block;
    padding: 0 $mu050;
    box-shadow: inset 0 0 0 1px $color-grey-200;
    border-radius: $radius-s * 1px;
  }
}
