@import 'settings-tools/_all-settings';

@include import-font-families();

@import 'typography/_t.headings';

.example {
  padding: $mu200;
  max-width: magic-unit-rem(38);
  margin: 0 auto;

  &__heading {
    margin-top: $mu100;
  }

  &__title {
    @include set-font-scale('07', 'm');
    @include set-font-face('semi-bold');

    background: $color-grey-100;
    text-align: center;
    padding: $mu100;
    margin: $mu300 0 $mu100;

    &:first-child {
      margin: 0 0 $mu100;
    }
  }

  &__modifier {
    @include set-font-scale('03', 's');

    margin-top: $mu200;
    font-family: monospace;
    display: inline-block;
    padding: 0 $mu050;
    box-shadow: inset 0 0 0 1px $color-grey-200;
    border-radius: $radius-s * 1px;
  }
}
