@import "settings-tools/all-settings";
@include import-font-families();
@import "components/c.text-input";
@import "components/c.button";
@import "components/c.quantity-selector";

.example {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}
