@import "tokens";
@import "settings-tools/all-settings";
@include import-font-families();
html {
  @include set-font-face();
}
@import "components/c.layer";
@import "components/c.button";
@import "components/c.overlay";

$background-color-content: #eeeef0;

.example {
  background-color: #f6f7f7;
  min-height: 700px;
  height: 100vh;
}

.mc-layer__content {
  background:
    linear-gradient(
      90deg,
      $background-color-content,
      $background-color-content
    )
    no-repeat;
  background-position: center;
  background-size: calc(100% - 16px) auto;
  min-height: 100%;

  @include set-from-screen(l) {
    background-size: calc(100% - 32px) auto;
  }

  p {
    margin-top: 0;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
