@import "tokens";
@import "settings-tools/all-settings";
@include import-font-families();
@import "utilities/u.margin";
@import "utilities/u.padding";

.example {
  background-color: $color-primary-02-200;

  &__item {
    background-color: $color-primary-01-200;
  }
}
