<div class="example">
    <select class="mc-select is-hover">
      <option value="">-- Select hover --</option>
      <option value="option 1">Option 1</option>
      <option value="option 2">Option 2</option>
      <option value="option 3">Option 3</option>
    </select>
</div>

<div class="example">
    <select class="mc-select is-focus">
      <option value="">-- Select focus --</option>
      <option value="option 1">Option 1</option>
      <option value="option 2">Option 2</option>
      <option value="option 3">Option 3</option>
    </select>
</div>

<div class="example">
    <select class="mc-select" disabled>
      <option value="">-- Select disabled --</option>
      <option value="option 1">Option 1</option>
      <option value="option 2">Option 2</option>
      <option value="option 3">Option 3</option>
    </select>
</div>

<div class="example">
    <select class="mc-select is-valid">
      <option value="">-- Select is-valid --</option>
      <option value="option 1">Option 1</option>
      <option value="option 2">Option 2</option>
      <option value="option 3">Option 3</option>
    </select>
</div>

<div class="example">
    <select class="mc-select is-invalid">
      <option value="">-- Select is-invalid --</option>
      <option value="option 1">option 1</option>
      <option value="option 2">option 2</option>
      <option value="option 3">option 3</option>
    </select>
</div>