<div class="example">
    <select class="mc-select is-hover">
      <option value="" selected>Select hover</option>
      <option value="option 1">option 1</option>
      <option value="option 2">option 2</option>
      <option value="option 3">option 3</option>
    </select>
</div>

<div class="example">
    <select class="mc-select is-focus">
      <option value="" selected>Select focus</option>
      <option value="option 1">option 1</option>
      <option value="option 2">option 2</option>
      <option value="option 3">option 3</option>
    </select>
</div>

<div class="example">
    <select class="mc-select" disabled>
      <option value="" selected>Select disabled</option>
      <option value="option 1">option 1</option>
      <option value="option 2">option 2</option>
      <option value="option 3">option 3</option>
    </select>
</div>

<div class="example">
    <select class="mc-select is-valid">
      <option value="" selected>Select is-valid</option>
      <option value="option 1">option 1</option>
      <option value="option 2">option 2</option>
      <option value="option 3">option 3</option>
    </select>
</div>

<div class="example">
    <select class="mc-select is-invalid">
      <option value="" selected>Select is-invalid</option>
      <option value="option 1">option 1</option>
      <option value="option 2">option 2</option>
      <option value="option 3">option 3</option>
    </select>
</div>