@use "sass:map";
@use "sass:math";

// settings
@use "@mozaic-ds/tokens" as *;
@use "../../settings-tools/" as *;

@mixin set-accordion-size($size, $parent) {
  $background-open: map.get($size, "background-open");
  $background-close: map.get($size, "background-close");
  $background-size: map.get($size, "background-size");
  $font-size: map.get($size, "font-size");
  $icon-size: map-get($size, "icon-size");
  $padding-right: map.get($size, "padding-right");
  $padding-v: map.get($size, "padding-v");

  #{$parent}__icon {
    height: $icon-size;
    width: $icon-size;
  }

  // new HTML structure
  #{$parent}__title {
    @include set-font-scale($font-size, "m");
  }

  // TODO: @next - review the specificity of this selector
  #{$parent}__trigger {
    padding: {
      top: $padding-v;
      right: $padding-right;
      bottom: $padding-v;
    }

    &::before {
      content: "";
      position: absolute;
      top: calc(50% - math.div($background-size, 2));
      right: 0.5rem;
      background-image: url("#{inline-icons($background-open, $color-font-darker)}");
      background-size: $background-size;
      width: $background-size;
      height: $background-size;
    }

    &:disabled {
      &::before {
        background-image: url("#{inline-icons($background-open, $color-font-light)}");
      }
    }
  }

  // TODO: @next - review the specificity of this selector
  &.is-open {
    > #{$parent}__header {
      button#{$parent}__trigger {
        &::before {
          background-image: url("#{inline-icons( $background-close, $color-font-darker)}");
        }

        &:disabled {
          &::before {
            background-image: url("#{inline-icons($background-close, $color-font-darker)}");
          }

          &:disabled {
            &::before {
              background-image: url("#{inline-icons($background-close, $color-font-light)}");
            }
          }
        }
      }
    }
  }
}
