<svg xmlns="http://www.w3.org/2000/svg"  style="display: none">
    <symbol id="icon"  viewBox="0 0 48 48">
    <path d="M12.5 42.5a1.5 1.5 0 0 1 .5-1.1L31.79 24 13 6.6a1.5 1.5 0 0 1 2-2.2l20 18.46a1.48 1.48 0 0 1 .5 1.14 1.49 1.49 0 0 1-.48 1.1L15 43.6a1.5 1.5 0 0 1-2.12-.08 1.48 1.48 0 0 1-.38-1.02z"/>
</symbol>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none">
    <symbol id="icon2"  viewBox="0 0 48 48">
        <path d="M35.5 42.5a1.5 1.5 0 0 0-.5-1.1L16.21 24 35 6.6a1.5 1.5 0 1 0-2-2.2L13 22.86a1.48 1.48 0 0 0-.5 1.14 1.49 1.49 0 0 0 .48 1.1L33 43.6a1.5 1.5 0 0 0 2.12-.08 1.48 1.48 0 0 0 .38-1.02z"/>
    </symbol>
</svg>
<div class="example">
    <a href="#" class="mc-link mc-link--primary">Default link</a>
    <a href="#" class="mc-link mc-link--dark">Default link</a>
    <a href="#" class="mc-link mc-link--small mc-link--danger"><svg class="mc-link__icon mc-link__icon-s"><use xlink:href="#icon2" /></svg>Default link</a>
    <a href="#" class="mc-link mc-link--primary mc-link--small">Default link <svg class="mc-link__icon mc-link__icon-s"><use xlink:href="#icon" /></svg></a>
</div>
  