<div class="example">
  <p>
    You must always use the native link in a paragraph like this :
    <a href="#" class="mc-link">Native link</a>. <br />
    <strong> The component link must live alone, like this one :</strong>
  </p>
</div>
<div class="example">
  <a href="#" class="mc-link mc-link--primary">
    <svg class="mc-link__icon mc-link__icon--left">
      <use xlink:href="#icon" />
    </svg>
    I'm alone, but it's not sad
  </a>
</div>

<svg xmlns="http://www.w3.org/2000/svg" style="display:none">
  <symbol id="icon" viewBox="0 0 16 16">
    <path
      d="M10.71 4.29a1 1 0 0 0-1.42 1.42L10.59 7H3a1 1 0 0 0 0 2h7.59l-1.3 1.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l3-3a1 1 0 0 0 0-1.42z"
    />
  </symbol>
</svg>
