@import 'settings-tools/_all-settings';
@import 'components/_c.links';

.example {
  text-align: left;
  margin: $mu100 auto;
  display: flex;

  &__pagination {
    justify-content: space-between;

    &--right {
      justify-content: flex-end;
    }
  }
}
