@import 'settings-tools/_all-settings';
@import 'settings-tools/_s.fonts-family.scss';
@import 'components/_c.links';

body {
  @include set-font-face('regular');
}

.example {
  margin: $mu100 auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;

  &__dark {
    @include set-font-scale('04');

    padding: $mu200;
    color: $color-grey-900;
  }

  &__green {
    @include set-font-scale('05');

    padding: $mu200;
    color: $color-primary-01-500;
  }

  &__grey {
    @include set-font-scale('06');

    padding: $mu200;
    color: $color-grey-500;
  }

  &__red {
    @include set-font-scale('07');

    padding: $mu200;
    color: $color-secondary-red-500;
  }
}
