<div class="example">
    <div class="example__col">
        <h2>Hover</h2>
        <a href="#" class="mc-link mc-link--full mc-link--primary is-hover">Link</a>
        <a href="#" class="mc-link mc-link--full mc-link--light is-hover">Link</a>
        <a href="#" class="mc-link mc-link--full mc-link--dark is-hover">Link</a>
        <a href="#" class="mc-link mc-link--full mc-link--neutral is-hover">Link</a>
        <a href="#" class="mc-link mc-link--full mc-link--primary-campus is-hover">Link</a>
        <a href="#" class="mc-link mc-link--full mc-link--danger is-hover">Link</a>
    </div>
    <div class="example__col">
        <h2>Active</h2>
        <a href="#" class="mc-link mc-link--full mc-link--primary is-active">Link</a>
        <a href="#" class="mc-link mc-link--full mc-link--light is-active">Link</a>
        <a href="#" class="mc-link mc-link--full mc-link--dark is-active">Link</a>
        <a href="#" class="mc-link mc-link--full mc-link--neutral is-active">Link</a>
        <a href="#" class="mc-link mc-link--full mc-link--primary-campus is-active">Link</a>
        <a href="#" class="mc-link mc-link--full mc-link--danger is-active">Link</a>
    </div>
    <div class="example__col">
        <h2>Visited</h2>
        <a href="#" class="mc-link mc-link--full mc-link--primary is-visited">Link</a>
        <a href="#" class="mc-link mc-link--full mc-link--light is-visited">Link</a>
        <a href="#" class="mc-link mc-link--full mc-link--dark is-visited">Link</a>
        <a href="#" class="mc-link mc-link--full mc-link--neutral is-visited">Link</a>
        <a href="#" class="mc-link mc-link--full mc-link--primary-campus is-visited">Link</a>
        <a href="#" class="mc-link mc-link--full mc-link--danger is-visited">Link</a>
    </div>
    <div class="example__col">
        <h2>Disabled</h2>
        <a href="#" class="mc-link mc-link--full mc-link--primary is-disabled">Link</a>
        <a href="#" class="mc-link mc-link--full mc-link--light is-disabled">Link</a>
        <a href="#" class="mc-link mc-link--full mc-link--dark is-disabled">Link</a>
        <a href="#" class="mc-link mc-link--full mc-link--neutral is-disabled">Link</a>
        <a href="#" class="mc-link mc-link--full mc-link--primary-campus is-disabled">Link</a>
        <a href="#" class="mc-link mc-link--full mc-link--danger is-disabled">Link</a>
    </div>
</div>