<div class="example">
    <a href="#" class="mc-link mc-link--primary">Default link</a>
</div>
<div class="example">
    <a href="#" class="mc-link mc-link--light example--bg-dark">Light link</a>
</div>
<div class="example">
    <a href="#" class="mc-link mc-link--dark">Dark link</a>
</div>
<div class="example">
    <a href="#" class="mc-link mc-link--neutral">Neutral link</a>
</div>
<div class="example">
    <a href="#" class="mc-link mc-link--danger">Danger link</a>
</div>
<div class="example">
    <a href="#" class="mc-link mc-link--primary-campus">Primary campus link</a>
</div>