@import 'settings-tools/_all-settings';
@import 'components/_c.links';

body {
  @include set-font-face('regular');
  @include set-font-scale('05');
}

.example {
  display: flex;
  width: 90%;
  margin: auto;
  text-align: center;
  justify-content: center;

  &__col-title {
    @include set-font-face('regular');
  }

  &__col {
    flex: 0 1 33%;
    box-sizing: border-box;
    padding: 0 $mu100;
  }

  &__item {
    width: 100%;
    display: block;
  }
}
