@import 'settings-tools/_all-settings';
@import 'settings-tools/_s.fonts-family.scss';
@import 'components/_c.links';

body {
  @include set-font-face('regular');
  @include set-font-scale('05');
}

.example {
  text-align: left;
  margin: $mu100 auto;
  display: flex;
  justify-content: center;
}
