/* Table of contents */
.toc {
  $toc: &;

  flex: 1;
  order: -1;
  padding-top: 1rem;
  width: 100%;

  @media screen and (min-width: 1280px) {
    order: initial;
    max-width: 16.5rem;
  }

  &__wrapper {
    padding: 1rem;

    @media screen and (min-width: 1280px) {
      border-left: 1px solid #887f87;
      max-height: 90vh;
      overflow-y: auto;
      position: sticky;
      top: 0;
    }
  }

  &__title {
    color: #3c3738;
    font-size: 0.75rem; // 12px
    font-weight: normal;
    margin: 0 auto 1.5rem;
    padding-left: 1rem;
    text-transform: uppercase;
  }

  &__list {
    list-style-type: none;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 0.625rem; // 10px
    }

    #{$toc}__item {
      margin-bottom: 0;

      #{$toc}__link {
        font-size: 0.75rem;
        min-height: 1.5rem;
        padding: 0.25rem 1rem 0.1875rem 2rem;
      }

      #{$toc}__item #{$toc}__link {
        padding-left: 3rem;
      }
    }
  }

  &__link {
    color: #000;
    display: block;
    font-size: 0.875rem;
    min-height: 1.875rem;
    padding: 0.3125rem 1rem;

    &:active,
    &:focus,
    &:hover,
    &--active {
      background: #eeeef0;
      font-weight: bold;
    }
  }
}

// title's anchors
.anchor-toc {
  margin-left: -21px;
  margin-right: 5px;

  svg {
    fill: #ccc;
  }

  &:hover {
    svg {
      fill: #000;
    }
  }
}
