@import "tokens";
@import "settings-tools/all-settings";
@include import-font-families();
html {
  @include set-font-face();
}
@import "components/c.radio";
@import "components/c.fields";

.example {
  margin: auto;
  width: 93%;

  &__title {
    @include set-font-scale("07", "m");
    @include set-font-weight("semi-bold");

    background: $color-grey-100;
    text-align: center;
    padding: $mu100;
    margin: $mu300 0 $mu100;
  }

  &__container {
    margin: $mu100 auto;
  }
}
