@import 'settings-tools/_all-settings';

@include import-font-families();

@import 'components/_c.accordion';
@import 'components/_c.checkbox';

.example {
  margin: $mu125;
  min-height: $mu1000;
}

p {
  margin: 0;
}

.hidden {
  display: none;
}
