@import "settings-tools/_all-settings";

@include import-font-families();

@import "components/_c.accordion";

.example {
  margin: $mu125;

  &__item {
    padding: $mu100;
  }
}

p {
  margin: 0;
}
