@import "settings-tools/all-settings";
@include import-font-families();
@import "components/c.text-input";
@import "components/c.phone-number";

.example {
  @include set-font-face();

  height: 12rem;
  margin: $mu200 0;
  padding: 0 $mu200;
}
