@import "tokens";
@import "settings-tools/all-settings";
@include import-font-families();
@import "components/c.flag";

html {
  @include set-font-face();
}

.example {
  margin: $mu100 auto;
  padding: 0 $mu150;

  &__item {
    margin: $mu100;
    max-width: $mu1000;
  }
}
