@import 'settings-tools/_all-settings';

@include import-font-families();

@import 'components/_c.flag';

.example {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &__item {
    margin: $mu100;

    &--light {
      background: $color-grey-999;
      padding: $mu100;
    }
  }
}
