@import "settings-tools/all-settings";
@include import-font-families();
html {
  @include set-font-face();
}

.example {
  display: block;
  padding: $mu150;

  &__title {
    @include set-font-scale("07", "m");
    @include set-font-weight("semi-bold");

    background: $color-grey-100;
    text-align: center;
    padding: $mu100;
    margin: $mu300 0 $mu100;
  }

  &__element {
    display: block;
    margin: 0 auto;
    min-height: $mu250;
    position: relative;

    &--default {
      @include set-divider("bottom", "default", "100%");
    }

    &--custom-width {
      @include set-divider("bottom", "light", "50%");
    }

    &--vertical {
      @include set-divider("right", "dark", "100%");

      max-width: 50%;
      padding: 0 $mu100;
    }
  }
}
