@import "tokens";
@import "settings-tools/all-settings";
@include import-font-families();
html {
  @include set-font-face();
}
@import "components/c.divider";

.example {
  text-align: center;
  margin: auto;
  width: 90%;

  &__title {
    @include set-font-scale("07", "m");
    @include set-font-weight("semi-bold");

    background: $color-grey-100;
    text-align: center;
    padding: $mu100;
    margin: $mu300 0 $mu100;
  }

  &__container {
    display: flex;
    justify-content: center;
  }

  &__col {
    flex: 0 1 33%;
    box-sizing: border-box;
    padding: $mu100;

    &--lightest {
      background: $color-grey-900;
      color: $color-grey-000;
    }
  }

  &__element {
    min-height: $mu250;

    strong {
      display: block;
    }
  }
}
