$screens: (
  xxs: 0,
  xs: 360,
  s: 576,
  m: 750,
  l: 992,
  xl: 1200,
  xxl: 1400,
);

// media screens width variables expressed in px
$screen-xs: map-get($screens, xs) * 1px;
$screen-s: map-get($screens, s) * 1px;
$screen-m: map-get($screens, m) * 1px;
$screen-l: map-get($screens, l) * 1px;
$screen-xl: map-get($screens, xl) * 1px;
$screen-xxl: map-get($screens, xxl) * 1px;

// media-querie mixin
// mobile first
@mixin from-screen($size) {
  @if map-has-key($screens, $size) {
    @media screen and (min-width: map-get($screens, $size) * 1px) {
      @content;
    }
  } @else {
    @error "the `#{$size}` key does not exist in the screen map."
        + "Please make sure to use an authorized value";
  }
}
