// local mixin, used here and in flexy definition do not use in your code !!
@mixin add-gutter($gutter-width) {
  margin-right: -($gutter-width / 2);
  margin-left: -($gutter-width / 2);

  > .gl-flexy__col {
    padding-right: $gutter-width / 2;
    padding-left: $gutter-width / 2;
  }
}

@mixin make-container($container-map) {
  margin-right: auto;
  margin-left: auto;

  @each $screen, $value-map in $container-map {
    @include set-from-screen($screen) {
      max-width: map-get($value-map, 'maxwidth');
      padding-right: map-get($value-map, 'gutter');
      padding-left: map-get($value-map, 'gutter');
    }
  }
}

/* create gutter variation */
@mixin make-flexy-gutter($size, $gutter-name, $at-sizes: 's') {
  @if type-of($size) != number {
    @warn "flexy-gutter first param need to be a number";
  }

  @if (type-of($at-sizes) != list) and (type-of($at-sizes) != string) {
    @warn "flexy-gutter third param should a map of existing screens, the name of a screen, or 'all'";
  }

  @if type-of($gutter-name) != string {
    @warn "flexy-gutter second param should be a string ex: 'foo' => '.gl-flexy--gutter-foo'";
  }

  @if (type-of($size) == number) and
    (type-of($at-sizes) == list or type-of($at-sizes) != string) {
    .gl-flexy--gutter-#{$gutter-name} {
      @include add-gutter($size);
    }
  }
}

/* create columns */
@mixin make-flexy-col($portion, $of, $at-sizes: 's') {
  @if type-of($portion) != number {
    @warn "flexy-col first param need to be a number";
  }

  @if type-of($of) != number {
    @warn "flexy-col second param need to be a number";
  }

  @if $portion >= $of {
    @warn "flexy-col first param should be less that the second param";
  }

  @if (type-of($at-sizes) != list) and (type-of($at-sizes) != string) {
    @warn "flexy-col third param should a map of existing screens, the name of a screen, or 'all'";
  }

  @if (type-of($portion) == number) and
    (type-of($of) == number) and
    ($portion < $of) and
    (type-of($at-sizes) == list or type-of($at-sizes) == string) {
    $percent: ($portion / $of) * 100;

    .gl-flexy__col--#{$portion}of#{$of} {
      @include modify-from-screens($at-sizes) {
        flex: 0 0 $percent * 1%;
        max-width: $percent * 1%;
      }
    }
  }
}

/* create custom named columns with custom content */
@mixin make-flexy-custom-col($name, $at-sizes: 's') {
  @if (type-of($at-sizes) != list) and (type-of($at-sizes) != string) {
    @warn "flexy-col second param should a map of existing screens, the name of a screen, or 'all'";
  }

  @if type-of($name) != string {
    @warn "flexy-gutter second param should be a string ex: 'foo' => '.gl-flexy--gutter-foo'";
  }

  @if (type-of($name) == string) and
    (type-of($at-sizes) == list) or
    (type-of($at-sizes) == string) {
    .gl-flexy__col--#{$name} {
      @include modify-from-screens($at-sizes) {
        @content;
      }
    }
  }
}
