@import "settings-tools/all-settings";
@include import-font-families();
@import "components/c.links";

.example {
  @include set-font-face("regular");

  text-align: left;
  margin: $mu100;
  display: flex;
}
