@import "tokens";
@import "settings-tools/all-settings";
@include import-font-families();
html {
  @include set-font-face();
}
@import "components/c.links";

body {
  @include set-font-scale("05");
}

.example {
  display: flex;
  width: 90%;
  margin: auto;
  text-align: center;
  justify-content: center;

  &__col-title {
    @include set-font-weight("regular");
  }

  &__col {
    flex: 0 1 33%;
    box-sizing: border-box;
    padding: 0 $mu100;
  }

  &__item {
    width: 100%;
    display: block;
  }
}
