@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i&display=swap&subset=latin-ext');

* {
  box-sizing: border-box;
}

body,
html {
  font-size: 16px !important;
  line-height: 1.45;
  font-family: 'Karla', sans-serif !important;
  font-weight: 400;
}

input,
select {
  font-family: 'Karla', sans-serif;
}

.button {
  display: inline-block;
  background: #fff;
  border: 2px solid #000;
  color: #000;
  padding: 0.75rem 1.5rem;
  margin: 1.5rem 0;
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: bold;
  text-align: center;

  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }

  &__menu {
    margin: 1.75rem 0 2.5rem;
    padding: 0.75rem 0.75rem 0.812rem;
    width: 100%;
  }
}
