@import '01-settings-tools/allsettings';

$magic-units-sizes: (
  0.25,
  0.5,
  0.75,
  1,
  1.25,
  1.5,
  1.75,
  2,
  2.5,
  3,
  3.5,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  12,
  14,
  16,
  18,
  20
);

body {
  color: #333;
  font-family: sans-serif;
}

.exemple {
  position: relative;
  overflow: visible;
  min-height: magic-unit-rem(20);
  min-width: magic-unit-rem(20);
  padding: magic-unit-rem(2) 0;

  $iterator: 100;

  &__item {
    overflow: visible;
    box-shadow: inset 0 0 0 1px red;
    position: absolute;
    bottom: magic-unit-rem(2);
    left: magic-unit-rem(2);
    background-color: transparent;

    &:hover {
      background-color: red;
    }

    &::before {
      display: block;
      content: '';
    }

    &::after {
      content: '';
      display: none;
      position: absolute;
      left: magic-unit-rem(22);
      width: magic-unit-rem(20);
      bottom: magic-unit-rem(8);
      padding: magic-unit-rem(1);
      background-color: rgba(255, 255, 255, 0.6);
      white-space: pre;
      line-height: 2;
    }

    @each $key in $magic-units-sizes {
      $iterator: $iterator - 1;

      &--#{$key*100} {
        z-index: $iterator;

        &::before {
          width: magic-unit-rem($key);
          height: magic-unit-rem($key);
        }

        &:hover::after {
          display: block;
          content: 'multiplier value: #{$key} \A rem value: #{magic-unit-rem($key)}\A px value: #{magic-unit($key)}px \A unitless sass function: magic-unit(#{$key}) \A rem sass function: magic-unit-rem(#{$key})';
        }
      }
    }
  }
}
