.subcontents {
  font-size: 1rem;
  max-width: 730px;

  * {
    box-sizing: border-box;
  }

  li + li {
    margin-top: 1rem;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__link {
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 100%;
    background: #3c3738;
  }

  &__body {
    background: #3c3738;
    color: #fff;
    margin: 0;
    padding: 1rem;
    flex-basis: 100%;
  }

  &__thumbnail {
    width: 144px;
    min-height: 96px;
    max-height: 100%;
    overflow: hidden;
    position: relative;

    img {
      position: absolute;
      min-width: 105%;
      min-height: 105%;
      height: auto;
      width: auto;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  &__title {
    font-size: 1rem;
  }

  &__title,
  &__description {
    color: inherit;
    display: block;
  }

  &__description {
    font-size: 0.75rem;
    max-width: 40em;
    margin: 0;
  }

  &__title + &__description {
    margin-top: 4px;
  }

  // SubMenu
  &__submenu-wrapper {
    background: #fff;
    box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.22);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0.5rem;
  }

  &__submenu-item {
    flex: 0 0 50%;
    background: #eeeef0;
    color: #000;
    border: solid 0.5rem #fff;
    padding: 1rem;
  }
}
