@import "settings-tools/all-settings";
@include import-font-families();
html {
  @include set-font-face();
}
@import "components/c.checkbox";
@import "components/c.option-card";

.example {
  @include set-font-family();

  padding: 2rem;
}

.example-size {
  width: 200px;
  height: 200px;
}

.mc-option-group {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}
