@import "settings-tools/all-settings";
@include import-font-families();
@import "components/c.radio";
@import "typography/t.bodys";
@import "components/c.option-card";

.example {
  @include set-font-family();

  padding: 2rem;
}

.example-content {
  display: flex;
  padding: 0.5rem;
  padding-right: 3rem;
}

.example-icon {
  height: 2rem;
  width: 2rem;
}

.example-info {
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
}

.example-info-time {
  color: $color-font-light;
}

.mc-option-group {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}
