@import "settings-tools/all-settings";
@include import-font-families();

html {
  @include set-font-face();
}

@import "components/c.checkbox";
@import "components/c.button";
@import "typography/t.bodys";
@import "components/c.option-card";

.example {
  @include set-font-family();

  padding: 2rem;
}

.example-content {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.example-image {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.example-info {
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
}

.example-info-price {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-top: 1rem;
  padding-right: 0.5rem;
}

.example-info-time {
  color: $color-font-light;
}

.mc-option-group {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.hide-button {
  display: none;
}

#exampleButton {
  z-index: 10;
}
