/* Changelog */

.changelogContainer h2 {
  margin-top: 2em;
}

.changelogContainer h2,
.changelogContainer h3 {
  margin-bottom: 1em;
}

.changelogContainer h3 {
  margin-top: 1.5em;
  line-height: 1;
}

.changelogItem {
  padding-bottom: 2em;
  border-bottom: solid 1px #c3c3c3;
}
