@import "tokens";
@import "settings-tools/all-settings";
@include import-font-families();
@import "layouts/l.container";
@import "layouts/l.flexy";

// for example purpose only
@import "utilities/u.margin";

* {
  box-sizing: border-box;
}

.example {
  padding-top: $mu200;

  &__container {
    margin-bottom: $mu100;
    margin-top: $mu100;
    box-shadow: 0 0 0 1px $color-secondary-red-500;
  }

  &__item {
    @include set-font-scale("04", "s");
    @include set-font-face("regular");

    flex: 1;
    align-self: stretch;
    height: fit-content;
    box-shadow: 0 0 0 1px $color-primary-01-500;
    padding: $mu100 0;
    margin-bottom: $mu100;
    text-align: center;
    letter-spacing: 0.05em;
  }
}
