@import "settings-tools/all-settings";
@include import-font-families();
html {
  @include set-font-face();
}
@import "components/c.progressbar";

.example {
  padding: $mu200;
  margin: 0 auto;

  &__title {
    @include set-font-scale("07", "m");
    @include set-font-weight("semi-bold");

    background: $color-grey-100;
    margin: $mu300 0 $mu100;
    padding: $mu100;
    text-align: center;

    &:first-child {
      margin: 0 0 $mu100;
    }
  }
}
