@use "../../settings-tools/s.border" as *;
@use "../../settings-tools/s.magic-unit" as *;
@use "../../settings-tools/t.map-tools" as *;

$tag-themes: get-token(color, tag);
$tag-border: get-border("s");
$tag-border-focus: get-border("m");
$padding-y--s: px-to-rem(3);
$padding-y--m: px-to-rem(11);

$tag-sizes: (
  "s": (
    "padding": $padding-y--s $mu100,
    "font-size": "04",
    "line-height": "m",
    "border-radius": $mu075,
  ),
  "m": (
    "padding": $padding-y--m $mu150,
    "font-size": "04",
    "line-height": "m",
    "border-radius": $mu125,
  ),
);
