@import 'settings-tools/_all-settings';

@include import-font-families();

@import 'components/_c.tabs';

.example {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}
