@import 'settings-tools/_all-settings';

@include import-font-families();

@import 'components/_c.links';
@import 'components/_c.notification';

body {
  padding-bottom: $mu600;
}

* {
  box-sizing: border-box;
}

.example {
  display: flex;
  flex-flow: row wrap;

  &__mc-notification {
    padding: $mu050;
    flex: 0 0 49%;
  }
}
