@import 'settings-tools/_all-settings';

@include import-font-families();

@import 'components/_c.links';
@import 'components/_c.notification';

.example {
  padding: $mu250;
}

$notification-text-font-size: get-token(size, font, '04');
$notification-title-font-size: get-token(size, font, '05');
$notification-close-icon-color: get-token(color, notification, font);

.mc-notification {
  @include set-border-radius();
  @include set-notification-border-background('information');
  @include set-font-face();
  @include set-color('darkest');
  @include set-flexy();

  box-sizing: border-box;
  border-width: get-border('s');
  border-style: solid;
  font-size: $notification-text-font-size;
  padding: $mu150 $mu100;

  // type icon
  &::before {
    @include set-notification-icon('information');

    flex: 0 1 auto;
    content: '';
    width: $mu200;
    height: $mu200;
    padding-right: $mu100;
    display: block;
    background-size: $mu200;
  }

  @each $type, $props in $notification-type-border-background-icon {
    &--#{$type} {
      @include set-notification-border-background($type);

      &::before {
        @include set-notification-icon($type);
      }
    }
  }

  &__content {
    flex: 1 1 0;
  }

  &__title,
  &__message,
  &__link {
    margin: 0;
  }

  &__link {
    display: block;
    text-decoration: underline;
  }

  &__title {
    @include set-font-face('semi-bold');

    font-size: $notification-title-font-size;
  }

  &__title + &__message {
    margin-top: $mu050;
  }

  &__message + &__link {
    margin-top: $mu050;
  }
}

.mc-notification-closable {
  &__close {
    flex: 0 1 auto;
    border: 0;
    outline: 0;
    cursor: pointer;
    width: $mu150;
    height: $mu150;
    display: block;
    right: 0.625rem;
    top: 0.625rem;
    padding: 0;
    background:
      transparent
      url(inline-icons('cross-16', $notification-close-icon-color)) no-repeat;
    transform: translateX($mu050) translateY(-$mu100);
  }
}
