@font-face {
  font-family: 'LeroyMerlin';
  src:
    url('../../static/fonts/LeroyMerlinSans-Web-Regular.woff2')
    format('woff2'),
    url('../../static/fonts/LeroyMerlinSans-Web-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'LeroyMerlin';
  src:
    url('../../static/fonts/LeroyMerlinSans-Web-SemiBold.woff2')
    format('woff2'),
    url('../../static/fonts/LeroyMerlinSans-Web-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'LeroyMerlin', sans-serif;
  color: #444;
  font-size: 16px;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: DodgerBlue;
}

ul,
li {
  margin: 0;
  padding: 0;
}

iframe {
  display: block;
}

pre {
  font-size: 13px;
}

pre[class*='language-'] {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

*:not(pre) > code[class*='language-'] {
  display: inline-block;
  padding: 2px 8px;
  font-size: 12px;
  background: #f5f5f5;
  color: #333;
  text-shadow: none;
  border: solid 1px #e5e5e5;
}

blockquote {
  margin-left: 0;
  padding: 8px;
  padding-left: 24px;
  font-size: 1.15rem;
  border-left: solid 3px rgba(0, 0, 0, 0.2);
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
}

blockquote p {
  margin: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 0.875rem;
}

tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

td {
  padding: 8px;
}

th {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding: 16px 8px;
  text-align: left;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

.main {
  h1,
  h2,
  h3,
  h4 {
    &:not(:first-child) {
      margin-top: 2em;
      margin-bottom: 1.25em;
    }
  }
}
