@import 'settings-tools/_all-settings';
@import 'src/tokens/build/scss/_tokens.scss';
@import 'utilities/_u.margin.scss';
@import 'utilities/_u.padding.scss';

.colors-example {
  list-style: none;
}

.colors-example li {
  width: 30%;
  margin-right: $mu025;
  border-radius: $mu025;
  text-align: center;
  float: left;
}

.sample-pallete {
  height: $mu250;
  margin-bottom: $mu025;
}

.secondary-purple-01 {
  background: $color-secondary-purple-100;
}

.secondary-purple-02 {
  background: $color-secondary-purple-200;
}

.secondary-purple-03 {
  background: $color-secondary-purple-300;
}

.secondary-purple-04 {
  background: $color-secondary-purple-400;
}

.secondary-purple-05 {
  background: $color-secondary-purple-500;
}

.secondary-purple-06 {
  background: $color-secondary-purple-600;
}

.secondary-purple-07 {
  background: $color-secondary-purple-700;
}

.secondary-purple-08 {
  background: $color-secondary-purple-800;
}

.secondary-purple-09 {
  background: $color-secondary-purple-900;
}
