@import 'settings-tools/_all-settings';
@import 'src/tokens/build/scss/_tokens.scss';
@import 'utilities/_u.margin.scss';
@import 'utilities/_u.padding.scss';

.colors-example {
  list-style: none;
}

.colors-example li {
  width: 10%;
  margin-right: $mu025;
  border-radius: $mu025;
  text-align: center;
  float: left;
}

.sample-palette {
  height: $mu250;
  margin-bottom: $mu025;
}

.secondary-red-01 {
  background: $color-secondary-red-100;
}

.secondary-red-02 {
  background: $color-secondary-red-200;
}

.secondary-red-03 {
  background: $color-secondary-red-300;
}

.secondary-red-04 {
  background: $color-secondary-red-400;
}

.secondary-red-05 {
  background: $color-secondary-red-500;
}

.secondary-red-06 {
  background: $color-secondary-red-600;
}

.secondary-red-07 {
  background: $color-secondary-red-700;
}

.secondary-red-08 {
  background: $color-secondary-red-800;
}

.secondary-red-09 {
  background: $color-secondary-red-900;
}
