/* mqp:start */
.mt-heading {
  $parent: get-parent-selector(&, ".mt-");

  color: $color-font-darkest;
  display: block;
  margin-bottom: $mu200;

  // add underline style

  &--underline::after {
    content: "";
    display: block;
    height: $mu025;
    background-color: $color-primary-01-500;
  }

  // underline color variations

  &--line-primary-02-600::after {
    background-color: $color-primary-02-600;
  }

  &--line-primary-01-200::after {
    background-color: $color-primary-01-200;
  }

  &--line-primary-02-200::after {
    background-color: $color-primary-02-200;
  }

  // text alignment

  &--center {
    @include modify-from-screens($major-screens) {
      text-align: center;

      &#{$parent}--underline::after {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &--right {
    @include modify-from-screens($major-screens) {
      text-align: right;

      &#{$parent}--underline::after {
        margin-left: auto;
        margin-right: 0;
      }
    }
  }

  &--left {
    @include modify-from-screens($major-screens) {
      text-align: left;

      &#{$parent}--underline::after {
        margin-left: 0;
        margin-right: auto;
      }
    }
  }

  // sizes modifiers

  @include mod-heading-sizes($parent);

  // text color

  &--lightest {
    color: $color-font-lightest;
  }

  // font-weight variations

  &--light {
    @include set-font-weight("light");
  }

  &--semi-bold,
  &--underline {
    @include set-font-weight("semi-bold");
  }
}

/* mqp:end */
