@import "settings-tools/all-settings";
@include import-font-families();

$lines-heights: ("xs", "s", "m", "l");

* {
  box-sizing: border-box;
}

.example {
  padding: $mu100;

  @include set-font-face("regular");

  &__container {
    min-height: $mu700;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__title-lh {
    flex: 0 0 48%;
    box-shadow:
      0 1px 0 0 rgba($color-secondary-red-500, 0.5),
      0 -1px 0 0 rgba($color-secondary-red-500, 0.5);

    @each $key in $lines-heights {
      &--#{$key} {
        @include set-font-scale("10", $key);
      }
    }
  }

  &__paragraph-lh {
    flex: 0 0 48%;
    color: $color-grey-700;
    box-shadow:
      0 1px 0 0 rgba($color-secondary-red-500, 0.5),
      0 -1px 0 0 rgba($color-secondary-red-500, 0.5);

    @each $key in $lines-heights {
      &--#{$key} {
        @include set-font-scale("05", $key);
      }
    }
  }

  &__paragraph-lh-name {
    font-weight: 600;
    color: $color-grey-999;
  }
}
