@import "settings-tools/all-settings";
@include import-font-families();
@import "typography/t.all-base-typography";
@import "layouts/l.container";
@import "layouts/l.flexy";
@import "components/c.hero";

.example {
  @include set-font-family();
}

.mc-hero__boxed {
  div {
    align-items: center;
    background: orange;
    color: white;
    display: flex;
    font-size: 22px;
    justify-content: center;
    min-height: 300px;
  }
}

p {
  margin-bottom: 0;
  margin-top: 0;
}
