@import 'settings-tools/_all-settings';

@include import-font-families();

@import 'typography/_t.all-base-typography';
@import 'components/_c.hero';
@import 'layouts/_l.container'; // you generally want the container as well
@import 'layouts/_l.flexy';


.example {
  margin-bottom: 20px;
}

.box-example {
  border-radius: 4px;
  border: 2px solid rgb(252, 150, 30);
  height: 200px;
}

p {
  margin: 0;
}
