@import "tokens";
@import "settings-tools/all-settings";
@include import-font-families();
html {
  @include set-font-face();
}
@import "typography/t.all-base-typography";
@import "layouts/l.container";
@import "layouts/l.flexy";
@import "components/c.hero";

.example {
  @include set-font-family();
}

p {
  margin-bottom: 0;
  margin-top: 0;
}
