.mc-accordion {
  $parent: get-parent-selector(&);

  background-color: $color-grey-000;

  @include set-font-face();
  @include set-accordion-size($accordion-default-size);

  &__label {
    @include set-font-weight('semi-bold');

    background-position: right $mu050 center;
    background-repeat: no-repeat;
    color: $color-font-darker;
    cursor: pointer;
    display: block;
    padding-left: $mu050;
    position: relative;

    &:hover {
      background-color: $color-grey-100;
    }

    &:focus {
      @include set-focus-styles-during();
    }

    &--no-padding {
      padding-left: 0;
    }

    &--icon {
      display: flex;
      align-items: center;
    }
  }

  &__icon {
    fill: $color-grey-500;
    margin-right: $mu050;
  }

  &__content {
    @include set-font-scale('05', 'm');

    border-bottom: get-border(s) solid $color-font-light;
    color: $color-font-dark;
    height: auto;
    max-height: 0;
    overflow: hidden;
    padding-left: $mu050;
    transition: max-height 0.3s ease-out, padding 0.3s linear;
  }

  &__trigger {
    opacity: 0;
    position: absolute;

    &:checked {
      ~ #{$parent}__content {
        max-height: none;
        padding-top: $mu050;
        padding-bottom: calc(#{$mu150} - #{get-border(s)});
      }
    }

    &:disabled {
      ~ #{$parent}__label {
        background-color: $color-grey-100;
        color: $color-font-light;
        cursor: not-allowed;
      }

      ~ #{$parent}__content {
        color: $color-font-light;
        cursor: not-allowed;
      }
    }

    &:focus {
      ~ #{$parent}__label {
        @include set-focus-styles-during();
      }
    }

    &:disabled:checked {
      ~ #{$parent}__content {
        max-height: none;
        padding-top: $mu050;
      }
    }
  }

  @each $size, $props in $accordion-sizes {
    &--#{$size} {
      @if ($size != 'm') {
        #{$parent} {
          @include set-accordion-size($props);
        }
      }
    }
  }
}
