.mc-autocomplete {
  $parent: get-parent-selector(&);

  align-self: start;
  position: relative;
  min-width: var(--autocomplete-min-width, $autocomplete-min-width);
  max-width: var(--autocomplete-width, $autocomplete-width);
  width: 100%;

  &__main {
    position: relative;
  }

  &__tag,
  &__tools {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: $autocomplete-tag-zindex;
  }

  &__tag {
    left: px-to-rem(44);
  }

  &__trigger {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__tools {
    align-items: center;
    background-color: $color-input-background;
    display: flex;
    gap: $mu050;
    justify-content: flex-end;
    right: $mu075;

    .is-valid + &,
    .is-invalid + & {
      right: $mu250;
    }
  }

  &__clear {
    @include unstyle-button();
    @include set-common-focus();

    background: none;
    border-radius: 50%;

    &,
    &-icon {
      height: $mu150;
      width: $mu150;
    }

    &-icon {
      fill: $color-grey-600;
    }

    &-text {
      @include visually-hidden();
    }
  }

  &__error {
    @include set-font-scale("04", "m");

    color: $color-fields-error;
    display: inline-block;
    margin-top: $mu025;
  }

  &--multi {
    #{$parent} {
      &__trigger {
        padding-left: calc(2.9375rem + var(--autocomplete-tag-width, 0px));
      }
    }
  }
}
