.mc-accordion {
  background-color: $color-grey-000;

  @include set-font-face();

  &__label {
    @include set-font-scale('06', 'm');

    cursor: pointer;
    position: relative;
    padding: $mu125 $mu050;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--with-picto {
      padding-left: $mu350;
    }

    &:hover {
      background-color: $color-grey-100;
    }
  }

  &__picto {
    width: $mu200;
    height: $mu200;
    position: absolute;
    left: $mu050;
  }

  &__icon {
    background-image: url(inline-icons('control-more-24',$color-grey-900));
    width: $mu150;
    height: $mu150;
    margin-left: $mu100;
    display: block;
    background-size: cover;
  }

  &__content {
    height: auto;
    max-height: 0;
    overflow: hidden;
    padding-left: $mu050;
    transition: max-height 0.5s ease-out, padding-bottom 0.3s linear;
    border-bottom: get-border(s) solid $color-grey-600;
  }

  &__trigger {
    opacity: 0;
    position: absolute;

    &:focus ~ .mc-accordion__label {
      @include set-focus-styles-during();
    }

    &:checked ~ .mc-accordion__label .mc-accordion__icon {
      background-image: url(inline-icons('control-less-24', $color-grey-900));
    }

    &:checked ~ .mc-accordion__content {
      max-height: 100vh;
      padding-bottom: $mu150;
    }

    &:disabled ~ .mc-accordion__label {
      background-color: $color-grey-100;
      color: $color-grey-600;
    }
  }
}
