@use "sass:math";

.mc-accordion {
  $parent: get-parent-selector(&);

  border-bottom: get-border(s) solid $color-font-light;

  @include set-font-face();
  @include set-accordion-size($accordion-default-size, $parent);

  &__header {
    padding-left: $mu050;
    position: relative;

    &:hover {
      background-color: $color-grey-100;
    }
  }

  &__header,
  button#{$parent}__trigger {
    align-items: center;
    display: flex;
    gap: $mu050;
  }

  &__title {
    @include set-font-weight("semi-bold");

    color: $color-font-darker;
    width: 100%;
    margin: {
      top: 0;
      bottom: 0;
    }
  }

  // TODO: @next - review the specificity of this selector
  button#{$parent}__trigger {
    @include unstyle-button($haspadding: false);
    @include set-focus-floating-base($position: false) {
      top: -(math.div($mu025, 2));
      right: -(math.div($mu025, 2));
      bottom: -3px;
      left: -(math.div($mu025, 2));
    }

    background-color: transparent;
    color: currentColor;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    padding-left: 0;
    text-align: left;
    width: 100%;

    &:focus {
      @include set-focus-floating {
        box-shadow: 0 0 0 $size-focus-border-thin $color-focus-border;
      }
    }

    &:disabled {
      background-color: $color-grey-100;
      color: $color-font-light;
      cursor: not-allowed;
    }
  }

  &__icon {
    fill: $color-grey-500;
  }

  &__content {
    @include set-font-scale("05", "m");

    color: $color-font-dark;
    height: auto;
    max-height: 0;
    overflow: hidden;
    padding-right: $mu050;
    padding-left: $mu050;
    transition: 0.3s ease-out;
    visibility: hidden;
  }

  &.is-open {
    > #{$parent}__content {
      // NOTE: The max-height fixed value allows the CSS transition to run correctly
      // The value 10000vh corresponds to 100 times the viewport height to manage longs contents
      max-height: 10000vh;
      padding-top: $mu050;
      padding-bottom: calc(#{$mu150} - #{get-border(s)});
      visibility: visible;
    }
  }

  &.is-disabled {
    > #{$parent} {
      &__header {
        background-color: $color-grey-100;
      }

      &__content {
        color: $color-font-light;
        cursor: not-allowed;
      }
    }
  }

  &--no-padding {
    #{$parent} {
      &__header {
        padding-left: 0;
      }

      &__content {
        padding-left: 0;
        padding-right: 0;
      }
    }

    button#{$parent}__trigger::before {
      right: 0;
    }
  }

  @each $size, $props in $accordion-sizes {
    &--#{$size} {
      @if ($size != "m") {
        @include set-accordion-size($props, $parent);
      }
    }
  }
}
