.mc-autocomplete {
  $parent: get-parent-selector(&);

  position: relative;
  max-width: var(--autocomplete-width, $autocomplete-width);

  &__tag,
  &__loader {
    position: absolute;
  }

  &__tag {
    top: 0;
    transform: translateY(50%);
  }

  &__loader {
    right: $mu075;
    top: $mu075;
    z-index: 10;
  }

  &--multi {
    #{$parent} {
      &__trigger {
        overflow: hidden;
        padding-left: calc(2.9375rem + var(--tag-width));
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
