/* mqp:start */
.mc-badge {
  @include set-badge-base();
  @include set-font-weight("semi-bold");
  @include set-font-scale("04", "m");
  @include set-badge-theme(get-token(color, badge, "info"));

  @each $name, $props in $badges {
    @if $name != "info" {
      &--#{$name} {
        @include set-badge-theme($props);
      }
    }
  }
}

/* mqp:end */
