.mc-breadcrumb {
  $parent: get-parent-selector(&);

  @include set-font-face();

  color: $color-font-darker;
  padding: magic-unit-rem(0.9375, "true") 0 magic-unit-rem(0.9375, "true")
    magic-unit-rem(1.125, "true");

  @include set-from-screen("s-large") {
    padding-left: $mu125;
  }

  @include set-from-screen("s-xlarge") {
    padding-left: magic-unit-rem(1.375, "true");
  }

  @include set-from-screen("m") {
    padding-left: $mu200;
  }

  @include set-from-screen("m-medium") {
    padding-left: magic-unit-rem(2.125, "true");
  }

  @include set-from-screen("l") {
    padding-left: $mu300;
  }

  @include set-from-screen("xl") {
    padding-left: $mu200;
  }

  @include set-from-screen("xl-medium") {
    padding-left: $mu700;
  }

  @include set-from-screen("xl-large") {
    padding-left: $mu200;
  }

  @include set-from-screen("xxl") {
    padding-left: $mu250;
  }

  &__container {
    @include unstyle-list();

    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    margin-top: 0;
  }

  &__item {
    padding-right: $mu050;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: $mu100;

    @include set-from-screen("l") {
      flex-shrink: 0;
    }

    &:not(:first-child) {
      background-image: url(inline-icons(
        "arrow-right-16",
        $color-breadcrumb-arrow
      ));
      padding-left: $mu150;
    }

    &.is-active,
    &:only-child {
      @media screen and (max-width: ($screen-l - 1)) {
        background-image: url(inline-icons(
          "arrow-left-16",
          $color-breadcrumb-arrow
        ));
        padding-left: $mu150;
      }
    }
  }

  &__current {
    &,
    &.mc-link {
      cursor: default;
      text-decoration: none;

      &,
      &:active,
      &:focus,
      &:hover,
      &:visited {
        color: currentColor;
      }
    }
  }

  &--dark {
    background-color: $color-grey-700;
    color: $color-font-lightest;

    #{$parent} {
      &__item {
        &:not(:first-child) {
          background-image: url(inline-icons(
            "arrow-right-16",
            $color-breadcrumb-arrow-invert
          ));
        }

        &.is-active,
        &:only-child {
          @media screen and (max-width: ($screen-l - 1)) {
            background-image: url(inline-icons(
              "arrow-left-16",
              $color-breadcrumb-arrow-invert
            ));
          }
        }
      }
    }
  }

  &--responsive {
    #{$parent} {
      &__item {
        &:not(.is-active) {
          @media screen and (max-width: ($screen-l - 1)) {
            @include set-hidden-input();
          }
        }
      }
    }
  }

  &--no-padding {
    padding-left: 0;
  }
}
