.mc-breadcrumb {
  $parent: &;

  @include set-font-face();
  @include set-font-scale('04', 'm');

  color: $color-font-darker;
  padding:
    magic-unit-rem(0.9375, 'true') 0 magic-unit-rem(0.9375, 'true')
    magic-unit-rem(1.125, 'true');

  @include set-from-screen('s-large') {
    padding-left: $mu125;
  }

  @include set-from-screen('s-xlarge') {
    padding-left: magic-unit-rem(1.375, 'true');
  }

  @include set-from-screen('m') {
    padding-left: $mu200;
  }

  @include set-from-screen('m-medium') {
    padding-left: magic-unit-rem(2.125, 'true');
  }

  @include set-from-screen('l') {
    padding-left: $mu300;
  }

  @include set-from-screen('xl') {
    padding-left: $mu200;
  }

  @include set-from-screen('xl-medium') {
    padding-left: $mu700;
  }

  @include set-from-screen('xl-large') {
    padding-left: $mu200;
  }

  @include set-from-screen('xxl') {
    padding-left: $mu250;
  }

  &__container {
    @include unstyle-list();

    display: flex;
    margin-bottom: 0;
    margin-top: 0;
  }

  &__item {
    padding-right: $mu050;
    background-position: left bottom get-border(s);
    background-repeat: no-repeat;
    background-size: $mu100;

    &:only-child,
    &:not(:first-child) {
      padding-left: $mu150;
    }

    &:not(:first-child) {
      @include set-from-screen('m') {
        background-image: url(inline-icons('arrow-right-16', $color-grey-800));
      }
    }

    &.is-active,
    &:only-child {
      @media screen and (max-width: 679px) {
        background-image: url(inline-icons('arrow-left-16', $color-grey-800));
        background-position: left center;
      }
    }
  }

  &__current {
    text-decoration: none;

    @include set-from-screen('m') {
      cursor: default;
    }

    &,
    &:active,
    &:focus,
    &:hover,
    &:visited {
      color: currentColor;
    }
  }

  &--dark {
    background-color: $color-grey-700;
    color: $color-font-lightest;

    #{$parent} {
      &__item {
        &:not(:first-child) {
          background-image:
            url(
              inline-icons(
                'arrow-right-16',
                $color-grey-000
              ));
        }

        &.is-active,
        &:only-child {
          @media screen and (max-width: 679px) {
            background-image:
              url(
                inline-icons(
                  'arrow-left-16',
                  $color-grey-000
                ));
          }
        }
      }
    }
  }

  &--responsive {
    #{$parent} {
      &__item {
        &:not(.is-active) {
          @media screen and (max-width: 679px) {
            @include set-hidden-input();
          }
        }

        &.is-active {
          .mc-link__icon {
            @media screen and (max-width: 679px) {
              transform: rotate(180deg) translateY(-15%);
            }
          }
        }
      }
    }
  }
}
