/* mqp:start */
.mc-button {
  @include unstyle-button();
  @include set-button-theme(get-token(color, button, 'solid'), true);
  @include set-font-face('semi-bold');
  @include set-button-size($button-medium);
  @include set-button-layout();

  box-sizing: border-box;
  fill: currentColor;

  &:focus {
    @include add-demo-state-class {
      box-shadow:
        0 0 0 ($mu025/2) $color-font-lightest,
        0 0 0 $mu025 $color-info-500;
    }
  }

  // all sizes
  @include mod-button-sizes();

  // widths layouts
  &--fit {
    @include modify-from-screens($major-screens) {
      display: inline-flex;
      width: auto;
    }
  }

  &--full {
    @include modify-from-screens($major-screens) {
      display: flex;
      width: 100%;

      @supports (width: stretch) {
        width: stretch;
      }
    }
  }

  &--square {
    padding: 0;
  }

  &__icon {
    &:last-child {
      margin-left: $mu050;
      margin-right: -$mu025;
    }

    &:first-child {
      margin-right: $mu050;
      margin-left: -$mu025;
    }

    &:only-child {
      margin: 0;
    }
  }

  &__label {
    pointer-events: none;
  }

  @each $name, $props in $buttons {
    @if ($name != 'solid') {
      &--#{$name} {
        @include set-button-theme($props);
      }
    }
  }
}

/* mqp:end */
