.mc-button {
  @include set-font-face('semi-bold');
  @include set-button-theme(get-token(color, button, 'solid'));
  @include set-button-size($button-medium);

  margin: 0;
  box-shadow: none;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: $button-radius;
  text-align: center;
  border: $button-border solid transparent;
  transition: all ease 200ms;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;

  &:focus,
  &.is-focus {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }

  // all sizes
  @include mod-button-sizes();

  // widths layouts
  &--fit {
    @include modify-from-screens($major-screens) {
      display: inline-flex;
    }
  }

  &--full {
    @include modify-from-screens($major-screens) {
      display: flex;
      width: 100%;
    }
  }

  &--square {
    padding: 0;
  }

  &__icon {
    &:last-child {
      margin-left: $mu050;
      margin-right: -$mu025;
    }

    &:first-child {
      margin-right: $mu050;
      margin-left: -$mu025;
    }

    &:only-child {
      margin: auto;
    }

    @each $size, $props in $icons {
      &--#{$size} {
        width: #{map-get($props, 'width')};
        height: #{map-get($props, 'height')};
      }
    }
  }

  &__label {
    transform: translateY(-0.125em);
  }

  @each $name, $props in $buttons {
    @if ($name != 'solid') {
      &--#{$name} {
        @include set-button-theme($props);
      }
    }
  }
}
