/* mqp:start */

/* stylelint-disable no-descending-specificity */
.mc-checkbox {
  align-items: center;
  display: flex;

  &__label {
    @include set-font-scale("05", "s");

    cursor: pointer;
    margin-left: magic-unit-rem(0.5, true);
  }

  &__input {
    @include reset-input();

    min-width: $checkbox-min-width;
    min-height: $checkbox-min-height;
    width: $checkbox-width;
    height: $checkbox-width;
    border-radius: $checkbox-border-radius;
    border: $checkbox-border-width solid $color-input-border;
    background: $color-input-background;
    position: relative;
    transition: all 200ms ease;
    cursor: pointer;

    &::-ms-check {
      border: $checkbox-border-width solid $color-input-border;
      background: $color-input-background;
      border-radius: $checkbox-border-radius;
      color: $color-input-checked-icon;
    }

    &.is-invalid {
      border-color: $color-input-invalid-border;

      &::-ms-check {
        border-color: $color-input-invalid-border;
      }

      &:hover {
        @include add-demo-state-class() {
          border-color: $color-input-invalid-hover-border;

          &::-ms-check {
            border-color: $color-input-invalid-hover-border;
          }
        }
      }
    }

    &:hover {
      @include add-demo-state-class() {
        border-color: $color-input-hover-border;

        &::-ms-check {
          border-color: $color-input-hover-border;
        }
      }
    }

    &:focus {
      @include add-demo-state-class() {
        @include set-shadow-focus();

        &::-ms-check {
          @include set-shadow-focus();
        }
      }
    }

    &:disabled {
      border-color: $color-input-disabled-border;
      background: $color-input-disabled-background;
      cursor: not-allowed;

      &::-ms-check {
        border-color: $color-input-disabled-border;
        background: $color-input-disabled-background;
      }

      &:indeterminate {
        background-color: $color-input-disabled-background;
        background-image: url("#{inline-icons('control-less-16', $color-input-disabled-icon)}");
        border-color: $color-input-disabled-border;
      }
    }

    &:checked {
      background-color: $color-input-checked-background;
      border-color: $color-input-checked-border;
      background-image: url("#{inline-icons('checkmark-16', $color-input-checked-icon)}");
      background-position: center center;
      background-size: $mu100;

      &::-ms-check {
        background-color: $color-input-checked-background;
        border-color: $color-input-checked-border;
      }

      &:hover {
        border-color: $color-input-checked-hover-border;

        &::-ms-check {
          border-color: $color-input-checked-hover-border;
        }
      }

      &:disabled {
        border-color: $color-input-disabled-border;
        background: $color-input-disabled-background;
        background-image: url("#{inline-icons('checkmark-16', $color-input-disabled-icon)}");
      }
    }

    &:indeterminate {
      background-color: $color-input-checked-background;
      border-color: $color-input-checked-border;
      background-image: url("#{inline-icons('control-less-16', $color-input-checked-icon)}");
    }
  }
}
/* stylelint-enable */

/* mqp:end */
