@use "sass:math";

.mc-datatable {
  $parent: get-parent-selector(&);
  $border-size: 0.0625rem;

  @include set-font-family();

  box-sizing: border-box;

  *,
  ::after,
  ::before {
    box-sizing: inherit;
  }

  // main
  &__container {
    @include set-border-radius();
    @include set-box-shadow("s");

    background-color: $color-datatable-container-background;
    overflow: hidden;
  }

  &__main {
    @include set-datatable-scrollbar();

    overflow: auto;
  }

  // table
  @include set-datatable-size($datatabke-default-celle-size);

  &__table {
    @include set-datatable-base();

    & > thead,
    & > tbody {
      background-color: $color-grey-000;
    }

    th,
    td {
      border-bottom: get-border(s) solid $color-grey-300;
      text-align: left;
      vertical-align: middle;
      padding: {
        right: $mu100;
        left: $mu100;
      }
    }
  }

  thead {
    th,
    td {
      @include set-datatable-head-label();
    }
  }

  &__head {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  tbody {
    tr {
      &:hover:not(#{$parent}__empty) {
        background-color: $color-datatable-cell-background-hover;
      }

      &.selected {
        background-color: $color-datatable-cell-background-selected;
      }
    }

    th,
    td {
      @include set-font-scale("04", "m"); // 14px / 18px

      color: $color-datatable-cell-font;
    }
  }

  /* stylelint-disable no-descending-specificity */
  &__row {
    $datatable-row: &;

    &-parent:not(.mc-datatable__row-parent--expanded) + .mc-datatable__row-expandable {
      height: 0;

      .mc-datatable__row-inner {
        overflow: hidden;
        max-height: 0;
      }
    }

    &-parent.mc-datatable__row-parent--expanded + .mc-datatable__row-expandable {
      .mc-datatable__row-inner {
        max-height: 100%;
      }
    }

    &-expandable {
      & > td {
        padding: 0;
        border-bottom: 0;
      }

      &--offset {
        &-1 {
          table {
            th:first-child,
            td:first-child {
              padding-left: $width-cell-checkbox + $mu100;
            }
          }
        }

        &-2 {
          table {
            th:first-child,
            td:first-child {
              padding-left: $width-cell-checkbox + $width-cell-button + $mu100;
            }
          }
        }
      }
    }
  }
  /* stylelint-enable no-descending-specificity */

  &__cell {
    &-checkbox {
      width: $width-cell-checkbox;
    }

    &-button {
      width: $width-cell-button;
    }

    &-field {
      min-width: $width-cell-field;
    }

    &-number {
      @at-root td#{&} {
        text-align: right;
      }
    }
  }

  // empty
  &__empty {
    &,
    &:hover {
      background-color: $color-datatable-empty-background;
    }

    &-cell {
      color: $color-datatable-empty-color;
    }

    &-content {
      @include set-font-scale("05", "m"); // 16px / 22px

      align-items: center;
      color: $color-datatable-empty-color;
      display: flex;
      gap: $mu150;
      min-height: px-to-rem(310);
      justify-content: center;
      text-align: center;

      strong {
        @include set-font-scale("06", "m"); // 18px / 24px
      }
    }
  }

  // size
  @each $size, $props in $datatable-sizes {
    @if $size != "m" {
      &--#{$size} {
        #{$parent} {
          @include set-datatable-size($props);
        }
      }
    }
  }

  // sticky
  /* stylelint-disable no-duplicate-selectors */
  &--sticky,
  &--sticky-header {
    #{$parent} {
      &__table {
        > thead {
          @include set-box-shadow("l");

          top: 0;
          z-index: 2;
        }
      }

      &__table {
        > tbody {
          tr:last-child {
            th,
            td {
              border-bottom: transparent;
            }
          }
        }
      }

      &__footer {
        border-top: get-border(s) solid $color-grey-300;
        position: relative;
        z-index: 2;
      }
    }
  }
  /* stylelint-enable no-duplicate-selectors */

  &--sticky {
    #{$parent} {
      &__main {
        padding-top: $height-datatable-cell-size-m;
        transform: translateZ(0);
      }

      &__table {
        @include set-datatable-scrollbar();

        display: block;
        overflow-y: auto;

        > thead {
          position: fixed;
          width: 100%;
        }

        > thead,
        > tbody,
        > thead tr,
        > tbody tr,
        > thead th,
        > thead td,
        > tbody th,
        > tbody td {
          display: flex;
        }

        > thead,
        > tbody,
        > thead tr,
        > tbody tr {
          width: 100%;
        }

        > tbody {
          flex-direction: column;
        }

        > thead th,
        > thead td,
        > tbody th,
        > tbody td {
          align-items: center;

          &:not(.mc-datatable__cell-checkbox):not(.mc-datatable__cell-button) {
            flex: 1;
          }
        }
      }

      &__cell {
        &-checkbox,
        &-button,
        &-field,
        &-number {
          flex-shrink: 0;
        }

        &-number {
          justify-content: flex-end;
        }
      }
    }
  }

  &--sticky-header {
    #{$parent} {
      &__main {
        overflow-y: auto;
      }

      &__table {
        > thead {
          position: sticky;
        }
      }
    }
  }
  
  &--overflow-visible {
    #{$parent} {
      &__container {
        overflow: visible;
      }

      &__main {
        overflow: visible;
      }
    }
  }
}
