@use "sass:math";

.mc-datatable {
  $parent: get-parent-selector(&);

  &__topbar,
  &__filters {
    padding-bottom: $mu100;
  }

  // Header - Topbar
  &__topbar {
    justify-content: space-between;

    &,
    &-edition,
    &-actions {
      display: flex;
      gap: $mu100;
    }

    &-edition,
    &-actions {
      flex-wrap: wrap;
    }

    &-edition {
      flex-shrink: 0;
    }

    &-actions {
      align-items: center;
      justify-content: flex-end;
      margin-left: auto;
    }
  }

  // Header - Filters
  &__filters {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: $mu100;
    justify-content: flex-end;

    &:not(:only-child) {
      border-top: get-border(s) solid $color-datatable-filters-border;
      padding-top: $mu100;
    }
  }
}
