.mc-dropdown {
  $parent: get-parent-selector(&);

  align-self: start;
  position: relative;
  min-width: var(--dropdown-min-width, $dropdown-min-width);
  max-width: var(--dropdown-width, $dropdown-width);
  width: 100%;

  &__tag,
  &__tools {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: $dropdown-tag-zindex;
  }

  // &__tag,
  // &__loader,
  // &__clear {
  //   position: absolute;
  //   top: 50%;
  //   transform: translateY(-50%);
  //   z-index: $dropdown-tag-zindex;
  // }

  &__tag {
    left: $mu075;
  }

  &__trigger {
    display: block;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.is-open {
      background-image: url(inline-icons("arrow-top-16", $color-grey-999));
    }

    // invalid state
    // &.is-invalid {
    //   & ~ #{$parent} {
    //     &__clear {
    //       right: px-to-rem(72);
    //     }

    //     &__loader {
    //       right: px-to-rem(104);
    //     }
    //   }
    // }
  }

  &__tools {
    align-items: center;
    background-color: $color-input-background;
    display: flex;
    gap: $mu050;
    justify-content: flex-end;
    right: $mu250;

    .is-valid + &,
    .is-invalid + & {
      right: px-to-rem(72);
    }
  }

  &__clear {
    @include unstyle-button();
    @include set-common-focus();

    background: none;
    border-radius: 50%;

    &,
    &-icon {
      height: $mu150;
      width: $mu150;
    }

    &-icon {
      fill: $color-grey-600;
    }

    &-text {
      @include visually-hidden();
    }
  }

  &--multi {
    #{$parent} {
      &__trigger {
        padding-left: calc($mu075 + var(--dropdown-tag-width, 0px));
      }
    }
  }
}
