.mc-dropdown {
  $parent: get-parent-selector(&);

  position: relative;

  &__trigger {
    @include unstyle-button();
    @include set-select-size($select-default-size);

    display: flex;
    width: 18rem;
    color: $color-grey-900;
    border: get-border("s") solid $color-grey-600;
    border-radius: get-border-radius("m");
    padding-left: $mu075;

    &.is-open {
      background-image: url("#{inline-icons('arrow-top-16', $color-grey-999)}");
    }

    &:disabled {
      @include add-demo-state-class () {
        border-color: transparent;
        background-color: $color-grey-100;
        color: $color-grey-600;
        cursor: not-allowed;
        pointer-events: none;
      }
    }
  }

  &__tag {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: $mu075;
    transform: translateY(-50%);
  }

  &--multi {
    #{$parent} {
      &__trigger {
        padding-left: 4.375rem;
      }
    }
  }
}
