@use "sass:math";

.mc-datatable {
  $parent: get-parent-selector(&);

  // Header - Topbar
  &__topbar {
    justify-content: space-between;

    padding: {
      top: $mu100;
      bottom: $mu100;
    }

    &,
    &-edition,
    &-actions {
      display: flex;
      gap: $mu100;
    }

    &-edition,
    &-actions {
      flex-wrap: wrap;
    }

    &-edition {
      flex-shrink: 0;
    }

    &-actions {
      align-items: center;
      justify-content: flex-end;
      margin-left: auto;
    }
  }

  // Header - Filters
  &__filters {
    align-items: center;
    border-top: get-border(s) solid $color-border-datatable-filters;
    display: flex;
    flex-wrap: wrap;
    gap: $mu100;
    justify-content: flex-end;
    padding: {
      top: $mu100;
      bottom: $mu100;
    }
  }
}
