.mc-datatable {
  $parent: get-parent-selector(&);

  &__empty {
    @include set-font-scale("05", "m"); // 16px / 22px

    align-items: center;
    background-color: $color-datatable-empty-background;
    color: $color-datatable-empty-color;
    display: flex;
    flex-direction: column;
    gap: $mu100; // =16px
    height: px-to-rem(291);
    justify-content: center;
    text-align: center;

    p {
      margin: 0 auto;
    }

    strong {
      @include set-font-scale("06", "m"); // 18px / 24px
    }
  }
}
