.mc-dropdown {
  $parent: get-parent-selector(&);

  align-self: start;
  position: relative;
  min-width: $dropdown-min-width;
  max-width: var(--dropdown-width, $dropdown-width);
  width: 100%;

  &__trigger {
    display: block;
    text-align: left;

    &.is-open {
      background-image: url(inline-icons("arrow-top-16", $color-grey-999));
    }
  }

  &__tag,
  &__clear {
    position: absolute;
    top: -50%;
    transform: translateY(-50%);
    z-index: $dropdown-tag-zindex;
  }

  &__tag {
    left: $mu075;
  }

  &__clear {
    @include unstyle-button();

    background: none;
    right: $mu075;

    &,
    &-icon {
      height: $mu150;
      width: $mu150;
    }

    &-icon {
      fill: $color-grey-600;
    }

    &-text {
      @include visually-hidden();
    }

    // invalid state
    .is-invalid + & {
      right: 4.5rem; // =72px
    }
  }

  &--multi {
    #{$parent} {
      &__trigger {
        overflow: hidden;
        padding-left: calc($mu075 + var(--dropdown-tag-width, 0px));
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
