/* mqp:start */
.mc-flag {
  $parent: get-parent-selector(&);

  @include set-flag-base($parent);
  @include set-font-weight("semi-bold");
  @include set-flag-theme($parent, get-token(color, flag, "solid"));

  @each $name, $props in $flags {
    @if ($name != "solid") {
      &--#{$name} {
        @include set-flag-theme($parent, $props);
      }
    }
  }
}

/* mqp:end */
