/* mqp:start */
.mc-flag {
  @include set-flag-base();
  @include set-font-face('semi-bold');
  @include set-font-scale('04', 's');
  @include set-flag-theme(get-token(color, flag, 'solid'));

  @each $name, $props in $flags {
    @if ($name != 'solid') {
      &--#{$name} {
        @include set-flag-theme($props);
      }
    }
  }

  &--extend {
    flex-shrink: 1;
    height: auto;
  }
}

/* mqp:end */
