.mc-hero {
  position: relative;
  display: flex;


  &__content {
    display: flex;
    flex-direction: row;
    padding-top: 1.5rem;
    color: white;
    font-size: 16px;
  }

  &__bloc-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__bloc-img::before {
    content: "";
    display: block;
    background: rgba(60, 55, 56, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__box {
    display: flex;
    flex-direction: row;
    padding: 0 2rem 5rem 2rem;
    color: white;
    font-size: 16px;
    width: 100%;
  }

  &__body {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: $mu400 $mu125 $mu600 $mu125;

    @include set-from-screen('s-large') {
      padding: $mu400 $mu125 $mu600 $mu125;
    }

    @include set-from-screen('s-xlarge') {
      padding: $mu400 $mu125 $mu600 $mu125;
    }

    @include set-from-screen('m') {
      padding: $mu600 $mu200 8.5rem $mu200;
    }

    @include set-from-screen('m-medium') {
      padding: $mu600 $mu200 8.5rem $mu200;
    }

    @include set-from-screen('l') {
      padding: $mu600 $mu300 11.5rem $mu300;
    }

    @include set-from-screen('xl') {
      padding: $mu600 28rem 11.5rem $mu300;
    }

    @include set-from-screen('xl-medium') {
      padding: $mu800 26.5rem $mu800 $mu700;
    }

    @include set-from-screen('xl-large') {
      padding: $mu800 41.5rem $mu800 $mu250;
    }

    @include set-from-screen('xxl') {
      padding-left: $mu250;
    }

    &--with-box {
      @include set-from-screen('s') {
        padding: $mu250 $mu125 $mu900 $mu125;
      }

      @include set-from-screen('s-medium') {
        padding: $mu250 $mu125 $mu900 $mu125;
      }

      @include set-from-screen('s-large') {
        padding: $mu250 $mu125 $mu900 $mu125;
      }

      @include set-from-screen('s-xlarge') {
        padding: $mu250 $mu125 $mu900 $mu125;
      }

      @include set-from-screen('m') {
        padding: $mu400 $mu200 $mu900 $mu200;
      }

      @include set-from-screen('m-medium') {
        padding: $mu300 $mu300 $mu900 $mu300;
      }

      @include set-from-screen('l') {
        padding: $mu300 $mu300 $mu900 $mu300;
      }

      @include set-from-screen('xl') {
        padding: $mu400 $mu200 10rem $mu200;
      }

      @include set-from-screen('xl-medium') {
        padding: $mu400 $mu700 10rem $mu700;
      }

      @include set-from-screen('xl-large') {
        padding: $mu400 $mu700 10rem $mu700;
      }

      @include set-from-screen('xxl') {
        padding: $mu400 $mu250 11rem $mu250;
      }
    }

    &--with-content {
      @include set-from-screen('s') {
        padding: $mu250 $mu125 $mu300 $mu125;
      }

      @include set-from-screen('s-medium') {
        padding: $mu250 $mu125 $mu300 $mu125;
      }

      @include set-from-screen('s-large') {
        padding: $mu250 $mu125 $mu300 $mu125;
      }

      @include set-from-screen('s-xlarge') {
        padding: $mu250 $mu125 $mu300 $mu125;
      }

      @include set-from-screen('m') {
        padding: $mu350 $mu200 $mu500 $mu200;
      }

      @include set-from-screen('m-medium') {
        padding: $mu350 $mu200 $mu500 $mu200;
      }

      @include set-from-screen('l') {
        padding: $mu500 13rem $mu600 $mu300;
      }

      @include set-from-screen('xl') {
        padding: $mu500 21.5rem $mu600 $mu300;
      }

      @include set-from-screen('xl-medium') {
        padding: $mu500 26.5rem $mu600 $mu700;
      }

      @include set-from-screen('xl-large') {
        padding: $mu500 26.5rem $mu600 $mu700;
      }

      @include set-from-screen('xxl') {
        padding: $mu500 41.5rem $mu800 $mu250;
      }
    }


    &--center {
      justify-content: center;

      .mc-hero__header {
        @include set-from-screen('m-medium') {
          padding-right: 5rem;
          padding-left: 5rem;
        }

        @include set-from-screen('l') {
          padding-right: 5rem;
          padding-left: 5rem;
        }

        @include set-from-screen('l-medium') {
          padding-right: 5rem;
          padding-left: 5rem;
        }

        @include set-from-screen('xl') {
          padding-right: 6.5rem;
          padding-left: 6.5rem;
        }

        @include set-from-screen('xl-medium') {
          padding-right: 6.5rem;
          padding-left: 6.5rem;
        }

        @include set-from-screen('xl-large') {
          padding-right: 9.75rem;
          padding-left: 9.75rem;
        }

        @include set-from-screen('xxl') {
          padding-right: 9.75rem;
          padding-left: 9.75rem;
        }
      }

      .mc-hero__content {
        justify-content: center;
        text-align: center;

        @include set-from-screen('m-medium') {
          padding-right: $mu500;
          padding-left: $mu500;
        }

        @include set-from-screen('l') {
          padding-right: $mu500;
          padding-left: $mu500;
        }

        @include set-from-screen('l-medium') {
          padding-right: 6.5rem;
          padding-left: 6.5rem;
        }

        @include set-from-screen('xl') {
          padding-right: 6.5rem;
          padding-left: 6.5rem;
        }

        @include set-from-screen('xl-medium') {
          padding-right: 13.5rem;
          padding-left: 13.5rem;
        }

        @include set-from-screen('xl-large') {
          padding-right: 22rem;
          padding-left: 22rem;
        }

        @include set-from-screen('xxl') {
          padding-right: 22rem;
          padding-left: 22rem;
        }
      }
    }
  }

  &__container {
    display: flex;
    margin-top: -$mu600;
  }
}
