@use "sass:math";

.mc-layer {
  $parent: get-parent-selector(&);

  @include set-dialog-base();

  display: flex;
  overflow: hidden;

  * {
    box-sizing: inherit;
  }

  &--ltr {
    justify-content: flex-start;

    #{$parent}__dialog {
      transform: translate3d(-100%, 0, 0);
    }
  }

  &:not(#{$parent}--ltr) {
    justify-content: flex-end;

    #{$parent}__dialog {
      transform: translate3d(100%, 0, 0);
    }
  }

  &__dialog {
    background: $color-dialog-background;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: calc(100% - #{$mu200});
    transition: visibility 0s linear 0.4s, transform 0.4s;
    visibility: hidden;
    width: 100%;

    @include set-from-screen("m") {
      max-width: $layer-max-width-m; // 400px
    }

    @include set-from-screen("m-medium") {
      max-width: $layer-max-width-m-medium; // 459px
    }

    @include set-from-screen("l") {
      max-width: $layer-max-width-l; // 448px;
    }

    &--extend {
      @include set-from-screen("m") {
        max-width: $layer-extend-max-width-m; // 508px;
      }

      @include set-from-screen("m-medium") {
        max-width: $layer-extend-max-width-m-mediu; // 581px
      }

      @include set-from-screen("l") {
        max-width: $layer-extend-max-width-l; // 688px;
      }
    }
  }

  &__header,
  &__footer {
    padding-left: $layer-padding-h-xs;
    padding-right: $layer-padding-h-xs;

    @include set-from-screen(l) {
      padding-left: $layer-padding-h-l;
      padding-right: $layer-padding-h-l;
    }
  }

  &__header {
    @include set-divider($color: "light") {
      bottom: 0;
      left: 0;
      position: absolute;
    }

    display: flex;
    align-items: center;
    padding-bottom: $layer-header-padding-bottom-xs;
    padding-top: $layer-header-padding-top-xs;
    min-height: $layer-header-min-height-xs;
    position: relative;

    @include set-from-screen(l) {
      padding-bottom: $layer-header-padding-bottom-l;
      padding-top: $layer-header-padding-top-l;
      min-height: $layer-header-min-height-l;
    }
  }

  &__icon {
    fill: $color-dialog-icon;
    height: $mu150;
    margin-right: $mu075;
    width: $mu150;
  }

  &__title {
    @include set-font-scale("04", "m");
    @include set-font-weight("regular");

    color: $color-font-light;
    margin-bottom: 0;
    margin-top: 0;
  }

  &__close {
    @include unstyle-button();
    @include set-focus-floating-base();

    align-self: flex-start;
    background-color: transparent;
    background-image: url("#{inline-icons($layer-close-button-icon-name, $color-dialog-close)}");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    height: $layer-close-button-size;
    margin-left: auto;
    width: $layer-close-button-size;

    &-text {
      @include set-hidden-input();
    }

    &:focus {
      @include set-focus-floating();
    }
  }

  &__body {
    flex: 1 1;
    color: $color-font-darker;
    overflow: hidden;
    padding-left: math.div($layer-padding-h-xs, 2);
    padding-right: math.div($layer-padding-h-xs, 2);

    @include set-from-screen(l) {
      padding-left: math.div($layer-padding-h-l, 2);
      padding-right: math.div($layer-padding-h-l, 2);
    }

    &--overflowing,
    &--overflowing-scroll-edge {
      & + #{$parent}__footer {
        @include set-box-shadow("l");

        position: relative;
      }
    }

    &--overflowing-scroll-edge {
      padding-left: 0;
      padding-right: 0;

      #{$parent}__content {
        padding-left: $layer-padding-h-xs;
        padding-right: magic-unit-rem(1.125, true);

        @include set-from-screen(l) {
          padding-left: $layer-padding-h-l;
          padding-right: $layer-padding-h-l;
        }
      }
    }

    &--scroll-end {
      & + #{$parent}__footer {
        box-shadow: none;
      }
    }
  }

  &__content {
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: $mu150 math.div($layer-padding-h-xs, 2) $mu300;
    scrollbar-color: $color-grey-600 $color-grey-100;
    scrollbar-width: thin;

    @include set-from-screen(l) {
      padding-left: math.div($layer-padding-h-l, 2);
      padding-right: math.div($layer-padding-h-l, 2);
    }

    &::-webkit-scrollbar {
      background-color: $color-grey-100;
      width: $mu025;

      &-thumb {
        background: $color-grey-600;
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    padding: {
      top: $layer-footer-padding-v-xs;
      bottom: $layer-footer-padding-v-xs;
    }

    @include set-from-screen(l) {
      align-items: center;
      flex-direction: row;
      justify-content: center;
      padding: {
        top: $layer-footer-padding-v-l;
        bottom: $layer-footer-padding-v-l;
      }
    }

    & > :first-child {
      &:not(:only-child) {
        margin-bottom: $mu075;

        @include set-from-screen(l) {
          margin-bottom: 0;
          margin-right: $mu100;
        }
      }
    }
  }

  &-open {
    overflow: hidden;
  }

  /* States */
  #{$parent}__dialog.is-open {
    pointer-events: all;
    transform: translate3d(0, 0, 0);
    transition: visibility 0s linear 0s, transform 0.4s;
    visibility: visible;
  }
}
