.mc-layer {
  $parent: get-parent-selector(&);

  @include set-font-face();
  @include set-dialog-base();

  display: flex;
  justify-content: flex-end;
  overflow: hidden;

  * {
    box-sizing: inherit;
  }

  &__dialog {
    background: $color-grey-000;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: calc(100% - #{$mu200});
    transform: translateX(100%);
    transition: transform 0.4s ease;
    width: 100%;

    @include set-from-screen("m") {
      max-width: 25rem; // 400px
    }

    @include set-from-screen("m-medium") {
      max-width: 28.6875rem; // 459px
    }

    @include set-from-screen("l") {
      max-width: 28rem; // 448px;
    }

    &.is-open {
      pointer-events: all;
      transform: translateX(0);
    }

    &--extend {
      @include set-from-screen("m") {
        max-width: 31.75rem; // 508px;
      }

      @include set-from-screen("m-medium") {
        max-width: 36.3125rem; // 581px
      }

      @include set-from-screen("l") {
        max-width: 43rem; // 688px;
      }
    }
  }

  &__header,
  &__body,
  &__footer {
    padding-left: $mu100;
    padding-right: $mu100;

    @include set-from-screen(l) {
      padding-left: $mu200;
      padding-right: $mu200;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    padding-bottom: $mu050;
    padding-top: $mu100;
    min-height: magic-unit-rem(3.75, true);

    @include set-from-screen(l) {
      padding-bottom: $mu075;
      padding-top: magic-unit-rem(1.25, true);
      min-height: magic-unit-rem(4.25, true);
    }
  }

  &__icon {
    fill: $color-grey-600;
    height: $mu150;
    margin-right: $mu075;
    width: $mu150;
  }

  &__title {
    @include set-font-scale("04", "m");
    @include set-font-weight("regular");

    color: $color-font-light;
    margin-bottom: 0;
    margin-top: 0;
  }

  &__close {
    @include unstyle-button();
    @include set-focus-floating-base();

    align-self: flex-start;
    background: transparent
      url(inline-icons("control-cross-32", $color-grey-500)) no-repeat;
    background-size: contain;
    cursor: pointer;
    height: $mu200;
    margin-left: auto;
    width: $mu200;

    &-text {
      @include set-hidden-input();
    }

    &:focus {
      @include set-focus-floating();
    }
  }

  &__body {
    flex: 1 1;
    overflow: hidden;

    &--overflowing,
    &--overflowing-scroll-edge {
      position: relative;

      & + #{$parent}__footer {
        @include set-box-shadow("l");
      }
    }

    &--overflowing-scroll-edge {
      padding-left: 0;
      padding-right: 0;

      #{$parent}__content {
        padding-left: $mu100;
        padding-right: magic-unit-rem(1.125, true);

        @include set-from-screen(l) {
          padding-left: $mu200;
          padding-right: $mu200;
        }
      }
    }

    &--scroll-end {
      & + #{$parent}__footer {
        box-shadow: none;
      }
    }
  }

  &__content {
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: $color-grey-600 $color-grey-100;
    scrollbar-width: thin;
    padding: {
      top: $mu150;
      bottom: $mu300;
    }

    &::-webkit-scrollbar {
      background-color: $color-grey-100;
      width: $mu025;

      &-thumb {
        background: $color-grey-600;
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    padding: {
      top: $mu100;
      bottom: $mu100;
    }

    @include set-from-screen(l) {
      align-items: center;
      flex-direction: row;
      justify-content: center;
      padding: {
        top: $mu150;
        bottom: $mu150;
      }
    }

    & > :first-child {
      &:not(:only-child) {
        margin-bottom: $mu075;

        @include set-from-screen(l) {
          margin-bottom: 0;
          margin-right: $mu100;
        }
      }
    }
  }

  &-open {
    overflow: hidden;
  }

  &-overlay {
    @include set-dialog-overlay();
  }
}
