.mc-listbox {
  $parent: get-parent-selector(&);

  @include unstyle-list();

  background-color: $color-listbox-background;
  border: get-border("s") solid $color-listbox-border;
  border-radius: get-border-radius("m") - 1;
  position: absolute;
  overflow-y: auto;
  margin-top: $mu025;
  margin-bottom: 0;
  max-height: $listbox-height;
  min-width: $listbox-width;
  opacity: 0;
  visibility: hidden;
  width: var(--listbox-width, $listbox-width);

  &.is-open {
    opacity: 1;
    visibility: visible;
    z-index: 10;
  }

  &::-webkit-scrollbar {
    background-color: $color-grey-100;
    width: $mu025;

    &-thumb {
      background: $color-grey-600;
    }
  }

  &__item,
  &__tile {
    align-items: center;
    display: flex;
    gap: $mu050;
    min-height: $mu300;
    padding-left: $mu075;
    padding-right: $mu075;
    position: relative;
    justify-content: space-between;

    &:not(:last-child) {
      border-bottom: get-border("s") solid $color-listbox-tile-border;
    }

    &:hover {
      @include listbox-tile-hover();
    }
  }

  &__flag,
  &__icon {
    width: $mu200;
    height: $mu200;
  }

  &__flag {
    @include set-font-scale("07", "m");

    text-align: center;
  }

  &__empty {
    @include set-font-scale("04", "m");

    color: $color-fields-error;
    display: inline-block;
    margin-top: $mu025;
  }

  &__label {
    cursor: pointer;
    margin-right: auto;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 2;
    }
  }

  &__input {
    order: 1;
  }

  .is-checked,
  .is-selected {
    @include listbox-tile-selected(
      $position: right $mu075 center,
      $size: $mu150
    );
  }

  .is-focus {
    @include listbox-tile-hover();
  }

  .is-disabled {
    cursor: not-allowed;
    box-shadow: none;
    background-color: $color-listbox-disabled-background;
    color: $color-font-light;
    pointer-events: none;
  }

  &:not(.mc-listbox--multi) {
    #{$parent}__input {
      @include visually-hidden();

      &:checked + #{$parent}__label::before {
        @include listbox-tile-selected();

        content: "";
        height: $mu150;
        position: absolute;
        right: $mu075;
        top: 0;
        transform: translateY(50%);
        width: $mu150;
      }
    }
  }

  &--left {
    right: 0;
  }
}
