@use "sass:math";

.mc-layer {
  $dialog-top: 0 !default;
  $dialog-left: 0 !default;
  $dialog-right: 0 !default;
  $dialog-bottom: 0 !default;

  $parent: get-parent-selector(&);

  @include set-font-face();
  @include set-dialog-base($top: $dialog-top, $left: $dialog-left, $right: $dialog-right, $bottom: $dialog-bottom);

  display: flex;
  overflow: hidden;

  * {
    box-sizing: inherit;
  }

  &--ltr {
    justify-content: flex-start;

    #{$parent}__dialog {
      transform: translate3d(-100%, 0, 0);
    }
  }

  &:not(#{$parent}--ltr) {
    justify-content: flex-end;

    #{$parent}__dialog {
      transform: translate3d(100%, 0, 0);
    }
  }

  &__dialog {
    background: $color-dialog-background;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: calc(100% - #{$mu200});
    transition: visibility 0s linear 0.4s, transform 0.4s;
    visibility: hidden;
    width: 100%;

    @include set-from-screen("m") {
      max-width: 25rem; // 400px
    }

    @include set-from-screen("m-medium") {
      max-width: 28.6875rem; // 459px
    }

    @include set-from-screen("l") {
      max-width: 28rem; // 448px;
    }

    &--extend {
      @include set-from-screen("m") {
        max-width: 31.75rem; // 508px;
      }

      @include set-from-screen("m-medium") {
        max-width: 36.3125rem; // 581px
      }

      @include set-from-screen("l") {
        max-width: 43rem; // 688px;
      }
    }
  }

  &__header,
  &__footer {
    padding-left: $mu100;
    padding-right: $mu100;

    @include set-from-screen(l) {
      padding-left: $mu200;
      padding-right: $mu200;
    }
  }

  &__header {
    @include set-divider($color: "light") {
      bottom: 0;
      left: 0;
      position: absolute;
    }

    display: flex;
    align-items: center;
    padding-bottom: $mu050;
    padding-top: $mu100;
    min-height: magic-unit-rem(3.75, true);
    position: relative;

    @include set-from-screen(l) {
      padding-bottom: $mu075;
      padding-top: magic-unit-rem(1.25, true);
      min-height: magic-unit-rem(4.25, true);
    }
  }

  &__icon {
    fill: $color-dialog-icon;
    height: $mu150;
    margin-right: $mu075;
    width: $mu150;
  }

  &__title {
    @include set-font-scale("04", "m");
    @include set-font-weight("regular");

    color: $color-font-light;
    margin-bottom: 0;
    margin-top: 0;
  }

  &__close {
    @include unstyle-button();
    @include set-focus-floating-base();

    align-self: flex-start;
    background: transparent
      url(inline-icons("control-cross-32", $color-dialog-close)) no-repeat;
    background-size: contain;
    cursor: pointer;
    height: $mu200;
    margin-left: auto;
    width: $mu200;

    &-text {
      @include set-hidden-input();
    }

    &:focus {
      @include set-focus-floating();
    }
  }

  &__body {
    flex: 1 1;
    overflow: hidden;
    padding-left: math.div($mu100, 2);
    padding-right: math.div($mu100, 2);

    @include set-from-screen(l) {
      padding-left: math.div($mu200, 2);
      padding-right: math.div($mu200, 2);
    }

    &--overflowing,
    &--overflowing-scroll-edge {
      & + #{$parent}__footer {
        @include set-box-shadow("l");

        position: relative;
      }
    }

    &--overflowing-scroll-edge {
      padding-left: 0;
      padding-right: 0;

      #{$parent}__content {
        padding-left: $mu100;
        padding-right: magic-unit-rem(1.125, true);

        @include set-from-screen(l) {
          padding-left: $mu200;
          padding-right: $mu200;
        }
      }
    }

    &--scroll-end {
      & + #{$parent}__footer {
        box-shadow: none;
      }
    }
  }

  &__content {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: $mu150 math.div($mu100, 2) $mu300;
    scrollbar-color: $color-grey-600 $color-grey-100;
    scrollbar-width: thin;

    @include set-from-screen(l) {
      padding-left: math.div($mu200, 2);
      padding-right: math.div($mu200, 2);
    }

    &::-webkit-scrollbar {
      background-color: $color-grey-100;
      width: $mu025;

      &-thumb {
        background: $color-grey-600;
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    padding: {
      top: $mu100;
      bottom: $mu100;
    }

    @include set-from-screen(l) {
      align-items: center;
      flex-direction: row;
      justify-content: center;
      padding: {
        top: $mu150;
        bottom: $mu150;
      }
    }

    & > :first-child {
      &:not(:only-child) {
        margin-bottom: $mu075;

        @include set-from-screen(l) {
          margin-bottom: 0;
          margin-right: $mu100;
        }
      }
    }
  }

  &-open {
    overflow: hidden;
  }

  /* States */
  #{$parent}__dialog.is-open {
    pointer-events: all;
    transform: translate3d(0, 0, 0);
    transition: visibility 0s linear 0s, transform 0.4s;
    visibility: visible;
  }

  // Overlay
  @at-root #{$parent}-overlay {
    @include set-page-overlay();
  }
}
