/* mqp:start */
.mc-left-icon-input {
  $parent: get-parent-selector(&);

  position: relative;

  &__icon {
    position: absolute;
    z-index: var(--input-left-icon-z-index, 1);
    top: 50%;
    transform: translateY(-50%);
    fill: $color-input-border;
    pointer-events: none;
  }

  @include set-input-icon-size($input-icon-default-size, $parent);

  @each $size, $props in $input-icon-sizes {
    &--#{$size} {
      @if ($size != 'm') {
        @include set-input-icon-size($props, $parent);
      }
    }
  }
}

/* mqp:end */
