.mc-modal {
  @include set-font-face();

  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  left: 0;
  outline: 0;
  padding: $mu100 magic-unit-rem(1.125, true);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1999999999;
  overflow-x: hidden;
  overflow-y: auto;

  @include set-from-screen(m) {
    align-items: center;
  }

  &__dialog {
    background: $color-grey-000;
    padding: $mu100;
    position: relative;
    width: 100%;

    @include set-from-screen(m) {
      padding-top: $mu125;
      padding-left: $mu150;
      padding-right: $mu150;
      max-width: percentage(1/2);
      max-height: calc(100vh / 2);
    }

    @include set-from-screen(l) {
      max-height: calc(100vh * 2 / 3);
      max-width: percentage(1/3);
    }

    @include set-from-screen(xl) {
      max-height: calc(100vh * 2 / 3);
      max-width: 66%;
    }

    @include set-from-screen(xxl) {
      max-width: percentage(1/2);
      max-height: calc(100vh / 2);
    }
  }

  &__content {
    padding-bottom: $mu050;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: $mu125;
    min-height: magic-unit-rem(2.25, true);
  }

  &__title {
    @include set-font-scale('04', 'm');

    color: $color-font-light;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__close {
    @include unstyle-button();

    height: $mu200;
    width: $mu200;
    background:
      transparent url(inline-icons('cross-32', $color-grey-500))
      no-repeat;
    background-size: contain;

    &-text {
      @include set-hidden-input();
    }
  }

  &__body {
    @include set-font-scale('05', 'm');

    color: $color-font-darker;
  }

  &__heading {
    @include set-font-scale('06', 'm');
    @include set-font-weight('semi-bold');

    color: $color-font-darkest;
    margin-bottom: $mu025;
    margin-top: 0;
  }

  &__footer {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: $mu100;

    @include set-from-screen(m) {
      align-items: center;
      flex-direction: row;
    }

    & > :first-child {
      @include set-from-screen(m) {
        margin-right: $mu100;
      }

      &:not(:only-child) {
        margin-bottom: $mu075;

        @include set-from-screen(m) {
          margin-bottom: 0;
        }
      }
    }
  }

  &-open {
    overflow: hidden;
  }

  &-overlay {
    filter: blur(1px);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($color-grey-900, 0.7);
    z-index: 1999999998;
  }
}
