@use "sass:math";

.mc-modal {
  $parent: get-parent-selector(&);

  &,
  * {
    box-sizing: border-box;
  }

  @include set-font-face();
  @include set-dialog-base();

  align-items: flex-end;
  display: flex;
  height: 100vh;
  height: stretch;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
  padding: $mu100 magic-unit-rem(1.125, true);
  width: 100vw;

  @include set-from-screen(m) {
    align-items: center;
    padding: 0;
  }

  &__dialog {
    background: $color-dialog-background;
    display: flex;
    flex-direction: column;
    opacity: 0;
    max-height: 100%;
    position: relative;
    transform: translateY(-25%);
    transition:
      visibility 0s linear 0.4s,
      transform 0.4s ease,
      opacity 0.4s ease;
    visibility: hidden;
    width: 100%;

    @include set-from-screen(m) {
      max-height: percentage(math.div(1, 2));
      max-width: magic-unit-rem(38.5, true); // 616px
    }

    @media (min-width: $screen-l) and (max-width: ($screen-xxl - 1)) {
      max-height: percentage(math.div(2, 3));
    }

    @include set-from-screen(l) {
      max-width: magic-unit-rem(48, true); // 768px
    }

    @include set-from-screen(xl) {
      max-width: magic-unit-rem(50, true); // 800px
    }

    @include set-from-screen(xxl) {
      max-width: magic-unit-rem(56.5, true); // 904px
    }

    &.is-open {
      opacity: 1;
      pointer-events: all;
      transform: translateY(0);
      transition:
        visibility 0s linear 0s,
        transform 0.4s ease,
        opacity 0.4s ease;
      visibility: visible;
    }
  }

  &__form {
    display: contents;
  }

  &__header {
    @include set-divider($color: "light") {
      bottom: 0;
      left: 0;
      position: absolute;
    }

    align-items: center;
    display: flex;
    gap: $mu075;
    margin-bottom: $mu100;
    min-height: px-to-rem(60);
    padding: $mu075 $mu075 $mu075 $mu100;
    position: relative;

    @include set-from-screen(m) {
      padding-top: $mu100;
      padding-right: $mu100;
      padding-left: $mu150;
    }
  }

  &__icon {
    fill: $color-dialog-icon;
    height: $mu150;
    width: $mu150;
  }

  &__title {
    @include set-font-scale("04", "m");
    @include set-font-weight("regular");

    color: $color-font-light;
    margin-bottom: 0;
    margin-top: 0;
  }

  &__close {
    @include unstyle-button();
    @include set-focus-floating-base();

    align-self: flex-start;
    background-color: transparent;
    background-image: url("#{inline-icons('control-cross-32', $color-dialog-close)}");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    height: $mu200;
    flex-shrink: 0;
    margin-left: auto;
    width: $mu200;

    &-text {
      @include set-hidden-input();
    }

    &:focus {
      @include set-focus-floating();
    }
  }

  &__body {
    @include set-font-scale("05", "m");

    flex: 1 1;
    color: $color-font-darker;
    display: flex;
    overflow: hidden;
    padding-left: math.div($mu100, 2);
    padding-right: math.div($mu100, 2);

    @include set-from-screen(m) {
      padding-left: math.div($mu150, 2);
      padding-right: $mu100;
    }
  }

  &__content {
    flex-grow: 1;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: $color-grey-600 $color-grey-100;
    scrollbar-width: thin;
    padding-left: math.div($mu100, 2);
    padding-right: math.div($mu100, 2);

    @include set-from-screen(m) {
      padding-left: math.div($mu150, 2);
      padding-right: $mu075;
    }

    &::-webkit-scrollbar {
      background-color: $color-grey-100;
      width: $mu025;

      &-thumb {
        background: $color-grey-600;
      }
    }
  }

  &__heading {
    @include set-font-scale("06", "m");
    @include set-font-weight("semi-bold");

    color: $color-font-darkest;
    margin-bottom: 0;
    margin-top: 0;
  }

  &__inner {
    padding: {
      top: $mu150;
      bottom: $mu300;
    }
  }

  &__footer {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $mu100;

    @include set-from-screen(m) {
      align-items: center;
      flex-direction: row;
      padding: $mu150;
    }

    & > :first-child {
      &:not(:only-child) {
        margin-bottom: $mu075;

        @include set-from-screen(m) {
          margin-bottom: 0;
          margin-right: $mu100;
        }
      }
    }
  }

  &-open {
    overflow: hidden;
  }

  // Overlay
  @at-root #{$parent}-overlay {
    @include set-page-overlay();
  }
}
