@use "sass:math";

.mc-option-card {
  $parent: get-parent-selector(&);

  border-radius: get-border-radius("m");
  cursor: pointer;
  position: relative;

  &__input {
    @at-root input#{&} {
      border-color: $color-input-border;
      position: absolute;
      right: $mu100;
      top: $mu100;

      &,
      &:focus {
        box-shadow: none;
      }

      &:checked {
        border-color: $color-input-checked-border;
      }

      &:hover {
        border-color: $color-input-border;
      }

      &:checked:hover {
        border-color: $color-input-checked-border;
      }

      &:hover + #{$parent}__label {
        box-shadow: 0 0 0 2px $color-grey-800;
      }

      &:checked + #{$parent}__label {
        border-color: $color-primary-01-500;
        box-shadow: 0 0 0 $mu025 $color-success-100;
        pointer-events: none;
      }

      &:focus + #{$parent}__label {
        @include set-focus-floating();
      }
    }
  }

  &__label {
    border: 2px solid transparent;
    border-radius: get-border-radius("m");
    box-shadow: 0 0 0 1px $color-grey-300;
    cursor: pointer;
    height: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    &-text {
      @include visually-hidden();
    }

    @include set-focus-floating-base($position: false) {
      border-radius: get-border-radius("l");
      top: -$mu025;
      right: -$mu025;
      bottom: -$mu025;
      left: -$mu025;
    }
  }

  &__content {
    border-radius: 4px;
    padding: $mu100;
  }

  &--small {
    input#{$parent}__input {
      right: $mu050;
      top: $mu050;
    }

    #{$parent}__content {
      padding: $mu050;
    }
  }

  &--centered {
    input#{$parent}__input {
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &--no-padding {
    #{$parent}__content {
      padding: 0;
    }
  }
}
