.mc-option-group-extended {
  $parent: get-parent-selector(&);

  display: flex;
  justify-content: space-evenly;

  &__card {
    position: relative;
    border-radius: get-border-radius("m");
    border: 1px solid $color-grey-300;
    cursor: pointer;
  }

  &__label {
    position: absolute;
    border-radius: get-border-radius("m");
    border: 1px solid $color-grey-300;
    height: 100%;
    width: 100%;
    top: -1px;
    left: -1px;
    cursor: pointer;
  }

  &__input {
    position: absolute !important;
    right: $mu100;
    top: $mu100;

    &:focus {
      box-shadow: none !important;
    }

    &:hover {
      border-color: $color-input-border !important;
    }

    &:checked:hover {
      border-color: $color-input-checked-border !important;
    }

    &:checked + #{$parent}__label {
      border: 2px solid $color-primary-01-500;
      box-shadow: 0 0 0 4px $color-success-100;
      top: -2px;
      left: -2px;
    }

    &:focus + #{$parent}__label {
      @include set-shadow-focus();

      top: -2px;
      left: -2px;
    }

    &:hover + #{$parent}__label {
      border: 2px solid $color-grey-800;
      top: -2px;
      left: -2px;
    }

    &:checked:hover + #{$parent}__label {
      border-color: $color-input-checked-hover-border;
    }
  }

  &--spaced {
    #{$parent} {
      &__input {
        right: $mu050;
        top: $mu050;
      }
    }
  }

  &--centered {
    #{$parent} {
      &__input {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
