@use "sass:math";

.mc-option-button {
  $parent: get-parent-selector(&);

  &__input {
    @include set-hidden-input;

    &:hover + #{$parent}__label {
      box-shadow: 0 0 0 2px $color-grey-800;
    }

    &:checked + #{$parent}__label {
      border-color: $color-primary-01-500;
      box-shadow: 0 0 0 $mu025 $color-success-100;
    }

    &:focus + #{$parent}__label {
      &::after {
        box-shadow: 0 0 0 2px $color-focus-border;
      }
    }

    &:disabled + #{$parent}__label {
      cursor: not-allowed;
      background-color: $color-grey-200;
      color: $color-grey-600;
      box-shadow: none;
    }
  }

  &__label {
    position: relative;
    padding: magic-unit-rem(1.5625, true) $mu200;
    border-radius: get-border-radius("m");
    box-shadow: 0 0 0 1px $color-grey-300;
    border: 2px solid transparent;
    cursor: pointer;

    &::after {
      position: absolute;
      border-radius: get-border-radius("l");
      box-shadow: 0 0 0 0 transparent;
      content: "";
      display: block;
      pointer-events: none;
      top: -$mu025;
      right: -$mu025;
      bottom: -$mu025;
      left: -$mu025;
    }
  }
}
