@use "sass:math";

.mc-password-input {
  $parent: get-parent-selector(&);
  display: flex;

  &__control.mc-text-input {
    border-right: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  &__button {
    @include unstyle-button();
    @include set-font-scale("04", "m");
    @include set-font-weight("semi-bold");
    @include set-pwdinput-size($input-default-size);

    background-color: $color-input-background;
    border: get-border("s") solid $color-input-border;
    border-bottom-right-radius: $input-border-radius;
    border-top-right-radius: $input-border-radius;
    color: $color-input-text;
    display: block;
    position: relative;
    // height: 0;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    // min-height: $mu300;

    &:active,
    &:focus,
    &:hover {
      background-color: $color-password-input-button-hover-background;
    }
  }

  @each $size, $props in $input-sizes {
    &--#{$size} {
      #{$parent}__button {
        @include set-pwdinput-size($props);
      }
    }
  }
}
