.mc-phone-number {
  $parent: get-parent-selector(&);

  @include set-font-family();

  display: flex;
  max-width: magic-unit-rem(21);
  position: relative;

  &__button {
    @include unstyle-button();
    @include set-select-size($select-default-size);
    @include set-font-weight("semi-bold");

    display: flex;
    align-items: center;
    color: $color-font-darker;
    border: get-border("s") solid $color-phone-number-button-border;
    border-radius: $mu025 0 0 $mu025;
    border-right: none;
    padding-left: $mu100;

    #{$parent}__country {
      display: none;
    }
  }

  &__flag {
    margin-right: $mu050;
    width: $mu100;
    height: $mu100;
    text-align: center;
  }

  &__list {
    @include unstyle-list();
    @include set-box-shadow("l");

    margin: 0;
    position: absolute;
    width: 100%;
    max-height: magic-unit-rem(12);
    border-radius: $mu025 0 0 $mu025;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: $color-grey-600 $color-grey-100;
    scrollbar-width: thin;
    background-color: $color-phone-number-list-background;
    z-index: var(--phone-number-list-z-index, 10);

    &::-webkit-scrollbar {
      background-color: $color-grey-100;
      width: $mu025;

      &-thumb {
        background: $color-grey-600;
      }
    }

    &:focus {
      outline: none;
    }

    &--hidden {
      display: none;
    }
  }

  &__item {
    @include set-font-scale("05", "s");

    display: flex;
    align-items: center;
    min-height: $mu300;
    padding-left: $mu075;
    border-bottom: get-border("s") solid $color-phone-number-item-border;

    &--focused {
      background: $color-phone-number-item-focus-background;
    }
  }

  &__input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &__indicator,
  &__country {
    padding-left: $mu100;
  }

  &__overlay {
    background: transparent;
    inset: 0;
    position: fixed;
    z-index: var(--phone-number-overlay-z-index, 10);
  }

  &--focused {
    #{$parent}__button {
      border-color: $color-info-500;
    }

    #{$parent}__input {
      border-top-color: $color-info-500;
      border-right-color: $color-info-500;
      border-bottom-color: $color-info-500;
    }
  }
}
