.mc-pagination {
  $parent: &;

  display: inline-flex;
  justify-content: space-between;
  align-items: center;

  &--light {
    #{$parent}__button:first-child {
      margin-right: $mu150;
    }
  }

  &__button {
    @include unstyle-button();
    @include set-button-theme(get-token(color, button, 'solid-neutral'));
    @include set-button-layout();

    box-sizing: border-box;
    min-height: $mu300;
    min-width: $mu300;

    @include set-from-screen("xl") {
      min-height: $mu200;
      min-width: $mu200;
    }

    &-icon {
      width: $mu200;
      height: $mu200;
      fill: $color_grey_000;

      @include set-from-screen("xl") {
        width: $mu125;
        height: $mu125;
      }
    }

    &-hidden {
      display: none;
    }
  }

  &__field {
    margin: 0 $mu150;
  }

  &__select {
    @include set-font-scale('05', 'm');

    min-width: $mu900;
    padding:
      calc(#{$mu075} - #{$select-border-width}) $mu075
      calc(#{$mu075} + 0.125em - #{$select-border-width});


    @include set-from-screen("xl") {
      @include set-font-scale('04', 'm');

      padding:
        calc(#{$mu050} - 0.125em - #{$select-border-width}) $mu050
        calc(#{$mu050} - #{$select-border-width});
    }
  }
}
