@use "sass:math";

.mc-password-input {
  display: flex;

  &__control.mc-text-input {
    border-right: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  &__button {
    @include unstyle-button();
    @include set-font-weight("semi-bold");

    background-color: $color-input-background;
    border: get-border("s") solid $color-input-border;
    border-bottom-right-radius: get-border-radius("m");
    border-top-right-radius: get-border-radius("m");
    color: $color-input-text;
    display: block;
    position: relative;
    height: 0;
    padding: math.div($mu175, 2) 0.9375rem;
    min-height: $mu300;

    &:active,
    &:focus,
    &:hover {
      background-color: $color-password-input-button-hover-background;
    }
  }
}
