@use "sass:math";

.mc-progressbar {
  $parent: get-parent-selector(&);

  @include set-font-family ();

  &,
  * {
    box-sizing: border-box;
  }

  align-items: center;
  background-color: $color-progress-background;
  display: flex;
  height: $mu050;
  justify-content: center;
  position: relative;

  &,
  &__indicator {
    border-radius: get-border-radius("m");
    overflow: hidden;
  }

  &__indicator {
    align-items: center;
    background-color: $color-progress-indicator;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    left: 0;
    min-width: px-to-rem(37);
    padding: math.div($mu025, 2);
    position: absolute;
    transition: width 0.4s ease;
    top: 0;

    @at-root #{$parent}--static & {
      transition: none;
    }
  }

  &__percentage {
    @include set-font-scale("02", "m");
    @include set-font-weight("semi-bold");

    background-color: $color-progress-percentage-background;
    border-radius: $mu100;
    color: $color-progress-percentage-default;
    padding: math.div($mu025, 2) $mu050;

    // visually hide the percentage
    @at-root #{$parent}:not(#{$parent}--percent) & {
      @include set-hidden-input();
    }
  }

  // size modifiers
  @each $name, $props in $progressbar-sizes {
    &--#{$name} {
      @if $name != "m" {
        height: map-get($props, "height");

        &,
        #{$parent}__indicator {
          border-radius: map-get($props, "border-radius");
        }
      }
    }
  }
}
