.mc-quantity-selector {
  $parent: get-parent-selector(&);

  display: flex;
  position: relative;

  /* stylelint-disable no-descending-specificity */
  &__button-right,
  &__button-left {
    z-index: 1;
  }

  &__button-right {
    border-radius: 0 $mu025 $mu025 0;
  }

  &__button-left {
    border-radius: $mu025 0 0 $mu025;
  }
  /* stylelint-enable no-descending-specificity */

  &__input {
    border-radius: 0;

    &,
    &::placeholder {
      text-align: center;
    }

    &:not(:focus) {
      border-left: none;
      border-right: none;
    }

    &:focus {
      z-index: 2;
    }
  }
}
