.mc-quantity-selector {
  $parent: &;

  display: flex;

  &__button {
    &-right {
      border-radius: 0 $mu025 $mu025 0;
    }

    &-left {
      border-radius: $mu025 0 0 $mu025;
    }
  }

  &__field {
    margin: 0;
  }

  &__input {
    border-radius: 0;
    border-left: none;
    border-right: none;
    text-align: center;
  }

  &__input::placeholder {
    text-align: center;
  }

  // To be removed - check fix on line he
  .mc-text-input {
    height: 48px;

    &--s {
      height: 32px;
    }
  }
}
