/* mqp:start */
.mc-select {
  @include reset-input();
  @include set-select-size($select-default-size);

  background-image: $select-background-arrow;
  background-color: $color-input-background;
  background-repeat: no-repeat;
  background-size: $mu100 $mu100, $mu150 $mu150;
  border: $select-border-width solid $color-input-border;
  border-radius: $select-border-radius;
  color: $color-input-text;
  transition: border-color 200ms ease, box-shadow 200ms ease;
  width: 100%;

  &::-ms-expand {
    display: none;
  }

  &:hover {
    @include add-demo-state-class() {
      border-color: $color-input-hover-border;
    }
  }

  &:focus {
    @include add-demo-state-class() {
      @include set-shadow-focus();
    }
  }

  &:disabled {
    background-color: $color-input-disabled-background;
    border-color: $color-input-disabled-border;
    color: $color-input-placeholder;
    cursor: not-allowed;
    opacity: 1;
  }

  &.is-invalid {
    background-image: $select-background-arrow, $select-background-invalid-b64;
    border-color: $color-input-invalid-border;
  }

  &.is-valid {
    background-image: $select-background-arrow, $select-background-valid-b64;
    border-color: $color-input-valid-border;
  }

  @each $size, $props in $select-sizes {
    &--#{$size} {
      @include modify-from-screens($major-screens) {
        @include set-select-size($props);
      }
    }
  }
}

/* mqp:end */
