@use "sass:math";

/* mqp:start */
.mc-stars-input {
  $parent: get-parent-selector(&);

  @include set-stars-container($stars-default-size);

  display: flex;
  position: relative;

  &__text,
  &__radio {
    @include set-hidden-input;
  }

  &__radio::-ms-check {
    display: none;
  }

  &__label {
    @include set-stars-size($stars-default-size);
    @include set-focus-transition();

    background:
      url(inline-icons("star-full-32", $color-star-full, $color-star-full)) repeat-x
      center center;
    border-radius: $stars-focus-radius;
    background-size: $stars-default-bg-size $stars-default-bg-size;
    cursor: pointer;

    &::before {
      background:
        url(inline-icons("star-full-32", $color-star-hover, $color-star-hover)) repeat-x
        left center;
      background-size: $stars-default-bg-size $stars-default-bg-size;
      content: "";
      left: 0;
      top: 0;
      bottom: 0;
      display: block;
      position: absolute;
      opacity: 0;
      pointer-events: none;
    }

    @for $i from 5 through 1 {
      &:nth-of-type(#{$i})::before {
        width: percentage(math.div($i - 1, 5));
      }
    }
  }

  :checked ~ &__label,
  :focus ~ &__label {
    background-image: url(inline-icons("star-full-32", transparent, $color-star-full));
  }

  :checked + &__label,
  :focus + &__label {
    background-image: url(inline-icons("star-full-32", $color-star-full, $color-star-full));
  }

  :focus + &__label {
    @include set-shadow-focus();
  }

  &__radio:hover ~ &__label {
    background-image: url(inline-icons("star-full-32", transparent, $color-star-full));
  }

  &__radio:hover + &__label {
    background-image: url(inline-icons("star-full-32", $color-star-hover, $color-star-hover));

    &::before {
      opacity: 1;
    }
  }

  @each $size, $props in $stars-sizes {
    &--#{$size} {
      @if ($size != "m") {
        @include set-stars-container($props);

        #{$parent}__label {
          @include set-stars-size($props);

          /* fix for ie11 */
          $bg-variation-size: map-deep-get($stars-sizes, $size, "width");

          background-size: $bg-variation-size $bg-variation-size;

          &::before {
            background-size: $bg-variation-size $bg-variation-size;
          }
        }
      }
    }
  }
}

/* mqp:end */
