@use "sass:math";

/* mqp:start */
.mc-stars-result {
  $parent: get-parent-selector(&);

  @include set-font-family();

  align-items: center;
  display: flex;

  &__text {
    @include set-hidden-input();
  }

  &__visual {
    @include set-stars-container($stars-default-size);
    @include set-stars-background($stars-default-size, "result");

    position: relative;

    &,
    &::before {
      background-position: left top;
      background-repeat: repeat-x;
      background-size: $stars-default-bg-size $stars-default-bg-size;
      display: block;
    }

    &::before {
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      top: 0;
    }
  }

  &__label {
    @include set-starts-label($stars-default-size-label);

    color: $color-font-darkest;
    margin-left: $mu050;

    &--score {
      @include set-font-weight("semi-bold");
    }
  }

  @each $size, $props in $stars-sizes {
    &--#{$size} {
      @if $size != "m" {
        #{$parent} {
          &__visual {
            @include set-stars-container($props);
            @include set-stars-background($props, "result");

            /* fix for ie11 */
            $bg-variation-size: map-deep-get($stars-sizes, $size, "width");

            &,
            &::before {
              background-size: $bg-variation-size $bg-variation-size;
            }
          }

          &__label {
            @include set-starts-label(map-deep-get($stars-sizes-label, $size));
          }
        }
      }
    }
  }

  @for $i from 1 through 10 {
    &--score-#{$i * 10} {
      #{$parent}__visual::before {
        width: percentage(math.div($i, 10));
      }
    }
  }
}

/* mqp:end */
