/* mqp:start */
.mc-select {
  @include reset-input();
  @include set-select-size($select-default-size);

  border: $select-border-width solid $color-input-border;
  border-radius: $select-border-radius;
  color: $color-input-text;
  transition: border-color 200ms ease, box-shadow 200ms ease;
  width: 100%;

  &::-ms-expand {
    display: none;
  }

  &:hover {
    @include add-demo-state-class() {
      border-color: $color-input-hover-border;
    }
  }

  &:focus {
    @include add-demo-state-class() {
      @include set-shadow-focus();
    }
  }

  &:disabled {
    @include select-background-arrow(
      $color-input-placeholder,
      $color-input-disabled-background
    );

    border-color: $color-input-disabled-border;
    color: $color-input-placeholder;
    cursor: not-allowed;
  }

  &.is-invalid {
    border-color: $color-input-invalid-border;
  }

  &.is-valid {
    border-color: $color-input-valid-border;
  }

  @each $size, $props in $select-sizes {
    &--#{$size} {
      @include modify-from-screens($major-screens) {
        @include set-select-size($props);
      }
    }
  }
}

/* mqp:end */
