.mc-select {
  @include reset-input;
  @include set-font-scale('05');
  @include select-background-arrow();

  border: $select-border-width solid $color-input-border;
  border-radius: $select-border-radius;
  color: $color-input-text;
  width: 100%;
  padding:
    calc(#{$mu075} - 0.125em - #{$select-border-width}) $mu075
    calc(#{$mu075} + 0.125em - #{$select-border-width});

  /*   padding: calc(#{$mu100} - #{$select-border-width}); */
  transition: border-color ease 200ms, border ease 200ms;

  &::-ms-expand {
    display: none;
  }

  &:hover,
  &.is-hover {
    @include select-background-arrow($color-input-hover-border);

    border-color: $color-input-hover-border;
  }

  &:focus,
  &.is-focus {
    @include select-background-arrow($color-input-focus-border);

    border-color: $color-input-focus-border;
  }

  &:disabled,
  &.is-disabled {
    @include select-background-arrow($color-input-placeholder, $color-input-disabled-background);

    border-color: $color-input-disabled-border;
    color: $color-input-placeholder;
    cursor: default;
  }

  &.is-invalid {
    @include select-background-arrow($color-input-invalid-border);

    border-color: $color-input-invalid-border;
  }

  &.is-valid {
    @include select-background-arrow($color-input-valid-border);

    border-color: $color-input-valid-border;
  }
}
