@use "sass:math";

/* mqp:start */
.mc-stars-result {
  $parent: get-parent-selector(&);

  &__text {
    @include set-hidden-input;
  }

  &__visual {
    @include set-stars-container($stars-default-size);

    background:
      url(inline-icons('star-full-32', $color-star-empty)) repeat-x
      left top;
    background-size: $stars-default-bg-size $stars-default-bg-size;
    display: block;
    position: relative;

    &::before {
      background:
        url(inline-icons('star-full-32', $color-star-full)) repeat-x
        left top;
      background-size: $stars-default-bg-size $stars-default-bg-size;
      bottom: 0;
      content: '';
      display: block;
      left: 0;
      position: absolute;
      top: 0;
    }
  }

  @each $size, $props in $stars-sizes {
    &--#{$size} {
      @if ($size != 'm') {
        #{$parent}__visual {
          @include set-stars-container($props);

          /* fix for ie11 */
          $bg-variation-size: map-deep-get($stars-sizes, $size, 'width');

          background-size: $bg-variation-size $bg-variation-size;

          &::before {
            background-size: $bg-variation-size $bg-variation-size;
          }
        }
      }
    }
  }

  @for $i from 1 through 10 {
    &--score-#{$i * 10} {
      #{$parent}__visual::before {
        width: percentage(math.div($i, 10));
      }
    }
  }
}

/* mqp:end */
