@use "sass:math";

/* mqp:start */

.mc-tabs {
  $parent: get-parent-selector(&);

  @include set-font-face();
  @include set-divider("bottom", "light", "100%") {
    bottom: 0;
    left: 0;
    position: absolute;
  }

  background-color: $color-tabs-background;
  position: relative;
  width: 100%;

  @include set-from-screen(m) {
    display: inline-flex;
    width: auto;
  }

  &--no-shadow,
  &--no-divider {
    &::after {
      display: none;
    }
  }

  &:not(#{$parent}--dropdown) {
    &::before {
      @media screen and (max-width: 679px) {
        bottom: magic-unit-rem(0.125, true);
      }
    }
  }

  &__nav {
    @include unstyle-list();

    display: flex;
    margin-top: 0;
    margin-bottom: 0;

    @media screen and (max-width: 679px) {
      overflow: auto hidden;
      white-space: nowrap;
    }
  }

  &__nav,
  &__select {
    position: relative;
  }

  &__link,
  &__element {
    @include set-font-scale("04", "m");
    @include set-font-weight("semi-bold");
    @include set-focus-floating-base($before: true) {
      bottom: -(math.div($mu025, 2));
      top: -(math.div($mu025, 2));
    }

    align-items: center;
    background: none;
    border: none;
    color: $color-tabs-default;
    cursor: pointer;
    display: flex;
    height: $mu350; // =56px
    justify-content: center;
    outline: none;
    padding-left: $mu075;
    padding-right: $mu075;
    position: relative;
    text-decoration: none;

    &::after {
      background-color: transparent;
      bottom: 0;
      content: "";
      height: $mu025;
      left: $mu150;
      position: absolute;
      right: $mu150;
    }

    &:hover {
      #{$parent}__text {
        background-color: $color-tabs-element-background;
      }
    }

    &:active {
      color: $color-tabs-active-text;

      #{$parent}__text {
        background-color: $color-tabs-active-background;
      }
    }

    &:focus {
      @include set-focus-floating($before: true);
    }

    &--selected {
      color: $color-tabs-selected-text;

      &::after {
        background-color: $color-tabs-selected-border;
      }
    }

    &--disabled {
      cursor: not-allowed;
      background-color: $color-tabs-disabled-background;
      pointer-events: none;

      &,
      &:hover,
      &:focus,
      &:active {
        box-shadow: none;
      }
    }
  }

  &__text {
    align-items: center;
    border-radius: $mu025;
    display: flex;
    gap: $mu025;
    justify-content: center;
    position: relative;
    padding: 0.4375rem $mu075; // =7px 12px
    pointer-events: none;
  }

  &__icon {
    fill: currentColor;
    height: $mu150;
    width: $mu150;
  }

  &--full,
  &--full-centered {
    width: 100%;
  }

  &--full-centered {
    justify-content: center;
  }

  &--dropdown {
    padding: $mu100;
    width: auto;
  }
}

/* mqp:end */
