/* mqp:start */

.mc-tabs {
  $parent: &;

  @include set-font-face();

  display: inline-flex;
  box-shadow: 0 $mu025 $mu025 rgba(0, 0, 0, 0.1);

  &__nav {
    @include unstyle-list();

    margin: 0;
    display: inline-flex;
  }

  &__link {
    @include set-font-scale('06', 'xs');

    position: relative;
    color: $color-font-darker;
    text-decoration: none;
    padding: $mu100 $mu150;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-bottom: 0.125rem solid transparent;
    outline: none;

    &:hover,
    &:active {
      color: $color-primary-01-500;
    }

    &:focus {
      @include set-focus-styles-during();
    }


    &--selected {
      color: $color-primary-01-500;
      border-bottom-color: $color-primary-01-500;

      &:hover {
        color: $color-font-success;
        border-bottom-color: $color-font-success;
      }
    }

    &--disabled {
      cursor: not-allowed;

      &,
      &:hover,
      &:focus,
      &:active {
        color: $color-font-light;
        box-shadow: none;
      }

      &#{$parent}__link--selected {
        color: $color-primary-01-200;
        border-bottom-color: $color-primary-01-200;
      }
    }
  }

  &__item {
    display: flex;
  }

  &--full {
    display: flex;
    justify-content: center;
    box-shadow: 0 $mu025 $mu025 rgba(0, 0, 0, 0.1);
    padding: 0;
  }
}

/* mqp:end */
