@use "sass:math";

/* mqp:start */

.mc-tabs {
  $parent: get-parent-selector(&);

  background-color: $color-tabs-background;
  position: relative;
  width: 100%;

  @include set-from-screen(m) {
    display: inline-flex;
    width: auto;
  }

  &::before {
    bottom: 0;
    box-shadow: 0 $mu025 $mu025 mt-rgba($color-tabs-shadow, 0.1);
    content: "";
    display: block;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
  }

  &--no-shadow {
    &::before {
      box-shadow: none;
    }
  }

  &:not(#{$parent}--dropdown) {
    &::before {
      @media screen and (max-width: 679px) {
        bottom: magic-unit-rem(0.125, true);
      }
    }
  }

  &__nav {
    @include unstyle-list();

    display: flex;
    margin-top: 0;
    margin-bottom: 0;

    @media screen and (max-width: 679px) {
      overflow-x: auto;
      white-space: nowrap;
    }
  }

  &__nav,
  &__select {
    position: relative;
  }

  &__item {
    @media screen and (max-width: 679px) {
      padding: magic-unit-rem(0.125, true);
    }
  }

  &__link {
    @include set-font-scale("05", "s");

    @include set-focus-floating-base {
      bottom: -(math.div($mu025, 2));
      top: -(math.div($mu025, 2));
    }

    background: none;
    border: none;
    border-bottom: 0.125rem solid transparent;
    color: $color-tabs-default;
    cursor: pointer;
    display: block;
    outline: none;
    padding: magic-unit-rem(1.1875, true) $mu150 magic-unit-rem(1.0625, true);
    text-decoration: none;

    &:active,
    &--selected {
      @include set-font-weight("semi-bold");

      color: $color-tabs-active;
    }

    &:focus,
    &:hover {
      color: $color-tabs-hover;
    }

    &:focus {
      @include set-focus-floating();
    }

    &--selected {
      border-bottom-color: $color-tabs-active;

      &:focus,
      &:hover {
        border-bottom-color: $color-tabs-hover;
      }
    }

    &--disabled {
      cursor: not-allowed;

      &,
      &:hover,
      &:focus,
      &:active {
        color: $color-tabs-disabled;
        box-shadow: none;
      }

      &#{$parent}__link--selected {
        color: $color-tabs-active-disabled;
        border-bottom-color: $color-tabs-active-disabled;
      }
    }
  }

  &--full,
  &--full-centered {
    @include set-from-screen(m) {
      width: 100%;
    }
  }

  &--full-centered {
    @include set-from-screen(m) {
      justify-content: center;
    }
  }

  &--dropdown {
    padding: $mu100;
    width: auto;
  }
}

/* mqp:end */
