/* mqp:start */
.mc-textarea {
  $border-width: get-border("s");

  @include reset-input();
  @include set-font-scale("05", "m");
  @include set-border-radius("m");

  display: block;
  width: 100%;
  position: relative;
  color: $color-font-darker;
  border: $border-width solid $color-input-border;
  background: $color-input-background;
  transition: all ease 200ms;

  // remove border height and center baseline optically
  padding:
    calc(#{$mu075} - 0.125em - #{$border-width}) $mu075
    calc(#{$mu075} + 0.125em - #{$border-width});

  &:hover {
    border-color: $color-input-hover-border;
  }

  &.is-valid {
    border-color: $color-input-valid-border;
  }

  &.is-invalid {
    border-color: $color-input-invalid-border;
  }

  &:focus {
    @include set-shadow-focus();
  }

  &:disabled {
    border-color: $color-input-disabled-background;
    background: $color-input-disabled-background;
    cursor: not-allowed;
  }

  &::placeholder {
    color: $color-input-placeholder;
  }
}

/* mqp:end */
