<div class="example">
  <div class="mc-stars-input">
    <input type="radio" name="rating" value="0" id="no-rate" class="mc-stars-input__radio" checked
      aria-label="No opinion given" />

    <input type="radio" name="rating" value="1" id="ratingstar1" class="mc-stars-input__radio">
    <label for="ratingstar1" class="mc-stars-input__label">
      <span class="mc-stars-input__text">Very bad</span>
    </label>

    <input type="radio" name="rating" value="2" id="ratingstar2" class="mc-stars-input__radio">
    <label for="ratingstar2" class="mc-stars-input__label">
      <span class="mc-stars-input__text">Bad</span>
    </label>

    <input type="radio" name="rating" value="3" id="ratingstar3" class="mc-stars-input__radio">
    <label for="ratingstar3" class="mc-stars-input__label">
      <span class="mc-stars-input__text">Medium</span>
    </label>

    <input type="radio" name="rating" value="4" id="ratingstar4" class="mc-stars-input__radio">
    <label for="ratingstar4" class="mc-stars-input__label">
      <span class="mc-stars-input__text">Good</span>
    </label>

    <input type="radio" name="rating" value="5" id="ratingstar5" class="mc-stars-input__radio">
    <label for="ratingstar5" class="mc-stars-input__label">
      <span class="mc-stars-input__text">Excellent</span>
    </label>
  </div>
</div>