// @use settings
@use "@mozaic-ds/tokens" as *;
@use "../../settings-tools" as *;

// @use component files
@use "t.overlay" as *;

.mc-overlay {
  @include set-page-overlay();
}

.mc-overlay-loader {
  @include set-page-overlay($color-overlay-loader-background, false);

  align-items: center;
  display: flex;
  justify-content: center;
}
