@font-face {
  font-family: 'LeroyMerlin';
  src:
    url('../../static/fonts/LeroyMerlinSans-Web-Regular.woff2')
    format('woff2'),
    url('../../static/fonts/LeroyMerlinSans-Web-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'LeroyMerlin';
  src:
    url('../../static/fonts/LeroyMerlinSans-Web-SemiBold.woff2')
    format('woff2'),
    url('../../static/fonts/LeroyMerlinSans-Web-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'LeroyMerlin', sans-serif;
  color: #444;
  font-size: 16px;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: DodgerBlue;
}

ul,
li {
  margin: 0;
  padding: 0;
}

iframe {
  display: block;
}

pre,
pre code {
  font-size: 12px !important;
  line-height: 1.5 !important;
}

pre[class*='language-'] {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

*:not(pre) > code[class*='language-'] {
  display: inline-block !important;
  padding: 2px 8px !important;
  font-size: 12px !important;
  background: #f5f5f5 !important;
  color: #333 !important;
  text-shadow: none !important;
  box-shadow: none !important;
  border: solid 1px #e5e5e5 !important;
  line-height: 1.1 !important;
}

blockquote {
  margin-left: 0;
  padding: 8px;
  padding-left: 24px;
  font-size: 1.15rem;
  border-left: solid 3px rgba(0, 0, 0, 0.2);
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
}

blockquote p {
  margin: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 0.875rem;
}

tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

td {
  padding: 8px;
}

th {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding: 16px 8px;
  text-align: left;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

.nav-open {
  overflow: hidden;
}
