@import "tokens";
@import "settings-tools/all-settings";

.example {
  @import "components/c.stars-result";

  display: block;
  padding: 0 $mu150;

  &__item {
    margin: $mu150 auto;
  }
}
