@import "settings-tools/all-settings";
@include import-font-families();
html {
  @include set-font-face();
}
@import "components/c.links";
@import "components/c.stars-result";

.example {
  display: block;
  padding: 0 $mu150;

  &__item {
    margin: $mu150 auto;
  }
}
