@import "tokens";
@import "settings-tools/all-settings";
@import "components/c.stars-input";

.example {
  display: block;
  padding: 0 $mu150;

  &__item {
    margin: $mu150 auto;
  }
}
