@use "sass:map";

// @use settings
@use "@mozaic-ds/tokens" as *;
@use "../../settings-tools/s.magic-unit" as *;

$loader-sizes: (
  "s": (
    "height": $mu150,
    "stroke-width": 4,
    "width": $mu150,
  ),
  "m": (
    "height": $mu200,
    "stroke-width": 4,
    "width": $mu200,
  ),
  "l": (
    "height": $mu400,
    "stroke-width": 8,
    "width": $mu400,
  ),
);
$loader-theme: (
  "dark": $color-grey-900,
  "light": $color-grey-000,
  "primary": $color-primary-01-600,
);
$animation-duration-loader: 2s;
$loader-default-size: map.get($loader-sizes, "m");
$loader-default-theme: map.get($loader-theme, "primary");
