@use "sass:map";

@mixin set-loader-size($props, $parent) {
  $height-spinner-loader: map.get($props, "height");
  $width-spinner-loader: map.get($props, "width");
  $stroke-width-loader: map.get($props, "stroke-width");

  #{$parent} {
    &__spinner {
      height: $height-spinner-loader;
      width: $width-spinner-loader;
    }

    &__path {
      stroke-width: $stroke-width-loader;
    }
  }
}

@mixin set-loader-theme($color-loader, $parent) {
  color: $color-loader;

  #{$parent}__path {
    stroke: currentcolor;
  }
}
