@import "settings-tools/_all-settings";

@include import-font-families();

@import "components/_c.badge";
@import "components/_c.button";
@import "components/_c.checkbox";
@import "components/_c.text-input";
@import "components/_c.left-icon-input";
@import "components/_c.links";
@import "components/_c.select";
@import "components/_c.pagination";
@import "components/_c.tag";
@import "components/_c.toggle";
@import "components/_c.datatable"; // mandatory
@import "components/_c.datatable-tools"; // mandatory
@import "components/_c.datatable-header"; // import when using the DataTable with a header
@import "components/_c.datatable-footer"; // import when using the DataTable with a footer

html,
body {
  overflow: auto !important;
}

.example {
  padding: $mu125;
}
