@import "tokens";
@import "settings-tools/all-settings";
@include import-font-families();
html {
  @include set-font-face();
}
@import "components/c.badge";
@import "components/c.button";
@import "components/c.checkbox";
@import "components/c.text-input";
@import "components/c.left-icon-input";
@import "components/c.links";
@import "components/c.select";
@import "components/c.pagination";
@import "components/c.tag";
@import "components/c.toggle";
@import "components/c.listbox";
@import "components/c.datatable"; // mandatory
@import "components/c.datatable-tools"; // mandatory
@import "components/c.datatable-subtable"; // import when using the DataTable with Expand

html,
body {
  overflow: auto !important;
}

.example {
  padding: $mu125;
}

.size {
  min-width: 10rem;
  width: 10rem;
}
