@import 'settings-tools/_all-settings';
@import 'components/_c.checkbox';

.example {
  @include set-font-face('regular');

  margin: $mu200 auto;
  padding: 0 $mu400;
  width: fit-content;

  &__item {
    @include set-flexy;

    list-style-type: none;
    margin: $mu100 0;
    text-align: center;
  }

  &__label {
    padding-left: $mu100;
    margin-left: $mu100;
    border-left: solid 1px $color-grey-200;
  }
}
