@import 'settings-tools/_all-settings';

@include import-font-families();

@import 'components/_c.toggle';

* {
  box-sizing: border-box;
}

.example {
  @include set-font-face('regular');

  margin: $mu200;
}

.mc-toggle__label {
  max-width: 300px;
}
