@import "settings-tools/all-settings";
@include import-font-families();
html {
  @include set-font-face();
}
@import "components/c.tag";

.example {
  padding: $mu200;

  &__item {
    padding: $mu100;

    &--dark {
      background-color: $color-grey-999;
    }
  }
}
