@import "settings-tools/all-settings";
@include import-font-families();
html {
  @include set-font-face();
}
@import "components/c.links";
@import "components/c.card";

.example {
  @include set-from-screen("m") {
    display: flex;
    justify-content: center;
  }

  &__item {
    flex-shrink: 0;
    padding: $mu200;
  }

  p {
    margin: 0;
  }
}
