@import 'settings-tools/_all-settings';

@include import-font-families();

@import 'components/_c.links';
@import 'components/_c.card';

.example {
  padding: 0 $mu200;

  & > div {
    margin: 0 auto;
  }

  p {
    margin: 0;
  }
}
