@import "settings-tools/all-settings";
@include import-font-families();
@import "components/c.links";
@import "components/c.card";

.example {
  padding: 0 $mu200;

  & > div {
    margin: 0 auto;
  }

  p {
    margin: 0;
  }
}
