.mc-divider {
  position: relative;

  @each $position in $divider-positions {
    &-#{$position} {
      border-#{$position}: $divider-border-size-s solid $color-divider-default;

      @each $name, $props in $dividers {
        @if $name != "default" {
          &--#{$name} {
            border-#{$position}-color: $props;
          }
        }
      }

      @each $size, $props in $divider-sizes {
        @if $size != "s" {
          &--#{$size} {
            border-#{$position}-width: $props;
          }
        }
      }
    }
  }
}
