<div class="example">
  <textarea
    class="mc-textarea"
    name="foo"
    id="foo"
    rows="4"
    placeholder="placeholder"
  ></textarea>
  <br />
  <textarea
    class="mc-textarea is-focus"
    name="foo"
    id="foo"
    rows="4"
    placeholder="focus"
  ></textarea>
  <br />
  <textarea
    class="mc-textarea is-valid"
    name="foo"
    id="foo"
    rows="4"
    placeholder="valid"
  ></textarea>
  <br />
  <textarea
    class="mc-textarea is-invalid"
    name="foo"
    id="foo"
    rows="4"
    placeholder="invalid"
  ></textarea>

  <br />
  <textarea
    class="mc-textarea is-invalid"
    name="foo"
    id="foo"
    rows="4"
    disabled
    placeholder="disabled"
  ></textarea>
</div>
