<div class="example">
  <textarea
    class="mc-textarea"
    name="foo"
    id="foo"
    rows="3"
    placeholder="Placeholder"
  ></textarea>
  <br />
  <textarea
    class="mc-textarea is-valid"
    name="foo"
    id="foo"
    rows="3"
    placeholder="valid"
  >
A valid user content
  </textarea>
  <br />
  <textarea
    class="mc-textarea is-invalid"
    name="foo"
    id="foo"
    rows="3"
    placeholder="invalid"
  >
An invalid user content
  </textarea>
  <br />
  <textarea
    class="mc-textarea"
    name="foo"
    id="foo"
    rows="3"
    disabled
    placeholder="disabled"
  ></textarea>
</div>
