@import "settings-tools/all-settings";
@include import-font-families();
@import "components/c.listbox";

.example {
  @include set-font-family();

  display: flex;
  justify-content: center;
  min-height: 300px;
  padding: 1rem;

  &__size {
    max-width: 20rem;
  }
}
