@import "settings-tools/all-settings";
@include import-font-families();
@import "components/c.listbox";

.example {
  @include set-font-family();
  display: flex;
  align-items: center;
  min-height: 300px;
  padding: 1rem;
}
