@import "tokens";
@import "settings-tools/all-settings";
@include import-font-families();

html {
  @include set-font-face();
}

@import "components/c.button";
@import "components/c.listbox";

.example {
  @include set-font-family();

  min-height: 300px;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}

.button-example {
  margin-left: 1rem;
}
