@import "settings-tools/all-settings";

$example-colors: (
  s: yellow,
  m: orange,
  l: red,
  xl: purple,
  xxl: mediumseagreen,
);
$border-screen-width: get-border("m");
$all-border-width: $border-screen-width * 2;

.example {
  width: calc(100% - #{$all-border-width});
  height: $mu1000;

  &--blue-border {
    @include modify-from-screens($major-screens) {
      border: solid $border-screen-width blue;
    }
  }

  &::after {
    font-family: sans-serif;
    text-transform: uppercase;
    display: block;
    text-align: center;
    font-size: $mu200;
    line-height: 1;
    padding-top: $mu400;
  }

  @each $key, $value in $screens {
    @include set-from-screen($key) {
      background-color: map-get($example-colors, $key);

      &::after {
        content: "#{$key} > #{$value}";
      }
    }
  }
}
