@import "tokens";
@import "settings-tools/all-settings";
@include import-font-families();
@import "components/c.links";
@import "components/c.breadcrumb";

.example {
  @include set-font-face();

  background-color: $color-grey-700;
  display: block;
  padding: $mu150;
}
