name: Pull request

on:
  pull_request:
    branches-ignore:
      - master
  push:
    branches-ignore:
      - master

jobs:
  DeployDemo:
    name: Deploy a Demo
    runs-on: ubuntu-latest

    steps:
      - name: Extract branch name
        id: getbranch
        shell: bash
        run: echo "::set-output name=branch::$(echo ${GITHUB_REF#refs/heads/} | sed -r 's/[^a-zA-Z0-9]+//g' | tr A-Z a-z)"
      - run: echo ${{ github.ref }} | iconv -t ASCII
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: '16'
      - run: npm install yarn -g
      - run: yarn lerna
      - name: Build a production website
        run: yarn build
        env:
          GH_API_TOKEN: ${{ secrets.SVC_GH_API_TOKEN }}
      - uses: ./ci/docker-wait
        env:
          GCLOUD_AUTH: ${{ secrets.GCLOUD_AUTH }}
        with:
          args: ci:wait ${{ steps.getbranch.outputs.branch }}
      - name: deployment
        uses: bobheadxi/deployments@v0.5.2
        id: deployment
        with:
          step: start
          token: ${{ secrets.SVC_GH_API_TOKEN }}
          env: staging
          ref: ${{ github.head_ref }}
          transient: true
      - name: Deploy on App Engine
        id: appengine
        uses: google-github-actions/deploy-appengine@v0.8.2
        with:
          project_id: mozaic-design-system-dtrp
          credentials: ${{ secrets.GCLOUD_AUTH }}
          version: ${{ steps.getbranch.outputs.branch }}
          deliverables: app.demo.yaml
          promote: false
      - name: Update deployment status
        uses: bobheadxi/deployments@v0.5.2
        with:
          step: finish
          token: ${{ secrets.SVC_GH_API_TOKEN }}
          status: ${{ job.status }}
          deployment_id: ${{ steps.deployment.outputs.deployment_id }}
          env_url: ${{ steps.appengine.outputs.url }}
