name: Pull request

on:
  pull_request:
    branches-ignore:
      - master
  push:
    branches-ignore:
      - master

jobs:
  DeployDemo:
    name: Deploy a Demo
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      deployments: write

    steps:
      - name: Extract branch name
        id: getbranch
        shell: bash
        run: echo "::set-output name=branch::$(echo ${GITHUB_REF#refs/heads/} | sed -r 's/[^a-zA-Z0-9]+//g' | tr A-Z a-z)"
      - run: echo ${{ github.ref }} | iconv -t ASCII
      - uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: npm install -g corepack
      - run: corepack enable
      - run: yarn install
      - name: Build a production website
        run: yarn build
        env:
          GH_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: ./ci/docker-wait
        env:
          GCLOUD_AUTH: ${{ secrets.GCLOUD_AUTH }}
        with:
          args: ci:wait ${{ steps.getbranch.outputs.branch }}
      - name: deployment
        uses: bobheadxi/deployments@v1
        id: deployment
        with:
          step: start
          token: ${{ secrets.GITHUB_TOKEN }}
          env: staging
          ref: ${{ github.head_ref }}
      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v1'
        with:
          workload_identity_provider: ${{ secrets.GCP_WI_PROVIDER }}
          service_account: ${{ secrets.GCP_SERVICE_ACCOUNT_EMAIL }}
      - id: 'deploy'
        name: 'Deploy on App Engine'
        uses: 'google-github-actions/deploy-appengine@v1'
        with:
          project_id: mozaic-design-system-dtrp
          deliverables: app.demo.yaml
          version: ${{ steps.getbranch.outputs.branch }}
          promote: false
      - name: Update deployment status
        uses: bobheadxi/deployments@v1
        with:
          step: finish
          token: ${{ secrets.GITHUB_TOKEN }}
          status: ${{ job.status }}
          env: ${{ steps.deployment.outputs.env }}
          deployment_id: ${{ steps.deployment.outputs.deployment_id }}
          env_url: ${{ steps.deploy.outputs.version_url }}
