name: Release

on: release

jobs:
  DeployRelease:
    name: deploy a mozaic release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: 10.19
      - run: npm install yarn -g
      - run: yarn lerna
      - name: Build a production website
        run: yarn build
        env:
          GH_API_TOKEN: ${{ secrets.SVC_GH_API_TOKEN }}
      - name: Deploy Tag
        uses: actions-hub/gcloud@master
        env:
          PROJECT_ID: mozaic-design-system-dtrp
          APPLICATION_CREDENTIALS: ${{ secrets.GCLOUD_AUTH }}
        with:
          args: app deploy app.yaml --project=mozaic-design-system-dtrp --version=$(echo ${{ github.ref }} | iconv -t ASCII | sed -r 's/[^a-zA-Z0-9]+//g' | sed -r 's/refstags//g' | sed -r 's/^-+\\|-+$//g' | tr A-Z a-z) --promote
      - name: Deployement tag url
        uses: adeo/httpie.action@master
        env:
          GH_API_TOKEN: ${{ secrets.SVC_GH_API_TOKEN }}
        with:
          args:
            POST https://535e8ft89a.execute-api.eu-west-3.amazonaws.com/dev/deployment
            "ref=${{ github.ref }} env=production gh_token=$GH_API_TOKEN"
