
.iconSize_16px {
  width: 16px;
  height: 16px;
}

.iconSize_24px {
  width: 24px;
  height: 24px;
}

.iconSize_32px {
  width: 32px;
  height: 32px;
}

.iconSize_48px {
  width: 48px;
  height: 48px;
}

.iconSize_64px {
  width: 64px;
  height: 64px;
}
