@import "settings-tools/all-settings";
@include import-font-families();
html {
  @include set-font-face();
}
@import "components/c.tooltip";

.example {
  padding: 3rem;
  display: flex;
  justify-content: center;
}
